@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<FluentBreadcrumb>
    @foreach (var item in _items)
    {
        @if (item.Href == "#" && item.OnClick.HasDelegate)
        {
            <div @onclick="item.OnClick" @onclick:preventDefault="true"  @onclick:stopPropagation="true">
                <FluentBreadcrumbItem Href="#">
                    @if (item.IconCollapsed is not null)
                    {
                        <FluentIcon Value="@item.IconCollapsed" Slot="start"/>
                    }
                    @item.Text
                </FluentBreadcrumbItem>
            </div>
        }
        else
        {
            <FluentBreadcrumbItem Href="@item.Url">
                @if (item.IconCollapsed is not null)
                {
                    <FluentIcon Value="@item.IconCollapsed" Slot="start"/>
                }
                @item.Text
            </FluentBreadcrumbItem>
        }
    }
</FluentBreadcrumb>