@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (CurrentUser is not null)
{
	@if (_adminMenu.Count > 0)
	{
		<div class="tf-header__item">
			<TucMenu Items="_adminMenu" />
		</div>
	}
	<div class="tf-header__item">
		<div class="tf-menu">
			<div class="tf-menu__item">
				<TucLanguageSwitch User="CurrentUser"/>
			</div>
			<div class="tf-menu__item">
				<TucNotificationCenter />
			</div>
			<div class="tf-menu__item">
				<TucAnchor Href="#" OnClick="() => _visible = !_visible"
						Id="user-menu-toggle" Appearance="@Appearance.Hypertext">
					<TucAvatar User="CurrentUser" />
				</TucAnchor>
				<FluentMenu Width="200px" @bind-Open="_visible" Anchor="user-menu-toggle" UseMenuService="false">
					<FluentMenuItem Disabled="true">
						@CurrentUser.FirstName @CurrentUser.LastName
						<span slot="start">
							<FluentIcon Value="@TfConstants.GetIcon("Person")!.WithColor("var(--tf-layout-color)")" Slot="start" />
						</span>
					</FluentMenuItem>
					<FluentMenuItem OnClick="_setUrlAsStartup">
						@LOC("Set as Startup URL")
						<span slot="start">
							<FluentIcon Value="@TfConstants.GetIcon("Pin")!.WithColor("var(--tf-layout-color)")" Slot="start" />
						</span>
					</FluentMenuItem>
					<FluentMenuItem OnClick="_logout">
						@LOC("Logout")
						<span slot="start">
							<FluentIcon Value="@TfConstants.GetIcon("SignOut")!.WithColor("var(--tf-layout-color)")" Slot="start" />
						</span>
					</FluentMenuItem>
				</FluentMenu>
			</div>
		</div>
	</div>


	<FluentMenu Width="200" @bind-Open="_helpVisible" Anchor="help-switch-btn" UseMenuService="false">
		<FluentMenuItem Href="https://tefter.webvella.com/docs">Online Documentation</FluentMenuItem>
		<FluentMenuItem Href="https://tefter.webvella.com">Tefter website</FluentMenuItem>
		<FluentMenuItem Disabled>Non commercial use license</FluentMenuItem>
		<FluentMenuItem Disabled>Tefter v1.23</FluentMenuItem>
	</FluentMenu>
}



