@inherits TfBaseComponent

<div class="location">
	@if (_namedLocation is not null)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@_namedLocation.Title">
						@_namedLocation.Title
						@* <FluentIcon Color="@Color.Neutral" Value="@_namedLocation.Icon" Slot="start" /> *@
					</FluentBreadcrumbItem>
				</FluentBreadcrumb>
			</div>
		</div>
	}
	else if (SpaceState.Value.Space is not null)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@SpaceState.Value.Space.Name">
						@RenderUtils.StringOverflow(SpaceState.Value.Space.Name, _ellipsisCount)
					</FluentBreadcrumbItem>
					@if (SpaceState.Value.SpaceView is not null)
					{
						<FluentBreadcrumbItem title="@SpaceState.Value.SpaceView.Name">
							@RenderUtils.StringOverflow(SpaceState.Value.SpaceView.Name, _ellipsisCount)
						</FluentBreadcrumbItem>
						@if (_urlData.SpaceSection == "manage")
						
						{
							<FluentBreadcrumbItem>@LOC("Manage")</FluentBreadcrumbItem>
						}
					}
					@if (SpaceState.Value.SpaceData is not null)
					{
						<FluentBreadcrumbItem>
							<FluentIcon Value="TfConstants.SpaceDataIcon"/>
						</FluentBreadcrumbItem>
						<FluentBreadcrumbItem title="@SpaceState.Value.SpaceData.Name">
							@RenderUtils.StringOverflow(SpaceState.Value.SpaceData.Name, _ellipsisCount)
						</FluentBreadcrumbItem>
					}
				</FluentBreadcrumb>
			</div>
		</div>
	}

</div>


