@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="grid-properties-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="grid-properties-selector" UseMenuService="false">
			<FluentMenuItem>
				Freeze Columns
				<FluentIcon Value="@TfConstants.GetIcon("TableFreezeColumn")" Slot="start" Color="@Color.Accent"/>
			</FluentMenuItem>
			<FluentMenuItem>
				Conditional Format
				<FluentIcon Value="@TfConstants.GetIcon("PaintBucket")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem>
				Manage Columns
				<FluentIcon Value="@TfConstants.GetIcon("Column")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
		</FluentMenu>
	</div>
}

