@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucLayoutPageContent Title="@LOC("My Dashboard")" Icon="Board">
    <Toolbar>
        @if (_allBookmarks.Count > 0)
        {
            @if (!String.IsNullOrWhiteSpace(_tagQuery))
            {
                <FluentButton Appearance="Appearance.Outline"
                              IconEnd="@TfConstants.GetIcon("Dismiss")!.WithColor(Color.Error)"
                              OnClick="@_removeTagQuery">#@_tagQuery</FluentButton>
            }

            <FluentSearch Placeholder="@LOC("search...")" AutoComplete="off" Value="@_search"
                          ValueChanged="_searchValueChanged"
                          @ref="_refSearch"/>
            <FluentButton Appearance="Appearance.Outline"
                          IconStart="@TfConstants.GetIcon("ArrowSortDownLines")!.WithColor(_order == TucMyBookmarksOrder.Newest ? Color.Accent : Color.Neutral)"
                          OnClick="@(() => _orderChanged(TucMyBookmarksOrder.Newest))"/>
            <FluentButton Appearance="Appearance.Outline"
                          IconStart="@TfConstants.GetIcon("ArrowSortUpLines")!.WithColor(_order == TucMyBookmarksOrder.Oldest ? Color.Accent : Color.Neutral)"
                          OnClick="@(() => _orderChanged(TucMyBookmarksOrder.Oldest))"/>
            <FluentButton Appearance="Appearance.Outline"
                          IconStart="@TfConstants.GetIcon("TextSortAscending")!.WithColor(_order == TucMyBookmarksOrder.Alpha ? Color.Accent : Color.Neutral)"
                          OnClick="@(() => _orderChanged(TucMyBookmarksOrder.Alpha))"/>
            <FluentButton Appearance="Appearance.Outline"
                          IconStart="@TfConstants.GetIcon("TextSortDescending")!.WithColor(_order == TucMyBookmarksOrder.AlphaReverse ? Color.Accent : Color.Neutral)"
                          OnClick="@(() => _orderChanged(TucMyBookmarksOrder.AlphaReverse))"/>
        }
    </Toolbar>
    <Aside>
        <div class="tflpc__content__aside__nav">
            <TucTreeView Items="_nav"/>
            @if (_tagNav.Count > 0)
            {
                <div class="tf-treemenu__header">@LOC("Followed Tags")</div>
                <TucTreeView Items="_tagNav"/>
            }
        </div>
    </Aside>
    <ChildContent>
        <div style="padding:var(--tf-padding)">
            @if (_allBookmarks.Count > 0)
            {
                <FluentGrid Spacing="1">
                    @foreach (var item in _dashboard)
                    {
                        <FluentGridItem xs="12" sm="6" md="4" lg="3" xxl="2">
                            <TucTileCard Title="@item.Title"
                                         Subtitle="@item.SubTitle"
                                         Description="@item.Description"
                                         FluentIconName="@item.Icon"
                                         Color="@item.Color"
                                         IconText="@item.IconText"
                                         Menu="item.Menu"
                                         Actions="item.Actions"
                                         Footer="@item.Footer"/>
                        </FluentGridItem>
                    }
                </FluentGrid>
                @if (_page > 1 || (_dashboard.Count == _pageSize))
                {
                    <TucPager GoLast="@_goLastPage" GoOnPage="@_goOnPage" Style="margin-top:1rem;"/>
                }

                @if (_dashboard.Count == 0)
                {
                    <FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info" Style="margin-top:1rem;">
                        @LOC("No items found")
                    </FluentMessageBar>
                }
            }
            else
            {
                <FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info" Style="margin-top:1rem;">
                    @LOC("You do not have any items yet!")
                </FluentMessageBar>
            }
        </div>
    </ChildContent>
</TucLayoutPageContent>