@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div style="padding:var(--tf-layout-content-padding)">
		@if (String.IsNullOrWhiteSpace(UriInitialized))
		{
			<TucSkeletonPageHeader />
		}
		else if (_item is null)
		{
			<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
		}
		else
		{
			<TucPageHeader Icon="@TfConstants.GetIcon("Document")" IconColor="@TfConstants.AdminColor" Class="page-title"
						   Area="@LOC("Page")" Title="@_item.Name" />

			<TucScreenRegionComponent RegionContext="@(new TfAdminPageScreenRegionContext())" Scope="@(new TfScreenRegionScope(null, _item.Id))" />
		}
	</div>
</TucErrorBoundry>