@namespace WebVella.Tefter.Web.ViewColumns
@inherits TucBaseViewColumn<TfDateTimeEditColumnComponentOptions>
@if (Context.Mode == TucComponentMode.Display)
{
	<div>
		<FluentStack Wrap="false">
			<FluentDatePicker Id="@_valueInputId"
							  Value="@_value"
							  ValueChanged="@((x) => _valueChanged(x))"
							  View="@componentOptions.CalendarViewsSelection"
							  Style="width:60%;" />
			<FluentTimePicker Id="@_valueTimeInputId"
							  Value="@_value"
							  ValueChanged="@((x) => _valueChanged(x))"
							  Style="width:40%;" />
		</FluentStack>
	</div>
}
else if (Context.Mode == TucComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Change confirmation")" />
			<FluentCheckbox Value="@componentOptions.ChangeRequiresConfirmation"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeRequiresConfirmation),x))
							Label="@LOC("requires confirmation")" />
		</FluentGridItem>
		<FluentGridItem xs="8">
			<FluentTextField Label="@LOC("Confirmation message")"
							 Value="@componentOptions.ChangeConfirmationMessage" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeConfirmationMessage),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Selection method")" />
			<FluentSelect Items="@(Enum.GetValues<CalendarViews>())"
						  OptionValue="@((p)=> ((int)p).ToString())"
						  OptionText="@((x)=>x.ToString())"
						  TOption="CalendarViews"
						  SelectedOption="@componentOptions.CalendarViewsSelection"
						  SelectedOptionChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.CalendarViewsSelection),x))
						  Value="@(((int)componentOptions?.CalendarViewsSelection).ToString())" />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


