@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@LOC("Coloring Rule")</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	@if (String.IsNullOrWhiteSpace(_error))
	{
		<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="@TfConstants.GetIcon("Add")"
		              Loading="_isSubmitting" Disabled="_isSubmitting">@LOC("Add rule")</FluentButton>
	}
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	@if (!string.IsNullOrWhiteSpace(_error))
	{
		<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>
	}
	else
	{
		<FluentGrid>
			<FluentGridItem xs="4">
				<FluentInputLabel Label="@("Foreground color")"/>
				<TucSelectColor @bind-Value="@_form.ForegroundColor"/>
				<TucValidationMessage Field="@(nameof(_form.ForegroundColor))" Errors="_validationErrors"/>
			</FluentGridItem>
			<FluentGridItem xs="4">
				<FluentInputLabel Label="@("Background color")"/>
				<TucSelectColor @bind-Value="@_form.BackgroundColor"/>
				<TucValidationMessage Field="@(nameof(_form.BackgroundColor))" Errors="_validationErrors"/>
			</FluentGridItem>
		</FluentGrid>
		<TucDivider Style="margin:15px 0" Title="ROW FILTER"/>
		<TucFilterQueryCard @bind-Items="_form.Filters" ViewColumns="@Content.Columns" Provider="@Content.Provider"
		                    AllProviders="@Content.AllProvider"
		                    AllSharedColumns="@Content.AllSharedColumns" OneLevelOnly="true"/>

		<TucDivider Style="margin:15px 0" Title="APPLICABLE COLUMNS"/>
		<TucCard>
			<ToolbarTemplate>
				<FluentStack VerticalAlignment="VerticalAlignment.Center">
					<div style="color:var(--neutral-foreground-hint)">Columns:</div>
					<TucSelect SelectedOption="@_selectedOption"
					           SelectedOptionChanged="(x => _addColumnHandler(x))"
					           TOption="TfSpaceViewColumn" Required="false"
					           Items="@_options" Style="width:100%"
					           Placeholder="@LOC("select a add...")"
					           OptionValue="(x => x.QueryName)"
					           OptionText="@(x => !String.IsNullOrWhiteSpace(x.Title) ? x.Title : "no title")"/>
				</FluentStack>
			</ToolbarTemplate>
			<ChildContent>
				@if (_selectedOptions.Count == 0)
				{
					<div
						style="color:var(--neutral-foreground-hint);">@LOC("Applies to all columns")</div>
				}
				else
				{
					<FluentStack HorizontalGap="5">
						@foreach (var column in _selectedOptions)
						{
							<FluentBadge Class="tf-input-badge"
							             OnDismissClick="@(() => _removeColumnHandler(column))">@(column.Title ?? "no title")</FluentBadge>
						}
					</FluentStack>
				}
			</ChildContent>
		</TucCard>
	}
</FluentDialogBody>
