@namespace WebVella.Tefter.Talk.Components
@inherits TfBaseComponent
<FluentMenuItem Disabled="@(RegionContext.SelectedDataRows.Count == 0)" OnClick="_onClick">
	Attach Documents
	<FluentIcon Value="@TfConstants.GetIcon("Document")" Slot="start" Color="@Color.Accent" />
	@if (RegionContext.SelectedDataRows.Count > 0)
	{
		<span slot="end">
			<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@RegionContext.SelectedDataRows.Count</FluentBadge>
		</span>
	}
</FluentMenuItem>