@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="@($"sidebar-nav {(TfUserState.Value.SidebarExpanded ? "expanded" : "collapsed")}")">
	<div class="sidebar-toolbar">
		<div class="sidebar-toolbar-search">
			<FluentTextField Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="500" Value=@search ValueChanged="onSearch" />
		</div>
		<div class="sidebar-toolbar-actions">
			<FluentButton Id="space-settings" Title="space actions"
						  OnClick="() => _settingsMenuVisible = !_settingsMenuVisible" Appearance="@Appearance.Outline">
				<FluentIcon Value="@TfConstants.GetIcon("Settings")" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
			</FluentButton>
			<FluentMenu Anchor="space-settings" @bind-Open="_settingsMenuVisible" Width="200px" UseMenuService="false">
				<FluentMenuItem OnClick="onManageSpaceClick">
					@LOC("Manage Space")
					<FluentIcon Value="@TfConstants.EditIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
				</FluentMenuItem>
				<FluentMenuItem OnClick="onViewsListClick">
					@LOC("Views List")
					<FluentIcon Value="@TfConstants.SpaceViewIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
				</FluentMenuItem>
				<FluentDivider></FluentDivider>
				<FluentMenuItem OnClick="onAddClick">
					@LOC("Create Dataset")
					<FluentIcon Value="@TfConstants.AddIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
				</FluentMenuItem>

			</FluentMenu>
		</div>
	</div>
	<div class="sidebar-inner">
		<FluentNavMenu Style="width:100%">
			@foreach (var item in _getMenu())
			{
				<FluentNavLink Href="@item.Url" Match="@item.Match" Data="item" Id="@item.Id"
							   Icon="item.Icon" IconColor="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString">@item.Title</FluentNavLink>
			}
		</FluentNavMenu>
	</div>
</div>

