@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucCard>
	<TitleTemplate>
		<FluentButton OnClick="_addAllColumns" IconStart="@TfConstants.GetIcon("AddSquareMultiple")"
		              Appearance="@Appearance.Outline"
		              Disabled="@(_options.Count == 0 || _submitting || _hasAllColumns)">@LOC("(*) all provider columns")</FluentButton>
	</TitleTemplate>
	<ToolbarTemplate>
		@if (_options.Count > 0)
		{
			<TucSelect SelectedOption="@_selectedColumn"
			           SelectedOptionChanged="((column) => _addColumn(column))"
			           TOption="TfDatasetColumn" Required="false"
			           OptionValue="@((p) => p.ColumnName)"
			           OptionText="@(p => p.ColumnName)"
			           Items="@_options" Width="300px"
			           Placeholder="@LOC("select column to be added")"/>
		}
		else
		{
			<FluentTextField TextFieldType="@TextFieldType.Text" Value=@LOC("all columns added") Style="width:300px"
			                 Disabled="true"/>
		}
	</ToolbarTemplate>
	<ChildContent>

		@if (_items.Count == 0)
		{
			<FluentMessageBar AllowDismiss="false"
			                  Intent="@MessageIntent.Info">@LOC("This dataset will return ALL data provider columns (only) if not columns are selected. To add limitation or connected data select columns from the list.")</FluentMessageBar>
		}
		else
		{
			@if (_hasAllColumns)
			{
				<table class="tf-grid" style="margin-bottom: 0.5rem;">
					<thead class="tf-grid-thead">
					<tr class="tf-grid-thead-bkg"></tr>
					<tr class="tf-grid-tr">
						<th class="tf-grid-th"></th>
						<th class="tf-grid-th">type</th>
						<th class="tf-grid-th">tefter name</th>
						<th class="tf-grid-th">data type</th>
						<th class="tf-grid-th">source name</th>
					</tr>
					</thead>					
					<tbody class="tf-grid-tbody">
					<tr @key=@Guid.NewGuid() class="tf-grid-tr">
						<td class="tf-grid-td" style="width:1%;">
							<div>
								<FluentButton Appearance="@Appearance.Outline" OnClick="@_removeAllColumns"
								              Title="@LOC("Delete column")"
								              Disabled="_submitting">
									<FluentIcon Color="@Color.Error" Value="@TfConstants.GetIcon("Delete")"/>
								</FluentButton>
							</div>
						</td>
						<td class="tf-grid-td" style="vertical-align:middle;width:120px;min-width:120px;">
							<div>
								<FluentBadge Fill="somevalue" Color="white" BackgroundColor="var(--tf-green-700)"
								             Style="width:100%">primary column
								</FluentBadge>
							</div>
						</td>
						<td class="tf-grid-td">
							<div><strong>*</strong></div>
						</td>						
						<td class="tf-grid-td" colspan="2">
							<div>(*) - current provider columns wildcard selector</div>
						</td>
					</tr>
					</tbody>
				</table>
			}

			<table class="tf-grid">
				@if (!_hasAllColumns)
				{
					<thead class="tf-grid-thead">
					<tr class="tf-grid-thead-bkg"></tr>
					<tr class="tf-grid-tr">
						<th class="tf-grid-th"></th>
						<th class="tf-grid-th">type</th>
						<th class="tf-grid-th">tefter name</th>
						<th class="tf-grid-th">data type</th>
						<th class="tf-grid-th">source name</th>
					</tr>
					</thead>
				}
				<tbody class="tf-grid-tbody">
				@foreach (var context in _items.Where(x=> x.ColumnName != TfConstants.TF_DATASET_WILDCARD_COLUMN_SELECTOR))
				{
					<tr @key=@Guid.NewGuid() class="tf-grid-tr">
						<td class="tf-grid-td" style="width:1%;">
							<div>
								<FluentButton Appearance="@Appearance.Outline" OnClick="@(() => _deleteColumn(context))"
								              Title="@LOC("Delete column")"
								              Disabled="_submitting">
									<FluentIcon Color="@Color.Error" Value="@TfConstants.GetIcon("Delete")"/>
								</FluentButton>
							</div>
						</td>
						<td class="tf-grid-td" style="vertical-align:middle;width:120px;min-width:120px;">
							<div>
								@if (context.SourceType == TfAuxDataSourceType.PrimaryDataProvider)
								{
									<FluentBadge Fill="somevalue" Color="white" BackgroundColor="var(--tf-green-700)"
									             Style="width:100%">primary column
									</FluentBadge>
								}
								else if (context.SourceType == TfAuxDataSourceType.SharedColumn)
								{
									<FluentBadge Fill="somevalue" Color="white" BackgroundColor="var(--tf-purple-700)"
									             Style="width:100%">shared column
									</FluentBadge>
								}
								else if (context.SourceType == TfAuxDataSourceType.AuxDataProvider)
								{
									<FluentBadge Fill="somevalue" Color="white" BackgroundColor="var(--tf-purple-700)"
									             Style="width:100%">connected provider
									</FluentBadge>
								}
								else
								{
									<FluentBadge Fill="somevalue" Color="white" BackgroundColor="var(--tf-red-700)"
									             Style="width:100%">not found
									</FluentBadge>
								}
							</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.ColumnName</div>
						</td>
						<td class="tf-grid-td">
							<div>
								@context.DbType.ToDescriptionString()
							</div>
						</td>
						<td class="tf-grid-td">
							<div>
								@if (!String.IsNullOrWhiteSpace(context.SourceName))
								{
									<div>
										@if (!String.IsNullOrWhiteSpace(context.SourceCode))
										{
											<span>[@context.SourceCode] </span>
										}
										<span>@context.SourceName</span>
									</div>
								}
								<div class="td-description">@context.SourceColumnName</div>
							</div>
						</td>
					</tr>
				}
				</tbody>
			</table>
		}
	</ChildContent>
</TucCard>