@namespace WebVella.Tefter.Web.Addons
@inherits TucBaseViewColumn<TfEmailDisplayColumnComponentOptions>
@if (RegionContext.Mode == TfComponentPresentationMode.Display)
{
	foreach (var item in _value)
	{
		if (!String.IsNullOrWhiteSpace(item) && TfValidators.IsValidEmail(item))
		{
			<div><a href="@($"mailto:{item}")">@item</a></div>
		}
		else
		{
			<div>@item</div>
		}
	}

}
else if (RegionContext.Mode == TfComponentPresentationMode.Options)
{
	<FluentMessageBar Intent="@MessageIntent.Info" Title="@LOC("The selected component has no options")" AllowDismiss="false" />
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


