@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfTimeDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	var value = GetDataObjectByAlias<DateTime>(_valueAlias, null);
	var options = GetOptions();
	var format = options.Format;
	if (string.IsNullOrWhiteSpace(format)) format = Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern;
	<div>@value?.ToString(format)</div>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Format")"
							 Value="@options.Format" Style="width:100%" Immediate ImmediateDelay="500"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.Format),x))
							 Placeholder="@LOC("eg. 'HH:mm:ss'")" />
			<div class="tf-input-description">@LOC("defaults to the system's short time format")</div>
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

