@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="view-setting-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector" UseMenuService="false">
			@if (TfAppState.Value.ActiveSpaceViewBookmark is null || TfAppState.Value.ActiveSpaceViewSavedUrl is null)
			{
				@if (TfAppState.Value.ActiveSpaceViewBookmark is null)
				{
					<FluentMenuItem OnClick="_bookmarkView">
						@LOC("Bookmark View")
						<FluentIcon Value="@TfConstants.BookmarkOFFIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
					</FluentMenuItem>
				}
				@if (TfAppState.Value.ActiveSpaceViewSavedUrl is null)
				{
					<FluentMenuItem OnClick="_saveViewUrl">
						@LOC("Save URL")
						<FluentIcon Value="@TfConstants.GetIcon("LinkAdd")" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
					</FluentMenuItem>
				}
				<FluentDivider />
			}
			<FluentMenuItem OnClick="_manageView">
				@LOC("Manage view")
				<FluentIcon Value="@TfConstants.EditIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
			</FluentMenuItem>
			<FluentMenuItem OnClick="_deleteView">
				@LOC("Delete view")
				<FluentIcon Value="@TfConstants.DeleteIcon" Slot="start" Color="@Color.Error" />
			</FluentMenuItem>
@* 			<FluentMenuItem>
				Manage Access
				<FluentIcon Value="@TfConstants.GetIcon("KeyMultiple")" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
			</FluentMenuItem> *@
			<FluentDivider />
			<FluentMenuItem OnClick="_manageData">
				@LOC("Manage data")
				<FluentIcon Value="@TfConstants.SpaceDataIcon" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
