@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="view-setting-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector" UseMenuService="false">
			<FluentMenuItem OnClick="_manageView">
				@LOC("Manage view")
				<FluentIcon Value="@TfConstants.EditIcon" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
			<FluentMenuItem OnClick="_deleteView">
				@LOC("Delete view")
				<FluentIcon Value="@TfConstants.DeleteIcon" Slot="start" Color="@Color.Error" />
			</FluentMenuItem>
@* 			<FluentMenuItem>
				Manage Access
				<FluentIcon Value="@TfConstants.GetIcon("KeyMultiple")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem> *@
			<FluentDivider />
			<FluentMenuItem OnClick="_manageData">
				@LOC("Manage dataset")
				<FluentIcon Value="@TfConstants.SpaceDataIcon" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
