@namespace WebVella.Tefter.DataProviders.Folder.Addons
@inherits TfBaseComponent

<table class="tf-grid">
	<thead class="tf-grid-thead">
		<tr class="tf-grid-thead-bkg"></tr>
		<tr class="tf-grid-tr">
			<th class="tf-grid-th">shared folder path</th>
			<th class="tf-grid-th">domain</th>
			<th class="tf-grid-th">username</th>
			<th class="tf-grid-th">password</th>
			<th class="tf-grid-th" style="width:160px;">prefix</th>
		</tr>
	</thead>
	<tbody class="tf-grid-tbody">
		@foreach (var context in _form.Shares)
		{
			<tr @key=@(Guid.NewGuid()) class="tf-grid-tr">
				<td class="tf-grid-td">
					<div>
						@context.Path
					</div>
				</td>
				<td class="tf-grid-td">
					<div>
						@context.Domain
					</div>
				</td>
				<td class="tf-grid-td">
					<div>
						@context.Username
					</div>
				</td>
				<td class="tf-grid-td">
					<div>
						@(!String.IsNullOrWhiteSpace(context.Password) ? "********" : "")
					</div>
				</td>
				<td class="tf-grid-td">
					<div>@context.PathPrefix</div>
				</td>
			</tr>
		}
	</tbody>
</table>


