@namespace WebVella.Tefter.Talk.Components
@using WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Title="@LOC("Talk Channels")"
			   Icon="@TfConstants.GetIcon("Comment")" Color="@TfConstants.AdminColor">
	<ToolbarRight>
		<FluentButton Appearance="@Appearance.Outline" OnClick="_createChannelHandler" IconStart="@TfConstants.GetIcon("Add")">
			@LOC("Create channel")
		</FluentButton>
	</ToolbarRight>
	<ChildContent>
		<table class="tf-grid">
			<thead class="tf-grid-thead">
				<tr class="tf-grid-thead-bkg"></tr>
				<tr class="tf-grid-tr">
					<th class="tf-grid-th" style="width:40px;"></th>
					<th class="tf-grid-th">@LOC("channel name")</th>
					<th class="tf-grid-th">@LOC("data identity")</th>
					<th class="tf-grid-th">@LOC("comments count column")</th>
				</tr>
			</thead>
			<tbody class="tf-grid-tbody">
				@foreach (var context in _channels)
				{
					<tr @key=@context.Id class="tf-grid-tr">
						<td class="tf-grid-td">
							<div>
								<FluentStack>
									<FluentButton Title="@LOC("edit channel")" OnClick="@(_ => _editChannelHandler(context))"
												  Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Edit")" />
									<FluentButton Title="@LOC("delete channel")" OnClick="@(_ => _deleteChannelHandler(context))" Appearance="@Appearance.Outline"
												  IconStart="@TfConstants.GetIcon("Delete").WithColor(Color.Error)" />
								</FluentStack>
							</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.Name</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.DataIdentity</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.CountSharedColumnName</div>
						</td>
					</tr>
				}
				@if (_channels.Count == 0)
				{
					<tr class="tf-grid-tr">
						<td class="tf-grid-td" colspan="4">
							<div>
								@LOC("No channels created yet")
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</ChildContent>
</TucPageLayout>
