@namespace WebVella.Tefter.Web.ViewColumns
@inherits TucBaseViewColumn<TfBooleanEditColumnComponentOptions>
@if (Context.Mode == TucComponentMode.Display)
{
	var value = GetDataStructByAlias<bool>(_valueAlias, null);
	<div>
		@if (_isThreeState)
		{
			<FluentCheckbox ThreeState="true" @bind-Value="@_value" @bind-CheckState="_state"
							@bind-CheckState:after=_onValueChange
							Label="@_getLabel()" />
		}
		else
		{
			<FluentCheckbox ThreeState="false" @bind-Value="@_value"
							@bind-Value:after=_onValueChange
							Label="@_getLabel()" />
		}
	</div>

}
else if (Context.Mode == TucComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Label")" />
			<FluentCheckbox Value="@componentOptions.ShowLabel" Style="height:32px;"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ShowLabel),x))
							Label="@LOC("show label")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentTextField Label="@LOC("TRUE label")"
							 Value="@componentOptions.TrueLabel" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.TrueLabel),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
		<FluentGridItem xs="4">
			<FluentTextField Label="@LOC("FALSE label")"
							 Value="@componentOptions.FalseLabel" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.FalseLabel),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
		<FluentGridItem xs="4">
			<FluentTextField Label="@LOC("NULL label")"
							 Value="@componentOptions.NullLabel" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.NullLabel),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Change confirmation")" />
			<FluentCheckbox Value="@componentOptions.ChangeRequiresConfirmation" Style="height:32px;"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeRequiresConfirmation),x))
							Label="@LOC("requires confirmation")" />
		</FluentGridItem>
		<FluentGridItem xs="8">
			<FluentTextField Label="@LOC("Confirmation message")"
							 Value="@componentOptions.ChangeConfirmationMessage" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeConfirmationMessage),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

