@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (TfAuthLayout.GetState().NavigationState.HasNode(RouteDataNode.Home, 0))
{
    <div class="tf-space-header">
        <div class="tf-space-header__icon">
            <FluentIcon Value="@TfConstants.GetIcon("Home")" Focusable="false"></FluentIcon>
        </div>
        <div class="tf-space-header__meta">
            <div class="tf-space-header__meta__title">@LOC("Home")</div>
        </div>
    </div>
}
else if (TfAuthLayout.GetState().NavigationState.HasNode(RouteDataNode.Space, 0))
{
    <div class="tf-space-header">
        <div class="tf-space-header__icon">
            <FluentIcon Value="@TfConstants.GetIcon(_space?.FluentIconName ?? "Circle")" Focusable="false"></FluentIcon>
        </div>
        <div class="tf-space-header__meta">
            <div class="tf-space-header__meta__title">@(_space?.Name ?? LOC("Space"))</div>
        </div>
    </div>
}
else
{
    <div class="tf-space-header">
        <div class="tf-space-header__icon">
            <FluentIcon Value="@TfConstants.GetIcon("Settings")" Focusable="false"></FluentIcon>
        </div>
        <div class="tf-space-header__meta">
            <div class="tf-space-header__meta__title">@LOC("Administration")</div>
        </div>
    </div>
}
