@namespace WebVella.Tefter.UI.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	@if (String.IsNullOrWhiteSpace(_error) && !_isBusy)
	{
		<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
					  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	}
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>
		@if (_isBusy)
		{
			<TucLoadingPane />
		}
		else if (!string.IsNullOrWhiteSpace(_error))
		{
			<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>

		}
		else
		{
			<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
							FormName="submit-form" class="tf-form" novalidate>
				<DataAnnotationsValidator />
				<TucDivider Style="margin-bottom:15px" Title="PROVIDER" />
				<FluentGrid>
					<FluentGridItem xs="4">
						@if (_isCreate)
						{
							<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.DbName
											 Label="@LOC("column name")" Style="width:100%"
											 AutoComplete="off">
								<span slot="start">@_provider.ColumnPrefix</span>
							</FluentTextField>
							<FluentValidationMessage For="@(() => _form.DbName)" />
						}
						else
						{
							<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.DbName
											 Label="@LOC("column name")" Style="width:100%"
											 ReadOnly="true" />
						}
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentSelect SelectedOption="@_form.DbType"
									  SelectedOptionChanged="_dbTypeChanged"
									  TOption="TfDatabaseColumnType"
									  Items="@_providerColumnTypeToSourceTypes.Keys"
									  Style="width:100%"
									  Placeholder="@LOC("select SOURCE column type")"
									  OptionText="@(p => p.ToDescriptionString())"
									  OptionValue="@(p=>((int)p).ToString())"
									  Label="@LOC("data type")" Disabled="!_isCreate" />
						<FluentValidationMessage For="@(() => _form.DbType)" />
					</FluentGridItem>
				</FluentGrid>
				<TucDivider Style="margin:15px 0" Title="SOURCE" />
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Data Link")" />
						<FluentSwitch @bind-Value=@_isConnected UncheckedMessage="@LOC("local data only")"
									  CheckedMessage="@LOC("synchronized with source")" />
					</FluentGridItem>
					@if (_isConnected)
					{
						<FluentGridItem xs="4">
							<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.SourceName
											 Label="@LOC("column name")" Style="width:100%" AutoComplete="off"
											 Placeholder="@LOC("leave empty, if no source")" />
							<FluentValidationMessage For="@(() => _form.SourceName)" />
						</FluentGridItem>
						<FluentGridItem xs="4">
							<FluentSelect @bind-Value="@_form.SourceType"
										  TOption="string"
										  Items="@_providerColumnTypeToSourceTypes[_form.DbType]"
										  Style="width:100%"
										  Label="@LOC("column type")" />
							<FluentValidationMessage For="@(() => _form.SourceType)" />
						</FluentGridItem>

					}
					else
					{
						<FluentGridItem xs="8" Style="display:flex;align-items:end">
							<FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss="false">@LOC("data stored but NOT synchronized")</FluentMessageBar>
						</FluentGridItem>
					}
				</FluentGrid>
				<TucDivider Style="margin:15px 0" Title="OPTIONS" />
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Global search")" />
						<FluentSwitch @bind-Value=@_form.IncludeInTableSearch
									  CheckedMessage="@LOC("included")"
									  UncheckedMessage="@LOC("included")" />
						<FluentValidationMessage For="@(() => _form.IncludeInTableSearch)" />
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentSelect @bind-SelectedOption="@_form.PreferredSearchType"
									  TOption="TfDataProviderColumnSearchType"
									  Items="@_searchTypes" Style="width:100%;min-width:200px;"
									  OptionText="@(p => p.ToString())"
									  OptionValue="@(p => ((int)p).ToString())"
									  Label="@LOC("Preferred search type")" />
						<FluentValidationMessage For="@(() => _form.PreferredSearchType)" />
					</FluentGridItem>
				</FluentGrid>
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Filter")" />
						<FluentSwitch @bind-Value=@_form.IsSearchable
									  CheckedMessage="@LOC("used in filters")"
									  UncheckedMessage="@LOC("used in filters")" />
						<FluentValidationMessage For="@(() => _form.IsSearchable)" />
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Sort")" />
						<FluentSwitch @bind-Value=@_form.IsSortable
									  CheckedMessage="@LOC("used for sorting")"
									  UncheckedMessage="@LOC("used for sorting")" />
						<FluentValidationMessage For="@(() => _form.IsSortable)" />
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Unique")" />
						<FluentSwitch @bind-Value=@_form.IsUnique
									  CheckedMessage="@LOC("only unique values")"
									  UncheckedMessage="@LOC("only unique values")" />
						<FluentValidationMessage For="@(() => _form.IsUnique)" />
					</FluentGridItem>
				</FluentGrid>
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Nullable")" />
						<FluentSwitch @bind-Value=@_form.IsNullable
									  CheckedMessage="@LOC("can be NULL")"
									  UncheckedMessage="@LOC("can be NULL")" />
						<FluentValidationMessage For="@(() => _form.IsNullable)" />
					</FluentGridItem>
					@if (!_form.IsNullable)
					{
						<FluentGridItem xs="4">
							<FluentSelect OptionSelected="@((p) => p == _form.AutoDefaultValue)"
										  @bind-SelectedOption="@_form.AutoDefaultValue"
										  TOption="bool"
										  Items="@(new List<bool>{true, false})"
										  OptionValue="((p) => p.ToString())"
										  OptionText="@((p) => p ? LOC("autogenerated") : LOC("static"))"
										  Style="width:100%;min-width:200px;"
										  Label="@LOC("Default Value")" />
						</FluentGridItem>
						@if (!_form.AutoDefaultValue)
						{
							<FluentGridItem xs="4">
								<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.DefaultValue
												 Label="@LOC("Static value")" Style="width:100%" AutoComplete="off" />
								<FluentValidationMessage For="@(() => _form.DefaultValue)" />
							</FluentGridItem>
						}
					}
				</FluentGrid>


			</FluentEditForm>
		}
	</div>
</FluentDialogBody>
