@* @namespace WebVella.Tefter.UI.Components *@
@* @inherits TfBaseComponent *@
@* <TucPageLayout Icon="@TfConstants.GetIcon("Table")" Color="@(_space?.Color ?? TfConstants.DefaultThemeColor)" *@
@* 			   Area="@($"{_space?.Name} : {LOC("Space View")}")" Title="@_spaceView?.Name" SubTitle="@LOC("Preset Filters")"> *@
@* 	<NavigationLeft> *@
@* 		<TucSpaceViewDetailsContentToolbar /> *@
@* 	</NavigationLeft> *@
@* 	<ChildContent> *@
@* 		<TucErrorBoundry> *@
@* 			<div style="padding:var(--tf-layout-content-padding)"> *@
@* 				@if (String.IsNullOrWhiteSpace(UriInitialized)) *@
@* 				{ *@
@* 					<TucSkeletonPageHeader /> *@
@* 				} *@
@* 				else if (_spaceView is null) *@
@* 				{ *@
@* 					<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar> *@
@* 				} *@
@* 				else *@
@* 				{ *@
@* 					<TucPresetFiltersCard Title="@LOC("Preset Filters Navigation")" DataProvider="_dataProvider" Items="_spaceView.Presets" ItemsChanged="_onPresetsChanged" /> *@
@* 				} *@
@* 			</div> *@
@* 		</TucErrorBoundry> *@
@* 	</ChildContent> *@
@* </TucPageLayout> *@