@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div style="margin-top:1rem">
		@if (_isLoading)
		{
			<TucSkeletonMenu HasIcon=false IsAside=true BackgroundColor="var(--tf-fill-color-hover)" />
		}
		else if (_items.Count > 0)
		{
			<TucTreeView Items="_items" />
		}
		else if(_activeTab == TfSpaceNavigationActiveTab.Pages)
		{
			<div style="padding:0 var(--tf-layout-content-padding);">
				<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Info">
					@LOC("No pages found in the space")
				</FluentMessageBar>
				<FluentButton Appearance="@Appearance.Outline" OnClick="_addPage" Style="margin-top:1rem;">
					<FluentIcon Slot="start" Value="@TfConstants.AddIcon" Color="@Color.Accent" />
					@LOC("Create Page")
				</FluentButton>
			</div>
		}
		else if (_activeTab == TfSpaceNavigationActiveTab.Bookmarks)
		{
			<div style="padding:0 var(--tf-layout-content-padding);">
				<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Info">
					@LOC("You have not bookmarks yet")
				</FluentMessageBar>
			</div>
		}
		else if (_activeTab == TfSpaceNavigationActiveTab.Saves)
		{
			<div style="padding:0 var(--tf-layout-content-padding);">
				<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Info">
					@LOC("You have no save views yet")
				</FluentMessageBar>
			</div>
		}
	</div>
</TucErrorBoundry>