@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (TfAppState.Value.Space is null)
{
	<TfLayoutBodyMain>
		<Header>
			<TfPageHeader>@LOC("Space")</TfPageHeader>
		</Header>
		<ChildContent>
			<FluentMessageBar Title="No space found"
							  Style="border: 1px solid var(--neutral-base-color)"
							  Intent="MessageIntent.Info"
							  Type="@MessageType.Notification"
							  AllowDismiss="false">
				No space selected
			</FluentMessageBar>
		</ChildContent>
	</TfLayoutBodyMain>
}
else
{
	<TfLayoutBodyMain>
		<Header>
			<TfPageHeader>@LOC("Manage space '{0}'", TfAppState.Value.Space.Name)</TfPageHeader>
		</Header>
		<ChildContent>
			<TfCard>
				<TitleTemplate>
					<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.End">
						<FluentButton Appearance="@Appearance.Outline" OnClick="_deleteSpace">
							@LOC("Delete")
							<FluentIcon Value="@TfConstants.DeleteIcon" Color="@Color.Error" Slot="start" />
						</FluentButton>
						<FluentButton Appearance="@Appearance.Outline" OnClick="_editSpace">
							@LOC("Edit")
							<FluentIcon Value="@TfConstants.EditIcon" Color="@Color.Accent" Slot="start" />
						</FluentButton>
					</FluentStack>
				</TitleTemplate>
				<ChildContent>
					<FluentGrid>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Name")" />
							<FluentStack>
								<FluentTextField TextFieldType="@TextFieldType.Text" Value=@TfAppState.Value.Space.Name
												 ReadOnly="true" Style="width:100%" />
							</FluentStack>
						</FluentGridItem>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Accessibility")" />
							<FluentCheckbox Value=@TfAppState.Value.Space.IsPrivate Label="@LOC("limited access")" Style="margin-top:5px;"
											ReadOnly="true" />
						</FluentGridItem>
					</FluentGrid>
					<FluentGrid>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Color")" />
							<TfSelectColor Value="@TfAppState.Value.Space.Color" />
						</FluentGridItem>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Icon")" />
							<TfSelectIcon Value="@TfAppState.Value.Space.IconString" Required="true"/>
						</FluentGridItem>
					</FluentGrid>
				</ChildContent>
			</TfCard>
			<FluentLabel Typo="@Typography.H4" Style="margin:1rem 0">@LOC("Pages")</FluentLabel>
			<TfCard>
				<TitleTemplate>
					<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.End">
						<FluentButton OnClick="_addNode" IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)" Appearance="@Appearance.Outline"
									  Disabled="@_submitting">@LOC("Add page")</FluentButton>
					</FluentStack>
				</TitleTemplate>
				<ChildContent>
					@if (TfAppState.Value.SpaceNodes.Count == 0)
					{
						@LOC("No pages or folders created yet.")
					}
					else
					{
						<div class="tf-grid-wrapper">
							<table class="tf-grid">
								<colgroup style="width:1%"></colgroup>
								<colgroup></colgroup>
								<colgroup style="width:120px;"></colgroup>
								<colgroup style="width:120px;"></colgroup>
								<tbody class="tf-grid-tbody">
									@foreach (var context in TfAppState.Value.SpaceNodes)
									{
										var contextIndex = TfAppState.Value.SpaceNodes.FindIndex(x => x.Id == context.Id);
										<TfSpaceManageNodeItem Item="context" Level="0" OnRemove="_removeNode" OnMove="_moveNode"
															   IsFirst="(contextIndex == 0)" IsLast="(contextIndex == TfAppState.Value.SpaceNodes.Count -1)"
															   OnEdit="_editNode" OnCopy="_copyNode" />
									}
								</tbody>
							</table>
						</div>
					}
				</ChildContent>
			</TfCard>
		</ChildContent>
	</TfLayoutBodyMain>
}