@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Icon="@TfConstants.GetIcon("Database")" Color="@(_space?.Color ?? TfConstants.DefaultThemeColor)"
			   Area="@($"{_space?.Name} : {LOC("Space Data")}")" Title="@_spaceData?.Name" SubTitle="@LOC("Filters")">
	<ToolbarLeft>
		<TucSpaceDataDetailsContentToolbar />
	</ToolbarLeft>
	<ChildContent>
		<TucErrorBoundry>
			<div style="padding:var(--tf-layout-content-padding)">
				@if (String.IsNullOrWhiteSpace(UriInitialized))
				{
					<TucSkeletonPageHeader />
				}
				else if (_spaceData is null)
				{
					<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
				}
				else
				{
					<TucFilterCard Title="@LOC("Query Filters")" DataProvider="_provider" Items="_spaceData.Filters" ItemsChanged="_onFiltersChanged" />
				}
			</div>
		</TucErrorBoundry>
	</ChildContent>
</TucPageLayout>