@namespace WebVella.Tefter.UI.Components
@inherits ComponentBase

@if (Item is null) { }
else if (!String.IsNullOrWhiteSpace(Item.Url) && Item.Url != "#")
{
	<a id="@Item.Id" class="@_cssClass" href="@Item.Url">
		<TucTreeViewItemContent Item="@Item" />
	</a>
	@if (Item.Items.Count > 0 && Item.Expanded)
	{
		<div class="tf-treemenu tf-submenu">
			@foreach (var item in Item.Items)
			{
				<TucTreeViewItem Item="item" />
			}
		</div>
	}
}
else
{
	<a id="@Item.Id" class="@_cssClass" href="#"
	   @onclick="@_onClick" @onclick:stopPropagation @onclick:preventDefault>
		<TucTreeViewItemContent Item="@Item" />
	</a>
	@if (Item.Items.Count > 0 && Item.Expanded)
	{
		<div class="tf-treemenu tf-submenu">
			@foreach (var item in Item.Items)
			{
				<TucTreeViewItem Item="item" />
			}
		</div>
	}
}

