@namespace WebVella.Tefter.UI.Components
@inherits ComponentBase

<span class=tf-treemenu__item__content>
	@if (Item.Icon is not null)
	{
		<span class="tf-treemenu__item__icon"><FluentIcon Value="@Item.Icon" /></span>
	}
	@if (!String.IsNullOrWhiteSpace(Item.Text) && !String.IsNullOrWhiteSpace(Item.Description))
	{
		<span class="tf-treemenu__item__titleblock">
			<span class="tf-treemenu__item__title" title="@Item.Text">@Item.Text</span>
			<span class="tf-treemenu__item__description" title="@Item.Description">@Item.Description</span>
		</span>
	}
	else if (!String.IsNullOrWhiteSpace(Item.Text))
	{
		<span class="tf-treemenu__item__title" title="@Item.Text">@Item.Text</span>
	}
	@if (Item.Items.Count > 0)
	{
		<span class="tf-treemenu__item__expander" @onclick="@_onExpand" @onclick:stopPropagation @onclick:preventDefault>
			<FluentIcon Value="@(Item.Expanded? TfConstants.GetIcon("ChevronUp") : TfConstants.GetIcon("ChevronDown"))" />
		</span>
	}
</span>

