@inherits TfBaseComponent
<div class="usernav">
	@if (UserState.Value is not null && UserState.Value.User is not null)
	{
		<div class="actions">
			@if (_isAdmin)
			{
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_adminExitClick" Title="Exit Administration">
					<FluentIcon Value="@(new Icons.Regular.Size20.ArrowExit())" Color="@Color.Neutral" Slot="start"/>
					Exit Admin
				</FluentButton>
				<TfLanguageSwitch />
				<TfNotificationCenter />
			}
			else
			{
				<TfLanguageSwitch/>
				<TfNotificationCenter/>
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_adminClick" Title="Administration">
					<FluentIcon Value="@(new Icons.Regular.Size20.AppFolder())" Color="@Color.Neutral" />
				</FluentButton>
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_helpClick" Title="Help">
					<FluentIcon Value="@(new Icons.Regular.Size20.QuestionCircle())" Color="@Color.Neutral" />
				</FluentButton>

			}
		</div>
		<div class="avatar">
			<FluentPersona Id="user-menu-toggle" Initials="@RenderUtils.GetUserInitions(UserState.Value.User)"
						   ImageSize="24px" OnClick="() => _visible = !_visible"></FluentPersona>
		</div>
		<FluentMenu Width="200" @bind-Open="_visible" Anchor="user-menu-toggle">
			<FluentMenuItem Disabled="true">
				@UserState.Value.User.FirstName @UserState.Value.User.LastName
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Person())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="_setTheme">
				Change Theme
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Color())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem OnClick="_editProfile">
				Edit Profile
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.ClipboardPaste())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="_logout">
				Logout
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.SignOut())" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	}
</div>


