@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="content-toolbar">
	<div class="content-toolbar-left">
		<FluentSearch />
		<FluentButton Id="view-filter-selector" OnClick="OnFilterClick" Title="data filters">
			<FluentIcon Value="@(new Icons.Regular.Size20.Filter())" Slot="start" />
			<FluentBadge Appearance="Appearance.Neutral">12</FluentBadge>
		</FluentButton>
		<FluentButton Id="view-sort-selector" OnClick="OnSortClick" Title="data sort">
			<FluentIcon Value="@(new Icons.Regular.Size20.ArrowSort())" Slot="start" />
			<FluentBadge Appearance="Appearance.Neutral">12</FluentBadge>
		</FluentButton>
		<FluentButton Id="grid-properties-selector" OnClick="OnGridPropertiesClick" Title="grid properties">
			<FluentIcon Value="@(new Icons.Regular.Size20.TableSettings())"/>
		</FluentButton>
	</div>
	<div class="content-toolbar-right">
		<FluentButton Id="view-action-selector" OnClick="OnActionClick">
			Actions
			@if (_selectedRowsCount > 0)
			{
				<span slot="start">
					<FluentBadge Appearance="Appearance.Accent">@_selectedRowsCount</FluentBadge>
				</span>
			}
			else
			{
				<FluentIcon Value="@(new Icons.Regular.Size20.Connector())" Slot="start" />
			}
		</FluentButton>
		<FluentButton Id="view-export-selector" OnClick="OnExportClick">
			<FluentIcon Value="@(new Icons.Regular.Size20.CloudArrowDown())" />
		</FluentButton>
		<FluentButton Id="view-setting-selector" OnClick="OnSettingsClick">
			<FluentIcon Value="@(new Icons.Regular.Size20.Options())" />
		</FluentButton>
	</div>
</div>
<WvViewFilterSelector @ref="_filterSelector" FilterChanged="OnFilterChange" />
<WvViewSortSelector @ref="_sortSelector" SortChanged="OnSortChange" />
<WvGridPropertiesSelector @ref="_gridPropertiesSelector" ColumnChanged="OnGridPropertiesChange" />
<WvViewSettingSelector @ref="_settingSelector" SettingChanged="OnSettingChange" />
<WvViewActionSelector @ref="_actionSelector" ActionChanged="OnActionChange" Rows="_selectedRows" RowsCount="_selectedRowsCount"/>
<WvViewExportSelector @ref="_exportSelector" ExportChanged="OnExportChange" Rows="_selectedRows" RowsCount="_selectedRowsCount"/>

