@namespace WebVella.Tefter.UI.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
				  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>
		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.DbName
									 Label="@LOC("Column name")" Style="width:100%"
									 ReadOnly="!_isCreate" AutoComplete="off" Class="with-prefix">
						<span slot="start">sc_</span>
					</FluentTextField>
					<FluentValidationMessage For="@(() => _form.DbName)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<TucSelect @bind-SelectedOption="_selectedColumnType"
								  TOption="DatabaseColumnTypeInfo"
								  Items="@_columnTypeOptions" Style="width:100%"
								  OptionValue="@(p => ((int)p.Type).ToString())"
								  OptionText="@(p => p.Name)"
								  Label="@LOC("Data type")" Disabled="!_isCreate" />
					<FluentValidationMessage For="@(() => _form.DbType)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Connected Data identity")" />
					<FluentStack>
						<TucSelect TOption="string"
									  Items="_allDataIdentities"
									  Height="@TfConstants.ComboPanelHeight"
									  @bind-SelectedOption=@_form.DataIdentity
									  Placeholder="@LOC("select or add...")"
									  Disabled="!_isCreate" Style="flex:1 1 auto" />
						<FluentButton Title="@LOC("Create a new data identity")" OnClick="addDataIdentity"
									  Appearance="@Appearance.Outline">
							<FluentIcon Value="@TfConstants.GetIcon("Add")" />
						</FluentButton>
					</FluentStack>
					<FluentValidationMessage For="@(() => _form.DataIdentity)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentDivider Style="margin:15px 0" />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Global search")" />
					<FluentSwitch @bind-Value=@_form.IncludeInTableSearch CheckedMessage="@LOC("included")"
								  UncheckedMessage="@LOC("not included")" />
					<FluentValidationMessage For="@(() => _form.IncludeInTableSearch)" />
				</FluentGridItem>
				<FluentGridItem xs="6"></FluentGridItem>
			</FluentGrid>
		</FluentEditForm>
	</div>
</FluentDialogBody>
