@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfBooleanDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	if (_value is null)
	{
		if (!String.IsNullOrWhiteSpace(options.NullLabel))
		{
			<div>@options.NullLabel</div>
		}
		else if (options.NullValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("SubtractSquare")" Color="@Color.FillInverse" /></div>
		}
		else
		{
			<div></div>
		}
	}
	else if (_value.Value)
	{
		if (!String.IsNullOrWhiteSpace(options.TrueLabel))
		{
			<div>@options.TrueLabel</div>
		}
		else if (options.TrueValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Checkmark")" Color="@Color.Success" /></div>
		}
		else
		{
			<div>@_value.Value.ToString()</div>
		}
	}
	else
	{
		if (!String.IsNullOrWhiteSpace(options.FalseLabel))
		{
			<div>@options.FalseLabel</div>
		}
		else if (options.FalseValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Dismiss")" Color="@Color.Error" /></div>
		}
		else
		{
			<div>@_value.Value.ToString()</div>
		}
	}
}
else if (Context.Mode == TfComponentMode.Options)
{

	<FluentInputLabel Label="@LOC("on TRUE (text with priority)")" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.TrueLabel" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.TrueLabel),x))
							 Placeholder="@LOC("default value")" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.TrueValueShowAsIcon" Style="height:32px;"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.TrueValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentInputLabel Label="@LOC("on FALSE (text with priority)")" style="margin-top:1rem;" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.FalseLabel" Style="width:100%" 
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.FalseLabel),x))
							 Placeholder="@LOC("default value")" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.FalseValueShowAsIcon" Style="height:32px;"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.FalseValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentInputLabel Label="@LOC("on NULL (text with priority)")" style="margin-top:1rem;" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.NullLabel" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.NullLabel),x))
							 Placeholder="@LOC("default value")" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.NullValueShowAsIcon" Style="height:32px;"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.NullValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

