@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfBooleanDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	var value = GetDataObjectByAlias<bool>(_valueAlias, null);
	if (value is null)
	{
		if (!String.IsNullOrWhiteSpace(options.NullValueOverrideText))
		{
			<div>@options.NullValueOverrideText</div>
		}
		else if (options.NullValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("SubtractSquare")" Color="@Color.FillInverse" /></div>
		}
		else
		{
			<div></div>
		}
	}
	else if (value.Value)
	{
		if (!String.IsNullOrWhiteSpace(options.TrueValueOverrideText))
		{
			<div>@options.TrueValueOverrideText</div>
		}
		else if (options.TrueValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Checkmark")" Color="@Color.Success" /></div>
		}
		else
		{
			<div>@value.Value.ToString()</div>
		}
	}
	else
	{
		if (!String.IsNullOrWhiteSpace(options.FalseValueOverrideText))
		{
			<div>@options.FalseValueOverrideText</div>
		}
		else if (options.FalseValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Dismiss")" Color="@Color.Error" /></div>
		}
		else
		{
			<div>@value.Value.ToString()</div>
		}
	}
}
else if (Context.Mode == TfComponentMode.Options)
{

	<FluentInputLabel Label="@LOC("on TRUE (text with priority)")" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.TrueValueOverrideText" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.TrueValueOverrideText),x))
							 Placeholder="fill to override default value" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.TrueValueShowAsIcon"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.TrueValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentInputLabel Label="@LOC("on FALSE (text with priority)")" style="margin-top:1rem;" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.FalseValueOverrideText" Style="width:100%" 
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.FalseValueOverrideText),x))
							 Placeholder="fill to override default value" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.FalseValueShowAsIcon"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.FalseValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentInputLabel Label="@LOC("on NULL (text with priority)")" style="margin-top:1rem;" />
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Value="@options.NullValueOverrideText" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(options.NullValueOverrideText),x))
							 Placeholder="fill to override default value" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentCheckbox Value="@options.NullValueShowAsIcon"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(options.NullValueShowAsIcon),x))
							Label="@LOC("render as icon")" />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

