@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<div class="usernav">
	@if (TfUserState.Value is not null && TfUserState.Value.CurrentUser is not null)
	{
		<div class="actions">
			@if (_isAdmin)
			{
				<FluentAnchor Appearance="@Appearance.Stealth" Href="@TfConstants.HomePageUrl" Title="@LOC("Exit Admin")">
					<FluentIcon Value="@TfConstants.GetIcon("ArrowExit")" Color="@Color.Neutral" Slot="start" />
					@LOC("Exit Admin")
				</FluentAnchor>
				<TfLanguageSwitch />
				<TfNotificationCenter />
			}
			else
			{
				<TfLanguageSwitch />
				<TfNotificationCenter />
				<FluentAnchor Appearance="@Appearance.Stealth" Href="@TfConstants.AdminDashboardUrl" Title="Administration">
					<FluentIcon Value="@TfConstants.GetIcon("AppFolder")" Color="@Color.Neutral" />
				</FluentAnchor>
				<FluentButton Appearance="@Appearance.Stealth" OnClick="@(() => _helpVisible = !_helpVisible)" Title="Help" Id="help-switch-btn">
					<FluentIcon Value="@TfConstants.GetIcon("QuestionCircle")" Color="@Color.Neutral" />
				</FluentButton>

			}
		</div>
		<div class="avatar">
			<TfAvatar Id="user-menu-toggle" OnClick="() => _visible = !_visible" User="TfUserState.Value.CurrentUser"/>
@* 			<FluentPersona Id="user-menu-toggle" Initials="@TfConverters.GetUserInitials(TfUserState.Value.CurrentUser)"
						   ImageSize="24px" OnClick="() => _visible = !_visible"></FluentPersona> *@
		</div>
		<FluentMenu Width="200" @bind-Open="_visible" Anchor="user-menu-toggle" UseMenuService="false">
			<FluentMenuItem Disabled="true">
				@TfUserState.Value.CurrentUser.FirstName @TfUserState.Value.CurrentUser.LastName
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Person")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>

			<FluentMenuItem OnClick="_setTheme">
				@LOC("Change Theme")
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Color")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem OnClick="_setUrlAsStartup">
				@LOC("Set as Startup URL")
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Pin")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="_logout">
				@LOC("Logout")
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("SignOut")" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>

		<FluentMenu Width="200" @bind-Open="_helpVisible" Anchor="help-switch-btn" UseMenuService="false">
			<FluentMenuItem Href="https://tefter.bg/docs">Online Documentation</FluentMenuItem>
			<FluentMenuItem Href="https://tefter.bg">Tefter website</FluentMenuItem>
			<FluentMenuItem Disabled>Non commercial use license</FluentMenuItem>
			<FluentMenuItem Disabled>Tefter v1.23</FluentMenuItem>
		</FluentMenu>
	}
</div>


