@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase
<section class="@_layoutClass">
	@if (Header is not null || HeaderAside is not null)
	{
		<TfLayoutBodyMainHeader Class="@HeaderClass">
			<ChildContent>@Header</ChildContent>
			<Aside>@HeaderAside</Aside>
		</TfLayoutBodyMainHeader>	
	}
	@if (Toolbar is not null || ToolbarAside is not null)
	{
		<TfLayoutBodyMainToolbar Class="@ToolbarClass">
			<ChildContent>@Toolbar</ChildContent>
			<Aside>@ToolbarAside</Aside>
		</TfLayoutBodyMainToolbar>
	}
	<div class="@_contentClass">
		<div class="tf-layout__body__main__content__inner">
			@ChildContent
		</div>
	</div>
	@if (Footer is not null)
	{
		<div class="tf-layout__body__main__footer">@Footer</div>
	}
</section>
