@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="content-toolbar" style="@Style">
	<div class="content-toolbar-left">
		<FluentNavMenu>
			@foreach (var item in Items)
			{
				<FluentNavLink Match="@item.Match" Href="@item.Url"
					Icon="@item.IconCollapsed">@item.Text</FluentNavLink>
			}
		</FluentNavMenu>
	</div>
	<div class=content-toolbar-right>
		@Actions
	</div>
</div>


