@namespace WebVella.Tefter.Talk.Components

@inherits TucBaseViewColumn<TfTalkCommentsCountComponentOptions>
@if (RegionContext.Mode == TfComponentPresentationMode.Display)
{

	<div>
		@if (componentOptions.ChannelId is not null)
		{
			<FluentButton Appearance="@Appearance.Outline" OnClick="_onClick">
				<FluentIcon Value="@TfConstants.GetIcon("Comment")" />
			</FluentButton>
		}
		else
		{
			<FluentIcon Value="TfConstants.ErrorIcon" Title="@LOC("channel is not configured")" />
		}
	</div>


}
else if (RegionContext.Mode == TfComponentPresentationMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentSelect TOption="TalkChannel"
						  Items="_channels"
						  OptionValue="@((p)=> p.Id.ToString())"
						  OptionText="(x=> x.Name)"
						  OptionSelected="(x => x.Id == _selectedChannel?.Id)"
						  SelectedOption="_selectedChannel"
						  SelectedOptionChanged="_channelSelectHandler" />
		</FluentGridItem>

	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


