@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<FluentAnchor Href="#" Id="language-switch-btn"
			  Appearance="@Appearance.Hypertext" OnClick="@(() => _visible = !_visible)">
	<span style="text-transform:uppercase">@User.Settings.Culture.TwoLetterISOLanguageName</span>
</FluentAnchor>
<FluentMenu Width="200" @bind-Open="_visible" Anchor="language-switch-btn" UseMenuService="false">
	@foreach (var item in TfConstants.CultureOptions)
	{
		<FluentMenuItem OnClick="@(() => _select(item))">
			@item.CultureInfo.NativeName
			<span slot="start">
				<img style="height:16px;vertical-align:text-bottom;" src="@item.IconUrl" />
			</span>
		</FluentMenuItem>
	}

</FluentMenu>