@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (TfUserState.Value.SidebarExpanded)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfUserState.Value.ThemeSidebarStyle">
		<TfPagesNavigation />
	</FluentStack>
}
<FluentBodyContent Class="content-body">

	<div class="content-inner">
		@if (String.IsNullOrWhiteSpace(Slug))
		{
			<FluentMessageBar Title="No page selected"
							  Style="@("border: 1px solid var(--neutral-base-color)")"
							  Intent="MessageIntent.Info"
							  Type="@MessageType.Notification"
							  AllowDismiss="false">
				Select a page from the menu
			</FluentMessageBar>
		}
		else
		{
			TucScreenRegionComponentMeta componentMeta = TfAppState.Value.Pages.FirstOrDefault(x => x.Slug.ToLowerInvariant() == Slug.ToLowerInvariant());
			if (componentMeta is null)
			{
				<FluentMessageBar Title="Page Not Found"
								  Style="@("border: 1px solid var(--neutral-base-color)")"
								  Intent="MessageIntent.Info"
								  Type="@MessageType.Notification"
								  AllowDismiss="false">
					No page was found on this URL
				</FluentMessageBar>
			}
			else
			{
				<TfErrorBoundry>
					<DynamicComponent Type="@componentMeta.ComponentType" Parameters="@_getComponentContext()" />
				</TfErrorBoundry>
			}
		}
	</div>
</FluentBodyContent>
