@namespace WebVella.Tefter.UI.Addons
@inherits TucBaseViewColumn<TucDateOnlyDisplayColumnComponentOptions>
@if (RegionContext.Mode == TfComponentPresentationMode.Display)
{
	var format = !String.IsNullOrWhiteSpace(componentOptions.Format) ? componentOptions.Format : _defaultFormat;
	foreach (var item in _value)
	{
		<div>@item?.ToString(format)</div>
	}
}
else if (RegionContext.Mode == TfComponentPresentationMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Format")"
							 Value="@componentOptions.Format" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.Format),x))
							 Placeholder="@LOC("eg. 'dd MMM yyyy'")" />
			<div class="tf-input-description">@LOC("defaults to the system's short date format")</div>
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

