@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	@if (!string.IsNullOrWhiteSpace(_error))
	{
		<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>

	}
	else if (_data is null)
	{
		<TucLoadingPane/>
	}
	else
	{
		var columnCount = 0;
		<table class="tf-grid">
			<thead class="tf-grid-thead">
				<tr class="tf-grid-thead-bkg"></tr>
				<tr class="tf-grid-tr">
					@foreach (var column in _data.Columns)
					{
						@if (column.IsSystem) continue;
						<th class="tf-grid-th">@column.Name</th>
						columnCount++;
					}
					@if (_data.Columns.Count == 0)
					{
						<th class="tf-grid-th"></th>
					}
				</tr>
			</thead>
			<tbody class="tf-grid-tbody">
				@if (_data.Columns.Count == 0)
				{
					<tr class="tf-grid-tr">
						<td class="tf-grid-td"><div>@LOC("No columns are created for this data provider yet")</div></td>
					</tr>

				}
				else if (_data.Rows.Count == 0)
				{
					<tr class="tf-grid-tr">
						<td class="tf-grid-td" colspan="@columnCount"><div>@LOC("No records")</div></td>
					</tr>
				}
				else
				{
					<Virtualize Items="@_data.Rows.GetList()" TItem="TfDataRow" Context="row">
						<tr @key=@row["tf_id"] class="tf-grid-tr">
							@foreach (var column in _data.Columns)
							{
								@if (column.IsSystem) continue;
								<td class="tf-grid-td">
									<div class="tf-grid-td-hover"></div>
									@if (column.IsJoinColumn)
									{
										<div>@(String.Join(", ", (List<string>)row[column.Name]))</div>
									}
									else
									{
										<div>@row[column.Name]</div>
									}
								</td>
							}
						</tr>
					</Virtualize>
					@if (_data.Rows.Count >= TfConstants.ItemsMaxLimit)
					{
						<tr class="tf-grid-tr">
							<td class="tf-grid-td" colspan="@(columnCount + 1)">
								<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("Your query exceeded the allowed maximum of {0} rows. Please fine tune your query or export and process in another program", TfConstants.ItemsMaxLimit)</FluentMessageBar>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	}
</FluentDialogBody>
