 @using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	@if (String.IsNullOrWhiteSpace(_error))
	{
		<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
					  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	}
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	@if (!string.IsNullOrWhiteSpace(_error))
	{
		<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>

	}
	else
	{
		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=_form.Name
									 Label="@LOC("Name")" Style="width:100%" AutoComplete="new-password" />
					<FluentValidationMessage For="@(() => _form.Name)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Parent")" />
					<FluentStack>
						<FluentSelect TOption="TucSpaceNode" Value=@_parentIdString ValueChanged="@(x=> _parentIdString = x)"
									  Style="width:100%" Items="@_getParents()" Placeholder="@LOC("select...")"
									  OptionValue="@(x=> x.Id.ToString())">
							<OptionTemplate Context="option">
								<FluentIcon Value="@TfConstants.GetIcon(option.Icon)" Slot="start" />
								<span>@option.Name</span>
							</OptionTemplate>
						</FluentSelect>
						@if (!String.IsNullOrWhiteSpace(_parentIdString))
						{
							<FluentButton IconStart="@TfConstants.CloseIcon.WithColor(Color.Error)" OnClick="@(_=> _parentIdString = null)" />
						}
					</FluentStack>
					<FluentValidationMessage For="@(() => _form.Type)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentSelect TOption="TfSpaceNodeType" SelectedOption=@_form.Type SelectedOptionChanged="_typeChanged"
								  Label="@LOC("Type")" Style="width:100%" Items="@(Enum.GetValues<TfSpaceNodeType>())"
								  OptionText="@(x=> x.ToDescriptionString())" />
					<FluentValidationMessage For="@(() => _form.Type)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Icon")" />
					<TfSelectIcon @bind-Value="_form.Icon" />
					<FluentValidationMessage For="@(() => _form.Icon)" />
				</FluentGridItem>
			</FluentGrid>
			@if (_form.Type == TfSpaceNodeType.Page)
			{
				<FluentDivider Style="margin:15px 0" />
				<FluentGrid>
					<FluentGridItem xs="12">
						<FluentInputLabel Label="@LOC("Page type")" />
						<TfSelectComponent TOption="TfSpaceNodeComponentMeta" Items="@_pageComponents"
										   Value="_selectedPageComponent" ValueChanged="_pageComponentChanged"
										   OptionText="@(x=> x.Instance.Name)" OptionIcon="@(x=> x.Instance.Icon)" OptionDescription="@(x=> x.Instance.Description)"
										   OptionMatch="@((x,y)=> x.Instance?.Id == y.Instance.Id)" />
						<FluentValidationMessage For="@(() => _form.ComponentTypeFullName)" />
					</FluentGridItem>
				</FluentGrid>
				@if (_selectedPageComponent is null)
				{
					<FluentMessageBar AllowDismiss="true" Intent="@MessageIntent.Warning">@LOC("Select a page type")</FluentMessageBar>
				}
				else
				{
					<TfErrorBoundry>
						<DynamicComponent Type="_selectedPageComponent.ComponentType" Parameters="@_getDynamicComponentParams()"
										  @ref="typeSettingsComponent"></DynamicComponent>
					</TfErrorBoundry>
				}
			}
			else if (_form.Type == TfSpaceNodeType.Folder) { }
		</FluentEditForm>
	}
</FluentDialogBody>
