@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="tf-guest-layout wizard">
	<div class="tf-guest-layout__header">
		<div class="tf-guest-layout__header__title">@LOC("Initial Setup")</div>
	</div>
	<div class="tf-guest-layout__subheader">
		<div class="tf-guest-layout__subheader__action">
			<FluentButton OnClick=_toList Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("ArrowLeft")" />
		</div>
		<div class="tf-guest-layout__subheader__meta">
			<div class="tf-recipe clean">
				<div class="tf-recipe__icon">
					<FluentIcon Value="@TfConstants.GetIcon(_item.FluentIconName)" Color="@Color.Custom" />
				</div>
				<div class="tf-recipe__meta">
					<div class="tf-recipe__meta__name">@_item.Name</div>
					<div class="tf-recipe__meta__description">@_item.Description</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tf-guest-layout__body">
		<div class="tf-guest-layout__body__steps">
			@foreach (var step in _item.Steps)
			{
				<div class="tf-guest-layout__body__steps__step">
					<div class="tf-guest-layout__body__steps__step__index">@_index. </div>
					<div class="tf-guest-layout__body__steps__step__title">@step.StepName</div>
					<div class="tf-guest-layout__body__steps__step__icon">
						<FluentIcon Class="check" Value="@TfConstants.GetIcon("Checkmark").WithColor(Color.Success)" />
						<FluentIcon Class="arrow" Value="@TfConstants.GetIcon("ArrowRight").WithColor(Color.Accent)" />
					</div>
				</div>
				_index++;
			}
		</div>
		<div class="tf-guest-layout__body__content">
			<div class="tf-guest-layout__body__content__body">
				dasdasddas
			</div>
			<div class="tf-guest-layout__body__content__actions">
				<FluentButton OnClick=_toList Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("ChevronLeft")">@LOC("Back")</FluentButton>
				<FluentButton OnClick=_toList Appearance="@Appearance.Accent" IconEnd="@TfConstants.GetIcon("ChevronRight")">@LOC("Forward")</FluentButton>
			</div>
		</div>
	</div>
</div>