@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (SidebarExpanded.Value)
{
	var items = _getIdentities();
	<TfLayoutBodyAside>
		<Toolbar>
			<div class="tf-sidetoolbar">
				<div class="tf-sidetoolbar__search">
					<FluentTextField Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="500" Value=@search
									 ValueChanged="onSearch" AutoComplete="off"/>
				</div>
				<div class="tf-sidetoolbar__actions">
					<FluentButton Title="@LOC("Create Data provider")"
								  IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)"
								  OnClick="onAddClick" Appearance="@Appearance.Outline">@LOC("Identity")</FluentButton>
				</div>
			</div>
		</Toolbar>
		<ChildContent>
			<FluentNavMenu Class="tf-sidenav">
				@foreach (var item in items)
				{
					<FluentNavLink Href="@(string.Format(TfConstants.AdminDataIdentityDetailsPageUrl, item.Name))" Match="@NavLinkMatch.Prefix"
								   @key="@item.Name" Icon="@TfConstants.AdminDataIdentityIcon">
						@TfConverters.StringOverflow(item.Name, _stringLimit)
					</FluentNavLink>
				}
				@if (items.Count == 0)
				{
					<div style="padding-left:5px;padding-top:5px">@LOC("no items")</div>
					<FluentButton Appearance="@Appearance.Outline" OnClick="onAddClick" Style="margin-top:1rem;">
						<FluentIcon Slot="start" Value="@TfConstants.AddIcon" Color="@Color.Accent" />
						@LOC("Create Data Identity")
					</FluentButton>
				}
			</FluentNavMenu>
		</ChildContent>
	</TfLayoutBodyAside>
}


