@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@if (_spaceView is null && _isDataLoading)
{
}
else if (_spaceView is null)
{
    <div style="@("padding:var(--tf-padding)")">
        <FluentMessageBar Title="@LOC("Missing data")"
                          Style="@("border: 1px solid var(--neutral-base-color)")"
                          Intent="MessageIntent.Info"
                          AllowDismiss="false">
            @LOC("Space view not found")
        </FluentMessageBar>
    </div>
}
else if (_spaceViewColumns.Count == 0)
{
    <TucLayoutPageContent Icon="@_spacePage!.FluentIconName" Title="@_spacePage!.Name">
        <ChildContent>
            <div style="@("padding:var(--tf-padding)")">
                <FluentMessageBar Title="@LOC("No columns created")"
                                  Style="@("border: 1px solid var(--neutral-base-color)")"
                                  Intent="MessageIntent.Info"
                                  AllowDismiss="false">
                    @LOC("No columns were added to this page by the Administrator.")
                </FluentMessageBar>
            </div>
        </ChildContent>
    </TucLayoutPageContent>
}
else
{
    //var configCss = _generateColumnConfigurationCss(_spaceView, _spaceViewColumns);
    //var columnIndex = 1;
    <CascadingValue IsFixed="true" TValue="TucSpaceViewPageContent" Value="this" Name="TucSpaceViewPageContent">
        <TucLayoutPageContent Icon="@_spacePage!.FluentIconName" Title="@_spacePage!.Name"
                              ShowTabs="_spaceView.Presets.Count > 0"
                              OnEdit="_renamePage" OnEditTooltop="@LOC("Rename page")"
                              OnAdd="_addPreset" OnAddTooltop="@LOC("Create preset from current filters")">
            <Tabs>
                <TucSpaceViewPageContentTabs SpaceView="_spaceView" SpacePage="_spacePage" SpaceData="_dataset" />
            </Tabs>
            <Toolbar>
                <TucSpaceViewPageContentToolbar Context=Context SpaceView="_spaceView" Data=_data
                                                SpaceData="_dataset" SpaceViewPreset=_preset
                                                SelectedRows="_selectedDataRows" />
            </Toolbar>
            <ChildContent>
                <table class="tf-grid  tf-grid--sticky" id="@_tableId">
                    <colgroup>
                        <col span="1" style="@GetSafeColumnMetaString(Guid.Empty, nameof(TfSpaceViewColumnPresentationMeta.TableColStyles))">
                        @foreach (var col in _spaceViewColumns)
                        {
                            <col span="1" style="@GetSafeColumnMetaString(col.Id, nameof(TfSpaceViewColumnPresentationMeta.TableColStyles))">
                        }
                    </colgroup>
                    <thead class="tf-grid-thead">
                        <tr class="tf-grid-thead-bkg"></tr>
                        @if (_isDataLoading)
                        {
                            <tr class="tf-grid-thead-loading"></tr>
                        }
                        <tr class="tf-grid-tr tf-grid-tr--titles">
                            <th class="@GetSafeColumnMetaString(Guid.Empty, nameof(TfSpaceViewColumnPresentationMeta.HeaderCellClass))"
                                style="@GetSafeColumnMetaString(Guid.Empty, nameof(TfSpaceViewColumnPresentationMeta.HeaderCellStyles))">
                                <div class="check-content check">
                                    @if (_allDataRowsSelected())
                                    {
                                        <FluentButton OnClick="@(() => _toggleSelectAll(false))"
                                                      BackgroundColor="transparent" Color="transparent" Loading="_selectAllLoading">
                                            <FluentIcon Value="@TfConstants.GetIcon("CheckboxChecked", variant: IconVariant.Filled)"
                                                        Color="@Color.Accent" />
                                        </FluentButton>
                                    }
                                    else
                                    {
                                        <FluentButton OnClick="@(() => _toggleSelectAll(true))"
                                                      BackgroundColor="transparent" Color="transparent" Loading="_selectAllLoading">
                                            <FluentIcon Value="@TfConstants.GetIcon("CheckboxUnchecked")"
                                                        Color="@Color.Custom"
                                                        CustomColor="var(--neutral-stroke-input-active)" />
                                        </FluentButton>
                                    }
                                </div>
                            </th>
                            @foreach (var column in _spaceViewColumns)
                            {
                                <th data-query-name="@column.QueryName" class="@GetSafeColumnMetaString(column.Id, nameof(TfSpaceViewColumnPresentationMeta.HeaderCellClass))"
                                    style="@GetSafeColumnMetaString(column.Id, nameof(TfSpaceViewColumnPresentationMeta.HeaderCellStyles))" id="@column.AnchorId">
                                    <div>
                                        @if (String.IsNullOrWhiteSpace(column.Icon))
                                        {
                                            <div>@column.Title</div>
                                        }
                                        else if (column.OnlyIcon)
                                        {
                                            <div style="display:flex;">
                                                <FluentIcon Value="@TfConstants.GetIcon(column.Icon)" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="display:flex">
                                                <FluentIcon Value="@TfConstants.GetIcon(column.Icon)" />
                                                <div style="padding-left:5px;">@column.Title</div>
                                            </div>
                                        }
                                    </div>
                                    <div class="resize-handle" data-column="@column.Position"></div>
                                    <TucSpaceViewPageContentColumnActions Column="column" User="_currentUser" />
                                    <div class="@GetSafeColumnMetaString(column.Id, nameof(TfSpaceViewColumnPresentationMeta.HeaderSortActionClass))"
                                         data-column="@column.Position"
                                         title="@LOC("Click to sort. SHIFT+click for multiple sort")">
                                        <div class="tf-column-sort__caret-down">@_caretDown</div>
                                        <div class="tf-column-sort__caret-up">@_caretUp</div>
                                        <div class="tf-column-sort__caret">@_caretDownInactive</div>
                                    </div>
                                </th>
                            }
                        </tr>
                        <TucSpaceViewFiltersHeaderRow SpaceView="_spaceView" SpaceViewColumns="_spaceViewColumns" 
                            AllDataProviders="_allDataProviders" AllSharedColumns="_allSharedColumns" />
                    </thead>
                    <tbody class="tf-grid-tbody">
                        @if (_data is null)
                        {
                            <tr class="tf-grid-tr">
                                <td class="tf-grid-td" colspan="@(_spaceViewColumns.Count + 1)">
                                    <div>@LOC("Dataset or DataProvider not found")</div>
                                </td>
                            </tr>
                        }
                        else if (_data.Rows.Count == 0)
                        {
                            <tr class="tf-grid-tr">
                                <td class="tf-grid-td" colspan="@(_spaceViewColumns.Count + 1)">
                                    <div>@_getNoDataString()</div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <Virtualize Items="@_data.Rows.GetList()" TItem="TfDataRow" Context="row">
                                @{
                                    var tfId = row.GetRowId();
                                }
                                <tr @key=@tfId class="@_rowMeta[tfId].RowClass"
                                    style="@_rowMeta[tfId].RowStyles"
                                    @ondblclick="@row.OnDblClick"
                                    id="@($"row-{tfId}")">
                                    <td class="@GetSafeColumnMetaString(Guid.Empty, nameof(TfSpaceViewColumnPresentationMeta.BodyCellClass))"
                                        style="@GetSafeColumnMetaString(Guid.Empty, nameof(TfSpaceViewColumnPresentationMeta.BodyCellStyles))">
                                        <div class="tf-grid-td-color"></div>
                                        <div class="tf-grid-td-selection"></div>
                                        <div class="tf-grid-td-hover"></div>
                                        @if (_rowMeta[tfId].EditMode)
                                        {
                                            @if (!_editAll)
                                            {
                                                <div class="check-content check">
                                                    <FluentButton OnClick="@row.OnEdit" BackgroundColor="transparent"
                                                                  Color="transparent">
                                                        <FluentIcon Value="@TfConstants.GetIcon("Dismiss")"
                                                                    Color="@Color.Custom"
                                                                    CustomColor="var(--neutral-stroke-input-active)" />
                                                    </FluentButton>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="check-content check">
                                                    <FluentButton Disabled="true" BackgroundColor="transparent"
                                                                  Color="transparent">
                                                        <FluentIcon Value="@TfConstants.GetIcon("LockClosed")"
                                                                    Color="@Color.Custom"
                                                                    CustomColor="var(--neutral-stroke-input-active)" />
                                                    </FluentButton>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="check-content check">
                                                @if (_rowMeta[tfId].Selected)
                                                {
                                                    <FluentButton OnClick="@row.OnSelect" BackgroundColor="transparent"
                                                                  Color="transparent">
                                                        <FluentIcon Value="@TfConstants.GetIcon("CheckboxChecked", variant: IconVariant.Filled)"
                                                                    Color="@Color.Accent" />
                                                    </FluentButton>
                                                }
                                                else
                                                {
                                                    <FluentButton OnClick="@row.OnSelect" BackgroundColor="transparent"
                                                                  Color="transparent">
                                                        <FluentIcon Value="@TfConstants.GetIcon("CheckboxUnchecked")"
                                                                    Color="@Color.Custom"
                                                                    CustomColor="var(--neutral-stroke-input-active)" />
                                                    </FluentButton>
                                                }
                                            </div>
                                        }
                                    </td>
                                    @foreach (var column in _spaceViewColumns)
                                    {
                                        <td @key=@($"{tfId}__{column.Id}")
                                            class="@GetSafeColumnMetaString(column.Id, nameof(TfSpaceViewColumnPresentationMeta.BodyCellClass))"
                                            style="@GetSafeRegionContextString(tfId, column.Id, nameof(TfSpaceViewColumnBase.BodyCellStyles)) @GetSafeColumnMetaString(column.Id, nameof(TfSpaceViewColumnPresentationMeta.BodyCellStyles))">
                                            <div class="tf-grid-td-color"
                                                 style=""></div>
                                            <div class="tf-grid-td-selection"></div>
                                            <div class="tf-grid-td-hover"></div>
                                            @if (!_regionContextDict[tfId].ContainsKey(column.Id))
                                            {
                                            }
                                            else if (_columnTypeMetaDict.ContainsKey(column.TypeId))
                                            {
                                                <TucErrorBoundry>
                                                    @(((ITfSpaceViewColumnTypeAddon)Activator.CreateInstance(_columnTypeMetaDict[column.TypeId]!.GetType())!).Render(_regionContextDict[tfId][column.Id]))
                                                </TucErrorBoundry>
                                            }
                                            else
                                            {
                                                <span style="color:var(--error)"
                                                      title="@LOC("Column type not found")">error</span>
                                            }
                                        </td>
                                    }
                                </tr>
                            </Virtualize>
                            @if (_data.Rows.Count >= TfConstants.ItemsMaxLimit)
                            {
                                <tr class="tf-grid-tr">
                                    <td class="tf-grid-td" colspan="@(_spaceViewColumns.Count + 1)">
                                        <FluentMessageBar AllowDismiss="false"
                                                          Intent="@MessageIntent.Warning">@LOC("Your query exceeded the allowed maximum of {0} rows. Please fine tune your query or export and process in another program", TfConstants.ItemsMaxLimit)</FluentMessageBar>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </ChildContent>
        </TucLayoutPageContent>
    </CascadingValue>
}
