@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (TfAppState.Value.SpaceView is null || TfAppState.Value.SpaceView.Presets.Count == 0
							|| TfRouteState.Value.ThirdNode != RouteDataThirdNode.Details) { }
else
{
	var selectionDict = _generateSelectionDict();
	<div class="tf-header-nav" style="@($"--space-color: {TfAppState.Value.SpaceColorString};")">
		<FluentAnchor Href="#" OnClick="@(_=> _onClick(null))" Appearance="@Appearance.Outline"
						Id="space-view-unfiltered"
					  Class="@(TfRouteState.Value.SpaceViewPresetId is null ? "main-active" : "")">
			<FluentIcon Value="@TfConstants.SpaceViewIcon" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
		</FluentAnchor>
		@foreach (var item in TfAppState.Value.SpaceView.Presets)
		{
			if (!item.IsGroup)
			{
				<FluentAnchor Id="@($"tf-{item.Id}")" Href="#" Appearance="@Appearance.Outline" OnClick="@(_=> _onClick(item.Id))"
							  Class="@(selectionDict[item.Id].Contains(TfRouteState.Value.SpaceViewPresetId ?? Guid.Empty) ? "main-active" : "")">
					@item.Name
				</FluentAnchor>
			}
			else
			{
				<FluentAnchor Href="#" Id="@($"tf-{item.Id}")"
							  OnClick="@(_=> _toggleMenu(item.Id))" Appearance="@Appearance.Outline"
							  Class="@(selectionDict[item.Id].Contains(TfRouteState.Value.SpaceViewPresetId ?? Guid.Empty) ? "main-active" : "")">
					@item.Name
					@if (item.Nodes.Count > 0)
					{
						<FluentIcon Slot="end" Value="@TfConstants.GetIcon("ChevronDown")" />
					}
				</FluentAnchor>
				@if (item.Nodes.Count > 0)
				{
					<FluentMenu UseMenuService="true"
								Open="(_opendedNode == item.Id)"
								OpenChanged="@(x => _toggleMenu(item.Id,x))"
								Anchor="@($"tf-{item.Id}")">
						@foreach (var node in item.Nodes)
						{
							<TfSpaceViewHeaderNavigationItem @key=node.Id Item="node" OnClick="@(x=> _onClick(x))"
															 SelectionDictionary="selectionDict" ActivePresetId="TfRouteState.Value.SpaceViewPresetId" />
						}
					</FluentMenu>
				}

			}
		}
		@* 		<FluentAnchor Href="#" Appearance="@Appearance.Outline">
	<FluentIcon Value="@TfConstants.AddIcon" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
	</FluentAnchor> *@


	</div>
}

