@* @namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Icon="@TfConstants.GetIcon("Database")" Color="@(_space?.Color ?? TfConstants.DefaultThemeColor)"
			   Area="@($"{_space?.Name} : {LOC("Space Data")}")" Title="@_spaceData?.Name" SubTitle="@LOC("Columns")">
	<NavigationLeft>
		<TucSpaceDataDetailsContentToolbar />
	</NavigationLeft>
	<ChildContent>
		<TucErrorBoundry>
			<div style="padding:var(--tf-layout-content-padding)">
				@if (String.IsNullOrWhiteSpace(UriInitialized))
				{
					<TucSkeletonPageHeader />
				}
				else if (_spaceData is null)
				{
					<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
				}
				else
				{
					<TucSpaceDataColumnCard Title="@LOC("Primary and Connected Columns")" Options="_columnOptions" Items="_spaceDataColumns"
											AddColumn="_onAddColumn" RemoveColumn="_onRemoveColumn" AddAllColumns="_onAddAllColumns" />
				}
			</div>
		</TucErrorBoundry>
	</ChildContent>
</TucPageLayout> *@