@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div style="padding:var(--tf-layout-content-padding)">
		@if (String.IsNullOrWhiteSpace(UriInitialized))
		{
			<TucSkeletonPageHeader />
		}
		else if (_spaceData is null)
		{
			<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
		}
		else
		{
			<TucPageHeader Icon="@TfConstants.GetIcon("Database")" IconColor="@(_space?.Color ?? TfConstants.DefaultThemeColor)" Class="page-title"
						   Area="@($"{_space?.Name} : {LOC("Space Data")}")" Title="@_spaceData.Name" SubTitle="@LOC("Columns")" />

			<TucSpaceDataColumnCard Title="@LOC("Primary and Connected Columns")" Options="_columnOptions" Items="_spaceDataColumns" 
					AddColumn="_onAddColumn" RemoveColumn="_onRemoveColumn" />
		}
	</div>
</TucErrorBoundry>