@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent

<style>
	.talk-panel {
		--message-editor-background: @TfAppState.Value.SpaceBackgkroundColor;
		--panel-header-label-color: @TfAppState.Value.SpaceColorString;
	}
</style>
@if (_activeThread is not null)
{
	<style>
		::part(control) {
			--dialog-width: 60vw;
		}
	</style>
}
<FluentDialogHeader Style="display:none" />
<FluentDialogFooter Style="display:none" />
<FluentDialogBody>
	<div>
		@if (_isLoading)
		{
			<TfLoadingPane />
		}
		else if (Content.ChannelId is null)
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("No channel is configured for this column!")</FluentMessageBar>
		}
		else if (_channel is null)
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("No talk channel is selected for this view column!")</FluentMessageBar>
		}
		else if (String.IsNullOrWhiteSpace(_channel.SharedKey))
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("The talk channel has no shared key set!")</FluentMessageBar>
		}
		else if (_skValue is null)
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("The selected dataset does not support the shared key '{0}' of channel '{1}'!", _channel.SharedKey, _channel.Name)</FluentMessageBar>
		}
		else if (_skValue == Guid.Empty)
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("The selected shared key '{0}' value is not yet generated for this row of the dataset!", _channel.SharedKey)</FluentMessageBar>
		}
		else
		{
			<div class="talk-panel">
				<div class="talk-panel__left">
					<div class="talk-panel__left__header">
						<div class="talk-channel-label">@($"#{_channel.Name}")</div>
						<div>
							<FluentButton Appearance="@Appearance.Stealth"
										  OnClick="_cancel"
										  IconStart="TfConstants.CloseIcon.WithColor(Color.Neutral)" />
						</div>
					</div>
					<div class="talk-panel__left__body">
						@if (_threads.Count == 0)
						{
							<div class="talk-panel__left__body__info">
								<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("No messages in this thread yet")</FluentMessageBar>
							</div>
						}
						else
						{
							<div class="talk-panel__left__body__messages">
								@{
									var channelCssDict = _generateThreadClassDict(_threads);
								}
								@foreach (TalkThread context in _threads)
								{
									if (context.DeletedOn.HasValue && context.SubThread.Count == 0) continue;
									<TalkMessage @key=context.Id
												 Item="context"
												 CurrentUser="TfUserState.Value.CurrentUser"
												 Class="@channelCssDict[context.Id]"
												 IsEdited="@(_threadEditedId == context.Id)"
												 IsSaving=@(_threadIdUpdateSaving == context.Id)
												 OnDelete="@(_ => _deleteThread(context))"
												 OnEdit="@(_ => _editThread(context))"
												 OnReply="@(_ => _replyToThread(context))"
												 OnEditSave="@(x => _saveMessage(context,x))"
												 OnEditCancel="@(_ => _cancelSaveMessage())" />
								}
							</div>
						}
					</div>
					<div class="talk-panel__left__footer">
						<div class="talk-editor">
							<TfEditor @ref=_channelEditor Placeholder="@LOC("Message in #{0}",_channel.Name)" @bind-Value="_channelEditorContent" OnEnter="_sendMessage" />
						</div>
						<div class="talk-editor__actions">
							<div class="editor__actions__left">
								<span class="text-muted">Shift + Enter for new line. Enter to send.</span>
							</div>
							<div class="editor__actions__right">
								<FluentButton IconStart="@TfConstants.GetIcon("Send")" OnClick="_sendMessage"
											  Loading="_channelEditorSending" Disabled="_channelEditorSending">Send</FluentButton>
							</div>
						</div>
					</div>
				</div>
				<div class="talk-panel__right" style="@(_activeThread is null ? "display:none" : "")">
					@if (_activeThread is not null)
					{
						<div class="talk-panel__right__header">
							<div>@LOC("Thread")</div>
							<div>
								<FluentButton Appearance="@Appearance.Stealth"
											  OnClick="_closeActiveThread"
											  IconStart="TfConstants.CloseIcon.WithColor(Color.Neutral)" />
							</div>
						</div>
						<div class="talk-panel__right__body">
							<div class="talk-panel__right__body__messages">
								<TalkMessage @key=_activeThread.Id
											 Item="_activeThread"
											 CurrentUser="TfUserState.Value.CurrentUser"
											 Class=""
											 IsEdited="@(_threadEditedId == _activeThread.Id)"
											 IsSaving=@(_threadIdUpdateSaving == _activeThread.Id)
											 HideReplies="true"
											 OnDelete="@(_ => _deleteThread(_activeThread))"
											 OnEdit="@(_ => _editThread(_activeThread))"
											 OnReply="@(_ => _replyToThread(_activeThread))"
											 OnEditSave="@(x => _saveMessage(_activeThread,x))"
											 OnEditCancel="@(_ => _cancelSaveMessage())" />

								@if (_activeThread.SubThread is not null && _activeThread.SubThread.Count > 0)
								{
									<div class="talk-message-separator">
										<div class="talk-message-separator-label">@LOC("{0} replies", _activeThread.SubThread.Count)</div>
										<div class="talk-message-separator-ruler"></div>
									</div>
								}
								@{
									var threadCssDict = _generateThreadClassDict(_activeThread.SubThread);
								}
								@foreach (var context in _activeThread.SubThread)
								{
									if (context.DeletedOn.HasValue && context.SubThread.Count == 0) continue;
									<TalkMessage @key=context.Id
												 Item="context"
												 CurrentUser="TfUserState.Value.CurrentUser"
												 Class="@threadCssDict[context.Id]"
												 IsEdited="@(_threadEditedId == context.Id)"
												 IsSaving=@(_threadIdUpdateSaving == context.Id)
												 HideReplies="true"
												 OnDelete="@(_ => _deleteThread(context))"
												 OnEdit="@(_ => _editThread(context))"
												 OnReply="@(_ => _replyToThread(context))"
												 OnEditSave="@(x => _saveMessage(context,x))"
												 OnEditCancel="@(_ => _cancelSaveMessage())" />
								}
								<div class="talk-panel__right__body__messages__editor">
									<div class="talk-editor">
										<TfEditor @ref=_threadEditor Placeholder="@LOC("Reply...")" @bind-Value="_threadEditorContent"
												  OnEnter="_replyMessage" />
									</div>
									<div class="talk-editor__actions">
										<div class="editor__actions__left">
											<span class="text-muted">Shift + Enter for new line. Enter to send.</span>
										</div>
										<div class="editor__actions__right">
											<FluentButton IconStart="@TfConstants.GetIcon("Send")" OnClick="_replyMessage"
														  Loading="_threadEditorSending" Disabled="_threadEditorSending">Send</FluentButton>
										</div>
									</div>
								</div>

							</div>
						</div>
					}
				</div>
			</div>
		}
	</div>
</FluentDialogBody>
