@inherits TfBaseComponent
@if (_open)
{
	<div class="view-export-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-export-selector">
			@foreach (var comp in _regionComponents)
			{
				<DynamicComponent Type="comp.ComponentType" />
			}
			<FluentMenuItem Disabled="@(_selectedItems.Count == 0)">
				Comment Selected
				<FluentIcon Value="@TfConstants.GetIcon("Comment")" Slot="start" />
				@if (_selectedItems.Count > 0)
				{
					<span slot="end">
						<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@_selectedItems.Count</FluentBadge>
					</span>
				}
			</FluentMenuItem>
			<FluentMenuItem Disabled="@(_selectedItems.Count == 0)">
				Email Selected
				<FluentIcon Value="@TfConstants.GetIcon("Mail")" Slot="start" />
				@if (_selectedItems.Count > 0)
				{
					<span slot="end">
						<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@_selectedItems.Count</FluentBadge>
					</span>
				}
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
