@namespace WebVella.Tefter.Web.Pages
@page "/admin/data-providers"
@page "/admin/data-providers/{ProviderId:guid}/{*Path}"

@layout AdminLayout
@inherits TfBasePage

@if (SidebarExpanded.Value)
{
	<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@TfConstants.AdminSidebarStyle">
		<TfAdminDataProviderNavigation />
	</FluentStack>
}
@if (ProviderId == Guid.Empty)
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
			<TfPageHeader Style="margin-bottom:15px;">@LOC("Data Providers")</TfPageHeader>
			<FluentMessageBar Title="Under Construction" AllowDismiss="false"
							  Intent="@MessageIntent.Info" Style="margin-bottom:10px;">
				<div>TBD: Data Provider dashboard with various height level overview information</div>
			</FluentMessageBar>
			<FluentMessageBar Title="HOW TO PROCEED" AllowDismiss="false"
							  Intent="@MessageIntent.Warning">
				<div>Select provider from the list to review and manage it</div>
			</FluentMessageBar>
		</div>
	</FluentBodyContent>
}
else
{
	var urlData = Navigator.GetRouteState();
	<FluentBodyContent Class="content-body with-toolbar content-header">
		<div class="page-header">
			@if (TfAppState.Value.AdminDataProvider is not null)
			{
				<TfPageHeader>@TfAppState.Value.AdminDataProvider.Name</TfPageHeader>
			}
		</div>
		<div class="content-inner">

			<TfAdminDataProviderDetailsNav />
			@if (!urlData.NodesDict.ContainsKey(3))
			{
				<TfAdminDataProviderDetails />
			}
			else if (urlData.NodesDict[3] == "schema")
			{
				<TfAdminDataProviderSchema />
			}
			else if (urlData.NodesDict[3] == "keys")
			{
				<TfAdminDataProviderKeys />
			}
			else if (urlData.NodesDict[3] == "aux")
			{
				<TfAdminDataProviderAux />
			}
			else if (urlData.NodesDict[3] == "synchronization")
			{
				<TfAdminDataProviderSynchronization />
			}
			else if (urlData.NodesDict[3] == "data")
			{
				<TfAdminDataProviderData />
			}
		</div>
	</FluentBodyContent>

}


