@page "/space/{SpaceId:guid}"
@layout SpaceLayout
@inherits TfBasePage
<TfSpaceStateManager/>
@if (SpaceState.Value.Space is null)
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
		<FluentMessageBar Title="No space found"
						  Style="border: 1px solid var(--neutral-base-color)"
						  Intent="MessageIntent.Info"
						  Type="@MessageType.Notification"
						  AllowDismiss="false">
			No spaces found yet notification
		</FluentMessageBar>
		</div>
	</FluentBodyContent>
}
else if (SpaceState.Value.SpaceViewList.Count == 0)
{
	<FluentBodyContent Class="content-body">
		<div class="content-inner">
		<FluentMessageBar Title="No space views found"
						  Style="border: 1px solid var(--neutral-base-color)"
						  Intent="MessageIntent.Info"
						  Type="@MessageType.Notification"
						  AllowDismiss="false">
				<p><a href="@($"/space/{SpaceState.Value.Space.Id}/data/{Guid.NewGuid()}")">space data</a></p>
				<div><FluentButton OnClick="_createViewHandler" IconStart="@TfConstants.AddIcon" Appearance="@Appearance.Accent">Create view</FluentButton></div>
		</FluentMessageBar>
		</div>
	</FluentBodyContent>
}
else
{

	<FluentBodyContent Class="content-body">
		<div class="content-inner">
			<FluentMessageBar Title="Missing redirect"
							  Style="border: 1px solid var(--neutral-base-color)"
							  Intent="MessageIntent.Warning"
							  Type="@MessageType.Notification"
							  AllowDismiss="false">
				Should redirect to the first view
			</FluentMessageBar>
		</div>
	</FluentBodyContent>

@* 	@if (ScreenStateSidebarExpanded.Value)
	{
		<FluentStack Orientation="Orientation.Vertical" Class="sidebar with-toolbar" Style="@SpaceState.Value.SpaceSidebarStyle">
			<TfSpaceNavigation />
		</FluentStack>
	}
	<FluentBodyContent Class="content-body with-toolbar">
		<TfSpaceViewToolbar />
		<div class="content-inner">
			<TfSpaceView />
		</div>
	</FluentBodyContent> *@
}

