@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<FluentMenu @bind-Open="_open" Anchor="view-share-selector" UseMenuService="true" HorizontalPosition="HorizontalPosition.Right">
	<FluentMenuItem OnClick="_copyLinkToClipboard">
		@LOC("Copy link")
		<FluentIcon Value="@TfConstants.GetIcon("Link")" Slot="start"/>
	</FluentMenuItem>
	<FluentDivider/>
	<FluentMenuItem>
		<ChildContent>
			@LOC("Export")
			<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown").WithColor(Color.Neutral)" Slot="start"/>
		</ChildContent>
		<MenuItems>
			<FluentMenuItem Disabled="true">CSV</FluentMenuItem>
			<FluentMenuItem Disabled="@(SelectedRows.Count == 0)" OnClick="_exportCSVSelection">
				@LOC("CSV Selected")
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start"/>
				@if (SelectedRows.Count > 0)
				{
					<span slot="end">
								<FluentBadge Appearance="@Appearance.Accent"
								             Style="margin-left:3px;">@SelectedRows.Count</FluentBadge>
							</span>
				}
			</FluentMenuItem>
			<FluentMenuItem OnClick="_exportCSVAll">
				@LOC("CSV All")
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start"/>
			</FluentMenuItem>
			<FluentDivider/>
			<FluentMenuItem Disabled="true">Excel</FluentMenuItem>
			<FluentMenuItem Disabled="@(SelectedRows.Count == 0)" OnClick="_exportExcelSelection">
				@LOC("Excel Selected")
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start"/>
				@if (SelectedRows.Count > 0)
				{
					<span slot="end">
								<FluentBadge Appearance="@Appearance.Accent"
								             Style="margin-left:3px;">@SelectedRows.Count</FluentBadge>
							</span>
				}
			</FluentMenuItem>
			<FluentMenuItem OnClick="_exportExcelAll">
				@LOC("Excel All")
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start"/>
			</FluentMenuItem>
		</MenuItems>
	</FluentMenuItem>
</FluentMenu>
<div style="display:none">
	<form method="post" name="ExportCSVSelection" action="@_exportCSVUrl" class="ant-form ant-form-vertical">
		<input type="hidden" name="data" value="@_getExportSelectionData()"/>
		<button type="submit" id="@_exportCSVSelectionBtnId"></button>
	</form>
	<form method="post" name="ExportCSVAll" action="@_exportCSVUrl" class="ant-form ant-form-vertical">
		<input type="hidden" name="data" value="@_getExportAllData()"/>
		<button type="submit" id="@_exportCSVAllBtnId"></button>
	</form>
	<form method="post" name="ExportExcelSelection" action="@_exportExcelUrl" class="ant-form ant-form-vertical">
		<input type="hidden" name="data" value="@_getExportSelectionData()"/>
		<button type="submit" id="@_exportExcelSelectionBtnId"></button>
	</form>
	<form method="post" name="ExportExcelAll" action="@_exportExcelUrl" class="ant-form ant-form-vertical">
		<input type="hidden" name="data" value="@_getExportAllData()"/>
		<button type="submit" id="@_exportExcelAllBtnId"></button>
	</form>
</div>


