@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (TfAppState.Value.AdminDataProvider is null || TfAppState.Value.AdminDataProvider.SharedKeys is null
																|| TfAppState.Value.AdminDataProvider.SharedKeys.Count == 0)
{
	<FluentMessageBar Title="@LOC("No keys")" AllowDismiss="false"
					  Intent="@MessageIntent.Info">@LOC("No shared keys are created yet for this data provider")</FluentMessageBar>
}
else
{
	<div class="tf-grid-wrapper">
		<table class="tf-grid">
			<thead class="tf-grid-thead">
				<tr class="tf-grid-thead-bkg" style="@($"background-color:{TfConstants.AdminBackgkroundColor}")"></tr>
				<tr class="tf-grid-tr">
					<th class="tf-grid-th" style="width:50px;"></th>
					<th class="tf-grid-th">name</th>
					<th class="tf-grid-th">columns</th>
					<th class="tf-grid-th" style="width:220px;">details</th>
				</tr>
			</thead>
			<tbody class="tf-grid-tbody">
				@foreach (var context in TfAppState.Value.AdminDataProvider.SharedKeys)
				{
					<tr @key=context.Id class="tf-grid-tr">
						<td class="tf-grid-td">
							<div>
								<FluentButton Appearance="@Appearance.Outline" IconStart="@TfConstants.EditIcon"
											  Title="@LOC("Edit column")" OnClick="@(()=> _editKey(context))" />
								<FluentButton Appearance="@Appearance.Outline" OnClick="@(()=> _deleteKey(context))" Title="@LOC("Delete column")">
									<FluentIcon Color="@Color.Error" Value="@TfConstants.DeleteIcon" />
								</FluentButton>
							</div>
						</td>
						<td class="tf-grid-td">
							<div>
								<div>@context.DbName</div>
								<div class="td-description">@context.Description</div>
							</div>
						</td>
						<td class="tf-grid-td">
							<div>
								<FluentStack>
									@foreach (var item in context.Columns)
									{
										<FluentBadge Appearance="@Appearance.Accent">@item.DbName</FluentBadge>
									}
								</FluentStack>
							</div>
						</td>
						<td class="tf-grid-td">
							<div>
								<div>@context.Id</div>
								<div class="td-description">ver. @context.Version</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

}

