@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<TfCard>
	<TitleTemplate>
		<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.End">
			<FluentButton Appearance="@Appearance.Outline" OnClick="_deleteColumn" Loading="_isDeleting" Disabled="_isDeleting">
				@LOC("Delete")
				<FluentIcon Value="@TfConstants.DeleteIcon" Color="@Color.Error" Slot="start" />
			</FluentButton>
			<FluentButton Appearance="@Appearance.Outline" OnClick="_editColumn">
				@LOC("Edit")
				<FluentIcon Value="@TfConstants.EditIcon" Color="@Color.Accent" Slot="start" />
			</FluentButton>
		</FluentStack>
	</TitleTemplate>
	<ChildContent>
		<FluentGrid>
			<FluentGridItem xs="5">
				<FluentTextField Value="@(TfAppState.Value.AdminSharedColumn?.DbName)"
								 Label="@LOC("Name")" Style="width:100%" ReadOnly="true" Disabled="true" />
			</FluentGridItem>
			<FluentGridItem xs="5">
				<FluentTextField Value="@(TfAppState.Value.AdminSharedColumn.DbType?.Name)"
								 Label="@LOC("Data type")" Style="width:100%" ReadOnly="true" Disabled="true" />
			</FluentGridItem>
			<FluentGridItem xs="2">
				<FluentInputLabel Label="@LOC("Global search")" />
				<div>
					@if (TfAppState.Value.AdminSharedColumn?.IncludeInTableSearch ?? false)
					{
						<FluentBadge Fill="somevalue" BackgroundColor="@TfColor.Emerald500.GetAttribute().Value" Color="white" Class="input-badge">ON</FluentBadge>
					}
					else
					{
						<FluentBadge Fill="somevalue" BackgroundColor="@TfColor.Red500.GetAttribute().Value" Color="white" Class="input-badge">OFF</FluentBadge>
					}
				</div>
			</FluentGridItem>
		</FluentGrid>
	</ChildContent>
</TfCard>
