@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
				  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>

		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.DbName
									 Label="@LOC("Name")" Style="width:100%"
									 Disabled="!_isCreate" AutoComplete="off" />
					<FluentValidationMessage For="@(() => _form.DbName)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=@_form.Description
									 Label="@LOC("Description")" Style="width:100%"
									 AutoComplete="off" />
					<FluentValidationMessage For="@(() => _form.Description)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Selected Columns")" />
					<FluentSortableList Id="selection" Group="selection"
										Style="height:200px;overflow-y:scroll;overflow-x:hidden"
										TItem="TucDataProviderColumn"
										OnUpdate="@onSelectionUpdate" OnRemove="@onSelectionRemove"
										Items="@_form.Columns" Context="item">
						<ItemTemplate>
							<div class="sortable-grab">
								<FluentIcon Value="@TfConstants.GetIcon("ArrowMove")" />
							</div>
							<div class="sortable-item-content" style="flex-grow: 1;">@item.DbName</div>
						</ItemTemplate>
					</FluentSortableList>
					<FluentValidationMessage For="@(() => _form.Columns)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Available Columns")" />
					<FluentSortableList Id="provider" Group="provider"
										Sort="false"
										Style="height:200px;overflow-y:scroll;overflow-x:hidden"
										TItem="TucDataProviderColumn"
										OnRemove="@onProviderRemove"
										Items="@_providerColumns" Context="item">
						<ItemTemplate>
							<div class="sortable-grab">
								<FluentIcon Value="@TfConstants.GetIcon("ArrowMove")" />
							</div>
							<div class="sortable-item-content" style="flex-grow: 1;">@item.DbName</div>
						</ItemTemplate>
					</FluentSortableList>
				</FluentGridItem>
			</FluentGrid>
		</FluentEditForm>
	</div>
</FluentDialogBody>
