@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent

<FluentCard Style="width:300px;" Class="login-card">
	<FluentStack Orientation="@Orientation.Vertical">
		<FluentEditForm EditContext="EditContext" OnSubmit="_submit" FormName="login-form" novalidate>
			<DataAnnotationsValidator />
			<div class="login-logo">
				<div class="login-logo-image"><img src="@ConfigurationService.CompanyLogoUrl" /></div>
				<div class="login-logo-text">@ConfigurationService.CompanyName</div>
			</div>
			<div class="login-form">
				<FluentTextField TextFieldType="@TextFieldType.Email" @bind-Value=UC.Form.Email
								 Label="@LOC("Email")" Id="email" Name="email" Autofocus="true"/>
				<FluentValidationMessage For="@(() => UC.Form.Email)" />
				<FluentTextField TextFieldType="@TextFieldType.Password" @bind-Value=UC.Form.Password
								 Label="@LOC("Password")" Id="password" Name="password"/>
				<FluentValidationMessage For="@(() => UC.Form.Password)" />
				<FluentCheckbox @bind-Value=UC.Form.RememberMe Style="margin-top:1rem;">@LOC("Remember Me")</FluentCheckbox>
			</div>
			<div class="login-btn">
				<FluentButton Type="ButtonType.Submit" Appearance="@Appearance.Accent"
							  IconStart="@TfConstants.GetIcon("Key")"
							  Loading="@UC.IsSubmitting" Disabled="@UC.IsSubmitting">@LOC("Login")</FluentButton>
			</div>
		</FluentEditForm>
	</FluentStack>
</FluentCard>

