@namespace WebVella.Tefter.UI.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="false" Visible="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="@_iconBtn"
	              Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>
		<FluentEditForm EditContext="EditContext" class="tf-form" novalidate>
			<TucCard>
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentTextField Required="true"
						                 TextFieldType="@TextFieldType.Text"
						                 @bind-Value=@_form.Name AutoComplete="off"
						                 Label="@LOC("Name")" Style="width:100%"/>
						<FluentValidationMessage For="@(() => _form.Name)"/>
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Preset type")" Required="true"/>
						@if (_isCreate)
						{
							<FluentCheckbox @bind-Value="@_form.IsGroup" Label="@LOC("make as a group for holding presets")"/>
						}
						else
						{
							<FluentTextField TextFieldType="@TextFieldType.Text"
							                 Value=@(_form.IsGroup ? LOC("group") : LOC("preset filter")) Disabled="true"
							                 Style="width:100%"/>
						}
						<FluentValidationMessage For="@(() => _form.IsGroup)"/>
					</FluentGridItem>
				</FluentGrid>
				<FluentGrid>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Parent Group")"/>
						<FluentStack>
							<TucSelect Required="false"
							           SelectedOption="@_selectedParent"
							           SelectedOptionChanged="((x) => _selectedParent = x)"
							           TOption="TfSpaceViewPreset"
							           Items="@Content.SpaceView!.PresetsWithParents" Style="width:100%"
							           OptionValue="@((p) => p.Id.ToString())"
							           OptionText="@(x => x.Name)" Placeholder="@LOC("no parent")"/>
							@if (_selectedParent is not null)
							{
								<FluentButton Disabled="@(_selectedParent is null)"
								              IconStart="@TfConstants.GetIcon("Dismiss")!.WithColor(Color.Error)"
								              OnClick="@(_ => _selectedParent = null)"/>
							}
						</FluentStack>
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Color")"/>
						<TucSelectColor @bind-Value=@_form.Color/>
						<FluentValidationMessage For="@(() => _form.Color)"/>
					</FluentGridItem>
					<FluentGridItem xs="4">
						<FluentInputLabel Label="@LOC("Icon")"/>
						<TucSelectIcon @bind-Value=@_form.Icon/>
						<FluentValidationMessage For="@(() => _form.Icon)"/>
					</FluentGridItem>
				</FluentGrid>
			</TucCard>
			@if (_form.IsGroup)
			{
				<FluentMessageBar Style="margin-top:2rem" AllowDismiss="false"
				                  Intent="@MessageIntent.Info">@LOC("Groups do not have filter and sort selection.")</FluentMessageBar>
			}
			else
			{
				<div class="tf-divider tf-divider--with-title" style="margin:15px 0">
					<div class="tf-divider__title">@LOC("SEARCH")</div>
					<div class="tf-divider__hr"></div>
				</div>
				<TucCard>
					<FluentGrid>
						<FluentGridItem xs="4">
							<FluentTextField TextFieldType="@TextFieldType.Text" Label="@LOC("GLOBAL SEARCH")"
							                 @bind-Value=@_form.Search AutoComplete="off" Style="width:100%"/>
							<FluentValidationMessage For="@(() => _form.Search)"/>
						</FluentGridItem>
					</FluentGrid>					
				</TucCard>
				<div class="tf-divider tf-divider--with-title" style="margin:15px 0">
					<div class="tf-divider__title">@LOC("FILTERS")</div>
					<div class="tf-divider__hr"></div>
				</div>				
				<TucFilterCard DatasetId="Content.DateSet!.Id" @bind-Items="_form.Filters"/>
				<div class="tf-divider tf-divider--with-title" style="margin:15px 0">
					<div class="tf-divider__title">@LOC("SORT ORDER")</div>
					<div class="tf-divider__hr"></div>
				</div>
				<TucSortCard DatasetId="Content.DateSet!.Id" @bind-Items="_form.SortOrders"/>
			}
		</FluentEditForm>
	</div>
</FluentDialogBody>
