@inherits TfBaseComponent


@if (_open)
{
	<div class="view-setting-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector">
			<FluentMenuItem>
				Bookmark
				<span slot="start">
					<FluentIcon Value="@TfConstants.BookmarkOFFIcon" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem Disabled="true">
				Save view
				<span slot="start">
					<FluentIcon Value="@TfConstants.SaveIcon" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Save view as
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("SaveCopy")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem>
				Rename View
				<span slot="start">
					<FluentIcon Value="@TfConstants.EditIcon" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Delete View
				<span slot="start">
					<FluentIcon Value="@TfConstants.DeleteIcon" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Manage Access
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("KeyMultiple")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem Disabled="true">
				Copy link
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Link")" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
