@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<TfLayoutBodyMain HeaderClass="aside-tabs">
	<Header>
		<TfPageHeader>@LOC("Manage dataset '{0}'", TfAppState.Value.SpaceData?.Name)</TfPageHeader>
	</Header>
	<HeaderAside>
		<TfSpaceDataDetailsNav />
	</HeaderAside>
	<Toolbar>
		<FluentSearch Value="@TfAppState.Value.SpaceDataSearch" ValueChanged="_onSearch" AutoComplete="off" />
	</Toolbar>
	<ChildContent>
		@if (TfAppState.Value.SpaceDataData is not null)
		{
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							@foreach (var column in TfAppState.Value.SpaceDataData.Columns)
							{
								<th class="tf-grid-th">@column</th>
							}
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						@foreach (TfDataRow row in TfAppState.Value.SpaceDataData.Rows)
						{
							<tr @key=@row["tf_id"] class="tf-grid-tr">
								@foreach (var column in TfAppState.Value.SpaceDataData.Columns)
								{
									<td class="tf-grid-td">
										<div>@row[column.Name]</div>
									</td>
								}
							</tr>
						}
						@if (TfAppState.Value.SpaceDataData.Rows.Count == 0)
						{
							<tr class="tf-grid-tr">
								<td class="tf-grid-td">No records found</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		}
	</ChildContent>
	<Footer>
		<div class="tf-grid__pager">
			<TfPager Page="@TfAppState.Value.SpaceDataPage" GoLast="@_goLastPage" GoNext="@_goNextPage"
					 GoFirst="@_goFirstPage" GoPrevious="@_goPreviousPage" GoOnPage="@_goOnPage" />
		</div>
	</Footer>
</TfLayoutBodyMain>