@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div class="tuc-select-color @Class" style="@Style">
	@if (!string.IsNullOrWhiteSpace(Label))
	{
		<label for="@Id" class="form-label">@Label</label>
	}

	<div class="input-group">
		<input type="@Type"
			   id="@Id"
			   value="@Value"
			   @onchange="HandleColorChange"
			   disabled="@Disabled"
			   required="@Required"
			   class="form-control @InputClass"
			   style="@InputStyle" />

		@if (ShowPreview && !string.IsNullOrWhiteSpace(Value))
		{
			<div class="color-preview @PreviewClass"
				 style="background-color: @Value; @PreviewStyle">
			</div>
		}
	</div>

	@if (ShowColorValue && !string.IsNullOrWhiteSpace(Value))
	{
		<div class="color-value @ColorValueClass" style="@ColorValueStyle">
			@Value
		</div>
	}
</div>