@namespace Boz.Tefter.Actions
@inherits TfBaseComponent

<FluentButton IconStart="@(new Icons.Regular.Size20.Accessibility())" OnClick="onClick" Appearance="@Appearance.Outline"/>
<FluentButton Id="view-action-selector" OnClick="onClick" Appearance="@Appearance.Outline">
	Actions
	@if (_selectedItems.Count > 0)
	{
		<span slot="start">
			<FluentBadge Appearance="Appearance.Accent">@_selectedItems.Count</FluentBadge>
		</span>
	}
	else
	{
		<FluentIcon Value="@(new Icons.Regular.Size20.AccessTime())" Slot="start" />
	}
</FluentButton>