@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<div class="tf-header-nav" style="@($"--space-color: {TfAppState.Value.SpaceColorString};")">
	@foreach (var item in _menu)
	{
		<FluentAnchor Href="@item.Url" Appearance="@Appearance.Outline" Class="@(item.Active ? "active" : "")">
			@item.Title
@* 			<FluentIcon Slot="start" Value="@item.Icon" /> *@
			@if (item.Nodes != null)
			{
				<FluentIcon Slot="end" Value="@TfConstants.GetIcon("ChevronDown")" />
			}
		</FluentAnchor>
	}
	<FluentAnchor Href="/" Appearance="@Appearance.Outline">
		<FluentIcon Value="@TfConstants.AddIcon" />
	</FluentAnchor>
</div>

