@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@typeparam TOption

@{
	RenderFragment<TOption> CardIcon = option =>
	@<div class="tf-component-icon">
		@if (!String.IsNullOrWhiteSpace(_getOptionIcon(option)))
	{
		<FluentIcon Value="@TfConstants.GetIcon(_getOptionIcon(option))" />
	}
	</div>;
	RenderFragment<TOption> CardMeta = option =>
	@<div class="tf-component-meta">
		<div class="tf-component-title">@_getOptionText(option)</div>
		@if (!String.IsNullOrWhiteSpace(_getOptionDescription(option)))
	{
		<div class="tf-component-description">@_getOptionDescription(option)</div>
	}
	</div>;
}

<div class="tf-select-component">
	@if (_isReadonly)
	{
		<TucCard>
			<div class="tf-component">
				@CardIcon(Value)
				@CardMeta(Value)
			</div>
		</TucCard>
	}
	else
	{
		<TucCard Id="@_elementId" OnClick="@(_=> _onOpenChanged(true))">
			<div class="tf-component">
				@CardIcon(Value)
				@CardMeta(Value)
				<div class="tf-component-caret"><FluentIcon Value="@TfConstants.GetIcon("ChevronDown")" CustomColor="var(--tf-font-color-mute)" Color="@Color.Custom" /></div>
			</div>
		</TucCard>
		@if (_open)
		{
			<FluentOverlay Visible="@true" OnClose="@(_=> _onOpenChanged(false))" Transparent="true" FullScreen="true" />
			<FluentAnchoredRegion Anchor="@_elementId" Style="max-height:300px;overflow:scroll;position:relative;"
								  AutoFocus="true" FixedPlacement="true" Class="tf-select-menu"
								  HorizontalDefaultPosition="HorizontalPosition.Center"
								  VerticalDefaultPosition="VerticalPosition.Bottom"
								  HorizontalPositioningMode="AxisPositioningMode.Dynamic"
								  VerticalPositioningMode="AxisPositioningMode.Dynamic"
								  HorizontalScaling="AxisScalingMode.Anchor">
				<div class="tf-select-menu__body">
					<FluentNavMenu>
						<Virtualize TItem="TOption" Items="@Items" Context="option" ItemSize="32">
							<FluentMenuItem @key=@option OnClick="@(() => _optionChanged(option))" Class="@(_matchOptions(Value, option) ? "tf-menu__item--actived" : "")">
								<div class="tf-component tf-component--small">
									@CardIcon(option)
									@CardMeta(option)
								</div>
							</FluentMenuItem>
						</Virtualize>
					</FluentNavMenu>
				</div>
			</FluentAnchoredRegion>
		}
	}
</div>
