@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<div class="usernav">
	@if (UserState.Value is not null && UserState.Value.User is not null)
	{
		<div class="actions">
			@if (_isAdmin)
			{
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_adminExitClick" Title="@LOC("Exit Admin")">
					<FluentIcon Value="@TfConstants.GetIcon("ArrowExit")" Color="@Color.Neutral" Slot="start" />
					@LOC("Exit Admin")
				</FluentButton>
				<TfLanguageSwitch />
				<TfNotificationCenter />
			}
			else
			{
				<TfLanguageSwitch/>
				<TfNotificationCenter/>
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_adminClick" Title="Administration">
					<FluentIcon Value="@TfConstants.GetIcon("AppFolder")" Color="@Color.Neutral" />
				</FluentButton>
				<FluentButton Appearance="@Appearance.Stealth" OnClick="_helpClick" Title="Help">
					<FluentIcon Value="@TfConstants.GetIcon("QuestionCircle")" Color="@Color.Neutral" />
				</FluentButton>

			}
		</div>
		<div class="avatar">
			<FluentPersona Id="user-menu-toggle" Initials="@RenderUtils.GetUserInitions(UserState.Value.User)"
						   ImageSize="24px" OnClick="() => _visible = !_visible"></FluentPersona>
		</div>
		<FluentMenu Width="200" @bind-Open="_visible" Anchor="user-menu-toggle" UseMenuService="false">
			<FluentMenuItem Disabled="true">
				@UserState.Value.User.FirstName @UserState.Value.User.LastName
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Person")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="_setTheme">
				@LOC("Change Theme")
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("Color")" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="_logout">
				@LOC("Logout")
				<span slot="start">
					<FluentIcon Value="@TfConstants.GetIcon("SignOut")" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	}
</div>


