@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<FluentInputFile Id="@_elementId"
                 Class="tf-drag-drop-input"
                 Mode="InputFileMode.SaveToTemporaryFolder"
                 Multiple="true"
                 MaximumFileSize="@(100*1024*1024)"
                 @bind-ProgressPercent="@_progressPercent"
                 OnCompleted="@OnCompletedAsync">
    <ChildContent>
        <label for="@_elementId">
            <FluentIcon Value="@TfConstants.GetIcon("ArrowDownload")" />
        </label>
        <div>
            @LOC("Drop the files you want to be created as Pages"),
        </div>
    </ChildContent>
</FluentInputFile>