@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<FluentInputFile Id="@_elementId"
                 Class="tf-drag-drop-input"
                 Mode="InputFileMode.SaveToTemporaryFolder"
                 Multiple="true"
                 MaximumFileCount="100"
                 MaximumFileSize="@(1000*1024*1024)"
                 @bind-ProgressPercent="@_progressPercent"
                 OnCompleted="@OnCompletedAsync">
    <ChildContent>
        <div style="padding:var(--tf-padding)">
            <div>
                <label for="@_elementId">
                    <FluentIcon Value="@TfConstants.GetIcon("ArrowDownload",IconSize.Size48)" />
                </label>
            </div>
            <div>
                @LOC("Drop the files you want to be created as Pages."),
            </div>
            <div style="margin-top:30px;text-align:left; font-size:var(--type-ramp-minus-1-font-size)">
                <div style="color:var(--neutral-foreground-hint)">@LOC("File formats")</div>
                <div>@LOC("CSV and Spreadsheets should contain a header row with columns names immediately after the start.")</div>
                <div style="margin-top:10px;color:var(--neutral-foreground-hint)">@LOC("File Extensions")</div>
                <div>@LOC(".csv, .xls, .xlsx")</div>
            </div>
        </div>
    </ChildContent>
</FluentInputFile>