@inherits TfBaseComponent


<nav role="navigation" class="paginator-nav tfpager">
	<FluentStack>
		<FluentButton @onclick="GoFirst" Disabled="@(Page == 1)" title="@LOC("Go to first page")">
			<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleLeft")" Width="20px" />
		</FluentButton>
		<FluentButton @onclick="GoPrevious" Disabled="@(Page == 1)" title="@LOC("Go to previous page")">
			<FluentIcon Value="@TfConstants.GetIcon("ChevronLeft")" Width="20px" />
		</FluentButton>
		<div class="pagination-pager">
			<FluentNumberField TValue="int" Value="@Page" ValueChanged="GoOnPage"/>
		</div>
		<FluentButton @onclick="GoNext" title="@LOC("Go to next page")">
			<FluentIcon Value="@TfConstants.GetIcon("ChevronRight")" Width="20px" />
		</FluentButton>
		<FluentButton @onclick="GoLast" title="@LOC("Go to last page")">
			<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleRight")" Width="20px" />
		</FluentButton>
	</FluentStack>
</nav>



