@namespace WebVella.Tefter.TemplateProcessors.DocumentFile.Addons
@inherits TfBaseComponent
@{
	var leftTagEncoded = "&lcub;&lcub;";
	var rightTagEncoded = "&rcub;&rcub;";
}
<div>
	<p>@LOC("The template utilizes an Document (.xlsx) file, which will be processed to replace the identified template tags with the selected data according to the following rules:")</p>

	<h3>@LOC("General Rules")</h3>
	<ul>
		<li>@((MarkupString)LOC("Each template tag must start with '{0}' and end with '{1}'", leftTagEncoded, rightTagEncoded))</li>
		<li>@LOC("The file will be processed cell by cell, starting from the top-left corner and proceeding to the bottom-right corner.")</li>
		<li>@LOC("The template requires the exact name of the data column to match the name used in the data provider.")</li>
		<li>@LOC("All non-template content will remain unchanged and will retain its original placement relative to its position in the template.")</li>
		<li>@LOC("Each data group, as defined by the 'Group by' property, will generate a separate instance of the template's result.")</li>
	</ul>

	<h3>@LOC("Vertical data transposition")</h3>
	<p>@LOC("This is is the default flow. Example if there are 3 rows of data:")</p>
	<div class="example-row">
		<div class="example-col left">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th">
								<div>@LOC("template")</div>
							</th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td">
								<div>@((MarkupString)$"{leftTagEncoded}column_name{rightTagEncoded}")</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="example-col right">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th"><div>@LOC("result")</div></th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td"><div>data1</div></td>
						</tr>
						<tr class="tf-grid-tr">
							<td class="tf-grid-td"><div>data2</div></td>
						</tr>
						<tr class="tf-grid-tr">
							<td class="tf-grid-td"><div>data3</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<h3>@LOC("Horizontal data transposition")</h3>
	<p>@LOC("This flow can be applied by the 'F'(flow) template setting with value 'H' (horizontal). Example if there are 3 rows of data:")</p>
	<div class="example-row">
		<div class="example-col left">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th">
								<div>@LOC("template")</div>
							</th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td">
								<div>@((MarkupString)$"{leftTagEncoded}column_name(F=H){rightTagEncoded}")</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="example-col right">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th" colspan="3"><div>@LOC("result")</div></th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td"><div>data1</div></td>
							<td class="tf-grid-td"><div>data2</div></td>
							<td class="tf-grid-td"><div>data3</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<h3>@LOC("Selecting data by index")</h3>
	<p>@((MarkupString)LOC("You can select a specific row to be processed by its index. <u>Important</u>: The index starts at 0, meaning the first row has an index of 0. Example if there are 3 rows of data:"))</p>
	<div class="example-row">
		<div class="example-col left">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th">
								<div>@LOC("template")</div>
							</th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td">
								<div>@((MarkupString)$"{leftTagEncoded}column_name[2]{rightTagEncoded}")</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="example-col right">
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th"><div>@LOC("result")</div></th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						<tr class="tf-grid-tr">
							<td class="tf-grid-td"><div>data3</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
