@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfTextMultiSelectColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	<div>
		<FluentAutocomplete Id="@_valueInputId" Style="width:100%"
					  AutoComplete="off"
					  TOption="Tuple<object,string>"
					  Items="_options"
					  Height="@TfConstants.ComboPanelHeight"
					  OptionText="((x)=> x.Item2)"
					  SelectedOptions="_selectedOptions"
					  SelectedOptionsChanged="_optionChanged"
					  Multiple="true"/>
	</div>
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Change confirmation")" />
			<FluentCheckbox Value="@componentOptions.ChangeRequiresConfirmation"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeRequiresConfirmation),x))
							Label="@LOC("requires confirmation")" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Confirmation message")"
							 Value="@componentOptions.ChangeConfirmationMessage" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeConfirmationMessage),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextArea Label="@LOC("Options")" Resize="@TextAreaResize.Vertical"
							Value="@componentOptions.OptionsString" Style="width:100%;" Rows="7"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.OptionsString),x)) />
			<div class="tf-input-description">@LOC("Options separated by new line. Each options supports comma separated value,label")</div>
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


