@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<TfCard>
	<TitleTemplate>
		<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.End">
			@if (AllColumnOptions.Count > 0)
			{
				<FluentSelect OptionSelected="(x => x == _selectedColumn)"
							  @bind-SelectedOption="@_selectedColumn"
							  Disabled="_submitting"
							  TOption="string" Required="false"
							  Items="@AllColumnOptions" Style="width:200px"
							  Placeholder="@LOC("select provider column")" />
				<FluentSelect OptionSelected="(x => x == _selectedDirection)"
							  @bind-SelectedOption="@_selectedDirection"
							  Disabled="_submitting"
							  TOption="TucSortDirection"
							  Items="@(Enum.GetValues<TucSortDirection>())"
							  OptionValue="@((p)=> ((int)p).ToString())"
							  OptionText="@((p)=> p.ToDescriptionString())"
							  Style="width:100px" />
			}
			else
			{
				<FluentTextField TextFieldType="@TextFieldType.Text" Value=@LOC("all columns added") Style="width:200px" Disabled="true" />
			}
			<FluentButton OnClick="_addSortColumn" IconStart="@TfConstants.AddIcon" Appearance="@Appearance.Outline"
						  Disabled="@(AllColumnOptions.Count == 0 || _submitting)">@LOC("Add new")</FluentButton>
		</FluentStack>
	</TitleTemplate>
	<ChildContent>
		@if (Items.Count == 0)
		{
			@LOC("No data sort order defined yet")
		}
		else
		{
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<tbody class="tf-grid-tbody">
						@foreach (var context in Items)
						{
							<tr @key=@Guid.NewGuid() class="tf-grid-tr">
								<td class="tf-grid-td" style="width:1%;vertical-align:middle">
									<div>
										@if (AllColumnOptions.Contains(context.ColumnName))
										{
											<FluentIcon Value="@TfConstants.GetIcon("CheckmarkCircle")" Color="@Color.Success" Title="@LOC("found in provider")"></FluentIcon>
										}
										else
										{
											<FluentIcon Value="@TfConstants.GetIcon("ErrorCircle")" Color="@Color.Error" Title="@LOC("not found in provider")"></FluentIcon>
										}
									</div>
								</td>
								<td class="tf-grid-td" style="width:300px;">
									<div>@context.ColumnName</div>
								</td>
								<td class="tf-grid-td">
									<div>@context.Direction.ToDescriptionString()</div>
								</td>
								<td class="tf-grid-td" style="width:1%;">
									<div>
										<FluentButton Appearance="@Appearance.Outline" OnClick="@(()=> _deleteSortColumn(context))" Title="@LOC("Delete sort order")"
													  Disabled="_submitting">
											<FluentIcon Color="@Color.Error" Value="@TfConstants.DeleteIcon" />
										</FluentButton>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</ChildContent>
</TfCard>