@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (TfAppState.Value.AdminDataIdentity is not null)
{
	<TfCard>
		<TitleTemplate>
			<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.SpaceBetween" VerticalAlignment="@VerticalAlignment.Center">
				<h3>@LOC("Details")</h3>
				<div>
					<TfAdminDataIdentityDetailsActions />
				</div>
			</FluentStack>
		</TitleTemplate>
		<ChildContent>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" Value="@TfAppState.Value.AdminDataIdentity?.Name"
									 ReadOnly="true" Label="@LOC("Name")" Style="width:100%" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" Value="@TfAppState.Value.AdminDataIdentity?.Description"
									 ReadOnly="true" Label="@LOC("Description")" Style="width:100%" />
				</FluentGridItem>
			</FluentGrid>
		</ChildContent>
	</TfCard>

	<TfCard Style="margin-top:30px;">
		<TitleTemplate>
			<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.SpaceBetween" VerticalAlignment="@VerticalAlignment.Center">
				<h3>@LOC("Implementing Data Providers")</h3>
			</FluentStack>
		</TitleTemplate>
		<ChildContent>
			@if (TfAppState.Value.AdminDataIdentity?.IsSystem ?? false)
			{
				<FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss=false>@LOC("System Identity! All objects in Tefter implement this identity by using their row id")</FluentMessageBar>
			}
			else if (_dataProviders.Count == 0)
			{
				<FluentMessageBar Intent="@MessageIntent.Warning" AllowDismiss=false>@LOC("No data providers implement the identity")</FluentMessageBar>
			}
			else
			{
				<div class="tf-grid-wrapper">
					<table class="tf-grid">
						<thead class="tf-grid-thead">
							<tr class="tf-grid-thead-bkg"></tr>
							<tr class="tf-grid-tr">
								<th class="tf-grid-th">name</th>
								<th class="tf-grid-th">columns</th>
							</tr>
						</thead>
						<tbody class="tf-grid-tbody">
							@foreach (var context in _dataProviders)
							{
								<tr @key=@Guid.NewGuid() class="tf-grid-tr">
									<td class="tf-grid-td">
										<div>@context.Name</div>
									</td>
									<td class="tf-grid-td">
										<div>
											@_getProviderImplementation(context)
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</ChildContent>
	</TfCard>

}
else
{
	<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("Identity not found")</FluentMessageBar>
}

