@namespace WebVella.Tefter.Web.Components.SidebarToggle
@inherits TfBaseComponent

<div class="sidebar-toggle">
	<FluentButton Appearance="@Appearance.Stealth" OnClick="_toggle">
		@if (ScreenSidebarState.Value)
		{
			<FluentIcon Value="@TfConstants.GetIcon("ArrowDownload")" Color="@Color.Neutral" Style="transform:rotate(90deg)" />
		}
		else
		{
			<FluentIcon Value="@TfConstants.GetIcon("ArrowExport")" Color="@Color.Neutral" />
		}
	</FluentButton>
</div>
