@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-space-actions">
    <FluentButton IconStart="@TfConstants.GetIcon("AppFolder")"
                  Appearance="@Appearance.Outline" OnClick="_findSpace">@LOC("spaces")
    </FluentButton>
    @if (TfAuthLayout.GetState().Space is not null)
    {
        <FluentButton IconStart="@TfConstants.GetIcon("Settings")"
                      Appearance="@Appearance.Outline">@LOC("settings")
        </FluentButton>
    }
</div>