@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-space-actions">
    <FluentButton Title="@LOC("Space Search [CTRL+Tab]")"
                  Appearance="@Appearance.Outline" OnClick="_findSpace">@LOC("spaces")
    </FluentButton>
    @if (TfAuthLayout.GetState().Space is not null)
    {
        <FluentButton Id="space-menu-toggle"
                      Appearance="@Appearance.Outline" Title="@LOC("Configure the current space")"
                      OnClick="() => _spaceMenuVisible = !_spaceMenuVisible">@LOC("settings")
        </FluentButton>
        <FluentMenu @bind-Open="_spaceMenuVisible" Anchor="space-menu-toggle" UseMenuService="true"
                    HorizontalPosition="HorizontalPosition.Right">
            @if (TfAuthLayout.GetState().SpacePage is not null)
            {
                <FluentMenuItem Disabled="true">@LOC("Current Page")</FluentMenuItem>
                <FluentMenuItem
                    OnClick="_manageCurrentPage">
                    @LOC("Manage page")
                    <span slot="start">
                        <FluentIcon Value="@TfConstants.GetIcon("Document")" Slot="start"/>
                    </span>
                </FluentMenuItem>
                <FluentMenuItem
                    OnClick="_manageCurrentPage">
                    @LOC("Copy Page")
                    <span slot="start">
                        <FluentIcon Value="@TfConstants.GetIcon("Document")" Slot="start"/>
                    </span>
                </FluentMenuItem>
                <FluentMenuItem
                    OnClick="_manageCurrentPage">
                    @LOC("Delete Page")
                    <span slot="start">
                        <FluentIcon Value="@TfConstants.GetIcon("Document")" Slot="start"/>
                    </span>
                </FluentMenuItem>                  
                <FluentDivider />
            }
            <FluentMenuItem Disabled="true">@LOC("Current Space")</FluentMenuItem>
            <FluentMenuItem
                OnClick="_manageCurrentSpace">
                @LOC("Manage Space")
                <span slot="start">
                    <FluentIcon Value="@TfConstants.GetIcon("Settings")" Slot="start"/>
                </span>
            </FluentMenuItem>
            <FluentMenuItem
                OnClick="_manageCurrentSpace">
                @LOC("Space Access")
                <span slot="start">
                    <FluentIcon Value="@TfConstants.GetIcon("Settings")" Slot="start"/>
                </span>
            </FluentMenuItem>            
        </FluentMenu>
    }
</div>