@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-space-actions">
    <FluentButton Class="tf-button" IconStart="@TfConstants.GetIcon("AppFolder")"
                  Appearance="@Appearance.Outline">@LOC("spaces")
    </FluentButton>
    @if (TfAuthLayout.GetState().Space is not null)
    {
        <FluentButton Class="tf-button" IconStart="@TfConstants.GetIcon("Settings")"
                      Appearance="@Appearance.Outline">@LOC("settings")
        </FluentButton>
    }
</div>