@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-space-actions">
    <FluentButton Title="@LOC("Space Search [CTRL+Tab]")" Class="tf-space-actions--active"
                  Appearance="@Appearance.Stealth" OnClick="_findSpace">@LOC("spaces")
    </FluentButton>
    <FluentButton Title="@LOC("Space Search [CTRL+Tab]")"
                  Appearance="@Appearance.Stealth" OnClick="_findSpace">@LOC("boards")
    </FluentButton>    
</div>