@namespace WebVella.Tefter.UI.Components
@inherits ComponentBase

<div class="@_cssClass">
	<div class="@($"{_layoutClass}__header")">
		@Header
	</div>
	@if (Toolbar is not null)
	{
		<div class="@($"{_layoutClass}__toolbar")">
			@Toolbar
		</div>
	}
	<div class="@($"{_layoutClass}__wrapper")">
		<div class="@($"{_layoutClass}__main {(ContentToolbar is not null ? $"{_layoutClass}__main--with-toolbar" : "")}")">
			@if (ContentToolbar is not null)
			{
				<div class="@($"{_layoutClass}__main__toolbar")">
					@ContentToolbar
				</div>
			}
			<div class="@($"{_layoutClass}__main__content")">
				@Content
			</div>
		</div>
	</div>
</div>


