@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<div class="@_cssClass">
	@if (_showNavigation)
	{
		<div class="tf-page-layout__navigation">
			<div class="tf-page-layout__navigation__left">
				@if (!String.IsNullOrWhiteSpace(TfAuthLayout.NavigationState.ReturnUrl))
				{
					<div class="tf-page-layout__navigation__left__back-btn">
						<TucAnchor Appearance="@Appearance.Outline" Href="@TfAuthLayout.NavigationState.ReturnUrl"
						           IconStart="@TfConstants.GetIcon("ChevronLeft")">@LOC("Back")</TucAnchor>
					</div>
				}
				@if (Icon is not null)
				{
					<div class="tf-page-layout__navigation__left__icon-wrapper">
						<div class="tf-page-layout__navigation__left__icon" style="@_iconStyle">
							<FluentIcon Value="@Icon.WithColor(Icon is null ? "var(--tf-font-color-base)" : "#fff")"/>
						</div>
					</div>
				}
				<div class="tf-page-layout__navigation__left__meta">
					@if (!String.IsNullOrWhiteSpace(Area))
					{
						<div class="tf-page-layout__navigation__left__meta__area">
							@if (!String.IsNullOrWhiteSpace(SubArea))
							{
								<span>@Area</span>
								<span class="tf-page-header__divider">:</span>
								<span>@SubArea</span>
							}
							else
							{
								<span>@Area</span>
							}
						</div>
					}
					<div class="tf-page-layout__navigation__left__meta__title">
						@if (!String.IsNullOrWhiteSpace(SubTitle))
						{
							<span>@Title</span>
							<span class="tf-page-header__divider">:</span>
							<span>@SubTitle</span>
						}
						else
						{
							<span>@Title</span>
						}
					</div>
				</div>
			</div>

			<div class="tf-page-layout__navigation__right">
				@if (NavigationLeft is not null || NavigationRight is not null)
				{
					<div class="tf-page-layout__navigation__right__inner">
						<div class="tf-page-layout__navigation__right__inner__left">@NavigationLeft</div>
						<div class="tf-page-layout__navigation__right__inner__right">@NavigationRight</div>
					</div>
				}
			</div>
		</div>
	}
	@if (_showToolbar)
	{
		<div class="tf-page-layout__toolbar">
			<div class="tf-page-layout__toolbar__left">@ToolbarLeft</div>
			<div class="tf-page-layout__toolbar__right">@ToolbarRight</div>
		</div>
	}
	<div class="tf-page-layout__content">
		@ChildContent
	</div>
</div>


