@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent


<nav role="navigation" class="tf-paginator-nav " style="@Style">
	<div class="tf-paginator-nav__left">
		<FluentStack>
			<FluentButton Appearance="Appearance.Outline" @onclick="_goFirst" Disabled="@(_page == 1)" title="@LOC("Go to first page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleLeft")" Width="20px" />
			</FluentButton>
			<FluentButton Appearance="Appearance.Outline" @onclick="_goPrevious" Disabled="@(_page == 1)" title="@LOC("Go to previous page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronLeft")" Width="20px" />
			</FluentButton>
			<div class="tf-pagination-pager">
				<FluentNumberField TValue="int" Value="@_page" ValueChanged="_pageChanged" AutoComplete="off"  Min="1"/>
			</div>
			<FluentButton Appearance="Appearance.Outline" @onclick="_goNext" title="@LOC("Go to next page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronRight")" Width="20px" />
			</FluentButton>
			<FluentButton Appearance="Appearance.Outline" @onclick="_goLast" title="@LOC("Go to last page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleRight")" Width="20px" />
			</FluentButton>
		</FluentStack>
	</div>
	<div class="tf-paginator-nav__right">
		@if (ChangePageSize.HasDelegate && _pageSize != 0)
		{
			<FluentStack VerticalAlignment="@VerticalAlignment.Center">
				<div class="tf-paginator-nav-description">Items:</div>
				<div class="tf-pagination-pagesize">
					<FluentNumberField TValue="int" Value="@_pageSize" Immediate="true" ImmediateDelay=@_throttleMS ValueChanged="_pageSizeChanged"
									   AutoComplete="off" Min="1" />
				</div>
			</FluentStack>
		}
	</div>
</nav>



