@namespace WebVella.Tefter.Assets.Addons

@inherits TucBaseViewColumn<TfFolderAssetsCountComponentOptions>
@if (RegionContext.Mode == TfComponentPresentationMode.Display)
{

	<div>
		@if (_selectedFolder is null )
		{
			<div style="color:var(--error);" title="@LOC("folder is not configured")">error!</div>
		}
		else if (_value is null || _value == 0)
		{
			<FluentButton Appearance="@Appearance.Outline" OnClick="_onClick">
				<FluentIcon Value="@TfConstants.GetIcon("DocumentCopy")" />
			</FluentButton>
		}
		else
		{
			<FluentButton Appearance="@Appearance.Outline" OnClick="_onClick">
				@_value 
				<FluentIcon Slot="end" Value="@TfConstants.GetIcon("DocumentCopy")" />
			</FluentButton>
		}
	</div>


}
else if (RegionContext.Mode == TfComponentPresentationMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Folder")" />
			<FluentSelect TOption="AssetsFolder"
						  Items="_folders"
						  OptionValue="(x=> x.Id.ToString())"
						  OptionText="(x=> x.Name)"
						  OptionSelected="(x => x.Id == _selectedFolder?.Id)"
						  SelectedOption="_selectedFolder"
						  SelectedOptionChanged="_folderSelectHandler" />
		</FluentGridItem>

	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


