@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="view-export-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-export-selector" UseMenuService="false">
			<FluentMenuItem Disabled="@(_selectedItems.Count == 0)">
				Export Selection
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
				@if (_selectedItems.Count > 0)
				{
					<span slot="end">
						<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@_selectedItems.Count</FluentBadge>
					</span>
				}
			</FluentMenuItem>
			<FluentMenuItem>
				Export All data
				<FluentIcon Value="@TfConstants.GetIcon("CloudArrowDown")" Slot="start" Color="@Color.Custom" CustomColor="@TfAppState.Value.SpaceIconColorString" />
			</FluentMenuItem>
		</FluentMenu>
	</div>
}

