@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (SidebarExpanded.Value)
{
	<TfLayoutBodyAside>
		<Toolbar>
			<div class="tf-sidetoolbar">
				<div class="tf-sidetoolbar__search"></div>
				<div class="tf-sidetoolbar__actions">
					<FluentButton Title="@LOC("Create new template")"
								  IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)"
								  OnClick="onAddClick" Appearance="@Appearance.Outline">@LOC("New")</FluentButton>
				</div>
			</div>
		</Toolbar>
		<ChildContent>
			<FluentNavMenu Class="tf-sidenav">
				@foreach (var item in Enum.GetValues<TfTemplateResultType>())
				{
					<FluentNavLink Href="@(string.Format(TfConstants.AdminTemplatesResultPageUrl,(int)item))" Match="@NavLinkMatch.Prefix"
								   @key="@item" Icon="@TfConstants.AdminTemplatesIcon">
						@item.ToDescriptionString()
					</FluentNavLink>
				}
			</FluentNavMenu>
		</ChildContent>
	</TfLayoutBodyAside>
}
