@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (TfAppState.Value.AdminDataProvider is not null)
{

	<FluentStack Orientation="@Orientation.Horizontal" HorizontalAlignment="@HorizontalAlignment.SpaceBetween" VerticalAlignment="@VerticalAlignment.Center">
		<TfPageHeader Style="margin-bottom:1rem">@LOC("Implemented Data Identities")</TfPageHeader>
		<FluentButton Appearance="@Appearance.Outline" OnClick="_implementDataIdentity">
			@LOC("Data identity")
			<FluentIcon Value="@TfConstants.AddIcon" Color="@Color.Accent" Slot="start" />
		</FluentButton>
	</FluentStack>

	<div class="tf-grid-wrapper">
			<table class="tf-grid">
				<thead class="tf-grid-thead">
					<tr class="tf-grid-thead-bkg"></tr>
					<tr class="tf-grid-tr">
						<th class="tf-grid-th" style="width:110px;min-width:110px;"></th>
						<th class="tf-grid-th">name</th>
						<th class="tf-grid-th">columns</th>
						@* <th class="tf-grid-th" style="width:220px;min-width:220px;">details</th> *@
					</tr>
				</thead>
				<tbody class="tf-grid-tbody">
					@foreach (var context in TfAppState.Value.AdminDataProvider.Identities)
					{
						<tr @key=context.Id class="tf-grid-tr">
							<td class="tf-grid-td">
								<div>
									@if (context.Name == TfConstants.TF_ROW_ID_DATA_IDENTITY)
									{
										<FluentButton Appearance="@Appearance.Outline" IconStart="@TfConstants.LockIcon"
													  Title="@LOC("always implemented")" Disabled=true />
									}
									else
									{
										<FluentStack Wrap="false">
											<FluentButton Appearance="@Appearance.Outline" IconStart="@TfConstants.EditIcon"
														  Title="@LOC("Edit column")" OnClick="@(()=> _editIdentity(context))" />
											<FluentButton Appearance="@Appearance.Outline" OnClick="@(() => _deleteIdentity(context))" Title="@LOC("Delete")">
												<FluentIcon Color="@Color.Error" Value="@TfConstants.DeleteIcon" />
											</FluentButton>
										</FluentStack>
									}
								</div>
							</td>
							<td class="tf-grid-td">
								<div>
									@context.Name
								</div>
							</td>
							<td class="tf-grid-td">
								<div>
									<FluentStack>
										@foreach (var item in context.Columns)
										{
											<FluentBadge Appearance="@Appearance.Neutral">@item</FluentBadge>
										}
									</FluentStack>
								</div>
							</td>
							@* 							<td class="tf-grid-td">
								<div>
									<div>@context.Id</div>
									<div class="td-description">ver. @context.Version</div>
								</div>
							</td> *@
						</tr>
					}
				</tbody>
			</table>
		</div>


	<FluentGrid Style="margin-top:3rem;">
		<FluentGridItem xs="12" md="6">
			<TfCard>
				<TitleTemplate>
					<TfPageHeader>
						<ChildContent>@LOC("Joined Data providers")</ChildContent>
						<SubHeader>@LOC("When data providers share at least one common identity, their data can be joined. Only the data from the primary provider is modifiable.")</SubHeader>
					</TfPageHeader>
				</TitleTemplate>
				<ChildContent>
					@if (_joinedProviders.Count == 0)
					{
						<FluentMessageBar Title="@LOC("No data providers can be joined")" AllowDismiss="false"
										  Intent="@MessageIntent.Info">@LOC("For data from different providers to be joined, they must implement at least one common join key.")</FluentMessageBar>
					}
					else
					{
						<div class="tf-grid-wrapper">
							<table class="tf-grid">
								<thead class="tf-grid-thead">
									<tr class="tf-grid-thead-bkg"></tr>
									<tr class="tf-grid-tr">
										<th class="tf-grid-th" style="width:80px;min-width:80px;">code</th>
										<th class="tf-grid-th">name</th>
										<th class="tf-grid-th">type</th>
										<th class="tf-grid-th">common identities</th>
									</tr>
								</thead>
								<tbody class="tf-grid-tbody">
									@foreach (var context in _joinedProviders)
									{
										<tr @key=context.Id class="tf-grid-tr">
											<td class="tf-grid-td">
												<div>@context.Code</div>
											</td>
											<td class="tf-grid-td">
												<div>@context.Name</div>
											</td>
											<td class="tf-grid-td">
												<div>@context.ProviderType.Name</div>
											</td>
											<td class="tf-grid-td">
												<div>@_showCommonIdentities(context)</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					}
				</ChildContent>
			</TfCard>
		</FluentGridItem>
		<FluentGridItem xs="12" md="6">
			<TfCard>
				<TitleTemplate>
					<TfPageHeader>
						<ChildContent>@LOC("Joined Shared columns")</ChildContent>
						<SubHeader>@LOC("Columns that match one of the join keys implemented for this data source")</SubHeader>
					</TfPageHeader>
				</TitleTemplate>
				<ChildContent>
					@if (TfAppState.Value.AdminDataProvider.SharedColumns is null || TfAppState.Value.AdminDataProvider.SharedColumns.Count == 0)
					{
						<FluentMessageBar Title="@LOC("No shared columns matched")" AllowDismiss="false"
										  Intent="@MessageIntent.Info">@LOC("No shared columns are matching any of the join keys for this data source")</FluentMessageBar>
					}
					else
					{
						<div class="tf-grid-wrapper">
							<table class="tf-grid">
								<thead class="tf-grid-thead">
									<tr class="tf-grid-thead-bkg"></tr>
									<tr class="tf-grid-tr">
										<th class="tf-grid-th">name</th>
										<th class="tf-grid-th">type</th>
										<th class="tf-grid-th" style="width:80px">in search</th>
										<th class="tf-grid-th">common identity</th>
									</tr>
								</thead>
								<tbody class="tf-grid-tbody">
									@foreach (var context in TfAppState.Value.AdminDataProvider.SharedColumns)
									{
										<tr @key=context.Id class="tf-grid-tr">
											<td class="tf-grid-td">
												<div>@context.DbName</div>
											</td>
											<td class="tf-grid-td">
												<div>@context.DbType.Name</div>
											</td>
											<td class="tf-grid-td">
												<div>
													@if (context.IncludeInTableSearch)
													{
														<FluentBadge Appearance="@Appearance.Neutral">yes</FluentBadge>
													}
													else
													{
														<FluentBadge>no</FluentBadge>
													}
												</div>
											</td>
											<td class="tf-grid-td">
												<div>@context.DataIdentity</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					}
				</ChildContent>
			</TfCard>
		</FluentGridItem>
	</FluentGrid>
}