@namespace WebVella.Tefter.UI.Addons
@inherits ComponentBase

@foreach (var item in Value ?? new())
{
	if (item is null)
	{
		if (!String.IsNullOrWhiteSpace(_settings.NullLabel))
		{
			<div>@_settings.NullLabel</div>
		}
		else if (_settings.NullValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("SubtractSquare")" Color="@Color.FillInverse" /></div>
		}
		else
		{
			<div></div>
		}
	}
	else if (item.Value)
	{
		if (!String.IsNullOrWhiteSpace(_settings.TrueLabel))
		{
			<div>@_settings.TrueLabel</div>
		}
		else if (_settings.TrueValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Checkmark",variant:IconVariant.Filled)" Color="@Color.Success" /></div>
		}		
		else 
		{
			<div>@item.Value.ToString()</div>
		}
	}
	else
	{
		if (!String.IsNullOrWhiteSpace(_settings.FalseLabel))
		{
			<div>@_settings.FalseLabel</div>
		}
		else if (_settings.FalseValueShowAsIcon)
		{
			<div style="text-align:center"><FluentIcon Value="@TfConstants.GetIcon("Dismiss")" Color="@Color.Error" /></div>
		}
		else
		{
			<div>@item.Value.ToString()</div>
		}
	}
}