@using WebVella.Tefter.Web.Components
@namespace WebVella.Tefter.TemplateProcessors.Email.Addons
@inherits TfBaseComponent
@if (_loading)
{
	<TfLoadingPane />
}
else
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("From")" />
			<FluentTextField Value=@_form.Sender ReadOnly="true"
							 TextFieldType="TextFieldType.Text" Style="width:100%" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("To")" />
			<FluentTextField Value=@_form.Recipients ReadOnly="true"
							 TextFieldType="TextFieldType.Text" Style="width:100%" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Cc")" />
			<FluentTextField Value=@_form.CcRecipients ReadOnly="true" TextFieldType="TextFieldType.Text" Style="width:100%" />
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Bcc")" />
			<FluentTextField Value=@_form.BccRecipients ReadOnly="true" TextFieldType="TextFieldType.Text" Style="width:100%" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="12">
			<FluentInputLabel Label="@LOC("Subject")" />
			<FluentTextField Value=@_form.Subject ReadOnly="true" TextFieldType="TextFieldType.Text" Style="width:100%" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="12">
			<FluentInputLabel Label="@LOC("Content")" />
			<TfEditor Value=@_form.HtmlContent Size="TfEditorSize.Large" ReadOnly="true" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="12">
			<FluentInputLabel Label="@LOC("Attachments")" />
			<div class="tf-grid-wrapper" style="margin-top:15px;">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th" style="width:60px;min-width:60px;">status</th>
							<th class="tf-grid-th" style="width:30px;min-width:30px;">icon</th>
							<th class="tf-grid-th">name</th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						@foreach (var row in _attachmentsSelection)
						{
							<tr @key=row.TemplateId class="tf-grid-tr">
								<td class="tf-grid-td">
									<div>
										@if (row.Template.IsEnabled)
										{
											<FluentBadge Style="display:block" Appearance="@Appearance.Neutral">@LOC("ON")</FluentBadge>
										}
										else
										{
											<FluentBadge Style="display:block" Fill="somevalue" BackgroundColor="@TfColor.Emerald500.GetAttribute().Value" Color="white">@LOC("OFF")</FluentBadge>
										}
									</div>
								</td>
								<td class="tf-grid-td">
									<div>
										<FluentIcon Value="@TfConstants.GetIcon(row.Template.FluentIconName)" />
									</div>
								</td>
								<td class="tf-grid-td">
									<div>
										@row.Template.Name
									</div>
								</td>
							</tr>
						}
						@if (_attachmentsSelection.Count == 0)
						{
							<tr class="tf-grid-tr">
								<td class="tf-grid-td" colspan="4">
									<div>
										@LOC("No attachments added")
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="12">
			<FluentInputLabel Label="@LOC("Group by columns")" />
			<TfSelectList Values=@_form.GroupBy
						  NoItemsMessage="@LOC("no data grouping will be applied")" />
		</FluentGridItem>
	</FluentGrid>
}