@namespace WebVella.Tefter.Assets.Components
@inherits TfBaseComponent
<FluentStack HorizontalAlignment="@HorizontalAlignment.Right" Style="margin-bottom:1rem;">
	<FluentButton Appearance="@Appearance.Outline" OnClick="_createFolderHandler" IconStart="@TfConstants.GetIcon("Add")">
		@LOC("Create folder")
	</FluentButton>
</FluentStack>
@if (_folders.Count == 0)
{
	<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("No folders created yet")</FluentMessageBar>
}
else
{
	<table class="tf-grid">
		<thead class="tf-grid-thead">
			<tr class="tf-grid-thead-bkg"></tr>
			<tr class="tf-grid-tr">
				<th class="tf-grid-th" style="width:40px;"></th>
				<th class="tf-grid-th">@LOC("folder name")</th>
				<th class="tf-grid-th">@LOC("join key")</th>
				<th class="tf-grid-th">@LOC("comments count column")</th>
			</tr>
		</thead>
		<tbody class="tf-grid-tbody">
			@foreach (var context in _folders)
			{
				<tr @key=@context.Id class="tf-grid-tr">
					<td class="tf-grid-td">
						<div>
							<FluentStack>
								<FluentButton Title="@LOC("edit channel")" OnClick="@(_=> _editFolderHandler(context))"
											  Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Edit")" />
								<FluentButton Title="@LOC("delete channel")" OnClick="@(_=> _deleteFolderHandler(context))" Appearance="@Appearance.Outline"
											  IconStart="@TfConstants.GetIcon("Delete").WithColor(Color.Error)" />
							</FluentStack>
						</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.Name</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.DataIdentity</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.CountSharedColumnName</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

