@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
				  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>
		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=_form.DbName
									 Label="@LOC("name")" Style="width:100%"
									 Disabled="!_isCreate" AutoComplete="off">
						<span slot="start" style="margin-right:-7px;">sk_</span>
					</FluentTextField>
					<FluentValidationMessage For="@(() => _form.DbName)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentSelect @bind-SelectedOption="_form.DbType"
								  TOption="TucDatabaseColumnTypeInfo"
								  Items="@TfAppState.Value.AdminSharedColumnDataTypes" Style="width:100%"
								  OptionValue="@(p => p.Name)"
								  OptionText="@(p => p.Name)" Label="@LOC("data type")" Disabled="!_isCreate"></FluentSelect>
					<FluentValidationMessage For="@(() => _form.DbType)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=_form.SharedKeyDbName
									 Label="@LOC("Target shared key")" Style="width:100%" AutoComplete="off" />
					<FluentValidationMessage For="@(() => _form.SharedKeyDbName)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentDivider Style="margin:15px 0" />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Global search")" />
					<FluentSwitch @bind-Value=_form.IncludeInTableSearch>@LOC("included")</FluentSwitch>
					<FluentValidationMessage For="@(() => _form.IncludeInTableSearch)" />
				</FluentGridItem>
				<FluentGridItem xs="6"></FluentGridItem>
			</FluentGrid>
		</FluentEditForm>
	</div>
</FluentDialogBody>
