@namespace WebVella.Tefter.Web.Components
@inherits TfRecipeStepFormBase

<div class="tf-guest-layout__body__content__body__step @(IsSubstep ? "substep" : "")">
	@if (Step.Errors.Any(x => String.IsNullOrWhiteSpace(x.PropertyName)))
	{
		<TfValidation Message="@LOC("Service error")" Style="margin-bottom:1rem;" Errors="@Step.Errors.Where(x => String.IsNullOrWhiteSpace(x.PropertyName)).ToList()" />
	}
	@if (!String.IsNullOrWhiteSpace(Step.StepContentTitle))
	{
		<div class="tf-guest-layout__body__content__body__step__title">
			@if (StepInfoDict.ContainsKey(Step.StepId))
			{
				<span>@StepInfoDict[Step.StepId].Position. </span>
			}
			<span>@(!String.IsNullOrWhiteSpace(Step.StepContentTitle) ? Step.StepContentTitle : Step.StepMenuTitle)</span>
		</div>
	}
	@if (!String.IsNullOrWhiteSpace(Step.StepContentDescription))
	{
		<div class="tf-guest-layout__body__content__body__step__description">@Step.StepContentDescription</div>
	}
	<div class="tf-guest-layout__body__content__body__step__form">
		@if (Step.GetType() == typeof(TfInfoRecipeStep))
		{
			<TfInfoRecipeStepForm Step="@((TfInfoRecipeStep)Step)" StepInfoDict="StepInfoDict" />
			<div>@compRef?.ComponentId</div>
		}
		else if (Step.GetType() == typeof(TfGroupRecipeStep))
		{
			<TfGroupRecipeStepForm Step="@((TfGroupRecipeStep)Step)" StepInfoDict="StepInfoDict" />
		}
		else if (Step.GetType() == typeof(TfCreateUserRecipeStep))
		{
			<TfCreateUserRecipeStepForm Step="@((TfCreateUserRecipeStep)Step)" StepInfoDict="StepInfoDict" />
		}
		else if (Step.GetType() == typeof(TfResultRecipeStep))
		{
			<TfResultRecipeStepForm Step="@((TfResultRecipeStep)Step)" StepInfoDict="StepInfoDict" />
		}
		else
		{
			<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss=false>@LOC("Step Type not supported")</FluentMessageBar>

		}
	</div>
</div>
