@namespace WebVella.Tefter.Web.Addons
@inherits TucBaseViewColumn<TfTimeDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentPresentationMode.Display)
{
	var format = componentOptions.Format;
	if (string.IsNullOrWhiteSpace(format)) format = Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern;
	<div>@_value?.ToString(format)</div>
}
else if (Context.Mode == TfComponentPresentationMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Format")"
							 Value="@componentOptions.Format" Style="width:100%" Immediate ImmediateDelay="500"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.Format),x))
							 Placeholder="@LOC("eg. 'HH:mm:ss'")" />
			<div class="tf-input-description">@LOC("defaults to the system's short time format")</div>
		</FluentGridItem>
		<FluentGridItem xs="6"></FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}

