@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (SidebarExpanded.Value)
{
	<TfLayoutBodyAside>
		<Toolbar>
			<div class="tf-sidetoolbar">
				<div class="tf-sidetoolbar__search">
					<FluentTextField Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="500" Value=@search
									 ValueChanged="onSearch" AutoComplete="off"/>
				</div>
				<div class="tf-sidetoolbar__actions">
					<FluentButton Title="@LOC("Create new data provider")"
								  IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)"
								  OnClick="onAddClick" Appearance="@Appearance.Outline">@LOC("New")</FluentButton>
				</div>
			</div>
		</Toolbar>
		<ChildContent>
			<FluentNavMenu Class="tf-sidenav">
				@foreach (var item in _getProviders())
				{
					<FluentNavLink Href="@(string.Format(TfConstants.AdminDataProviderDetailsPageUrl, item.Id))" Match="@NavLinkMatch.Prefix"
								   @key="@item.Id" Icon="@TfConstants.AdminDataProvidersIcon">
						@TfConverters.StringOverflow(item.Name, _stringLimit)
					</FluentNavLink>
				}
			</FluentNavMenu>
		</ChildContent>
	</TfLayoutBodyAside>
}


