@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucCard Title="@Title" Class="tf-card--filter">
	<TitleTemplate>
		@if (!OneLevelOnly)
		{
			<FluentButton OnClick="@(() => AddFilter(new TfFilterAnd().GetColumnName(), null))"
			              IconStart="@TfConstants.GetIcon("Add")"
			              Appearance="@Appearance.Outline">@LOC("AND")</FluentButton>
			<FluentButton OnClick="@(() => AddFilter(new TfFilterOr().GetColumnName(), null))"
			              IconStart="@TfConstants.GetIcon("Add")" Appearance="@Appearance.Outline">@LOC("OR")</FluentButton>
		}
	</TitleTemplate>
	<ToolbarTemplate>
		<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalAlignment="@HorizontalAlignment.Right">
			<FluentLabel Typo="@Typography.Body"
			             Style="margin-left:0.5rem;color:var(--neutral-foreground-rest);opacity:0.5">@LOC("Columns:")</FluentLabel>
			<TucSelect SelectedOption="@_selectedOption"
			           SelectedOptionChanged="(x=> _addColumnFilterHandler(x))"
			           TOption="TfFilterQuery" Required="false"
			           Items="@_allOptions" Style="width:300px"
			           Placeholder="@LOC("select to add...")"
			           OptionValue="(x=> x.QueryName)"
			           OptionText="(x=> _columnDict.ContainsKey(x.QueryName) ? _columnDict[x.QueryName] : x.QueryName)"/>
		</FluentStack>
	</ToolbarTemplate>
	<ChildContent>
		@if (Items.Count == 0)
		{
			<div style="color:var(--neutral-foreground-hint)">@LOC("No filters added yet")</div>
		}
		@foreach (var item in Items)
		{
			<TucFilterQueryManage Item="item"
			                      AddFilter="@((x) => AddFilter(x.Item1, x.Item2))"
			                      RemoveFilter="@((x) => RemoveFilter(x))"
			                      UpdateFilter="@((x) => UpdateFilter(x))"
			                      AllOptions=_allOptions
			                      ColumnDict="_columnDict"
			                      TypeDict="_typeDict"/>
		}
	</ChildContent>
</TucCard>
