@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@{
	var bcMenu = generateLocations();
}
<div class="location">
	@if (TfRouteState.Value.FirstNode == RouteDataFirstNode.Admin)
	{
		<div class="title">
			<FluentBadge Fill="somevalue" BackgroundColor="@TfConstants.AdminColor" Color="#ffffff">@LOC("Admin Panel")</FluentBadge>
		</div>
	}
	else if (TfRouteState.Value.SpaceId is not null)
	{
		<div class="title">
			<FluentBadge Appearance="@Appearance.Neutral">@LOC("Space")</FluentBadge>
		</div>
	}
	@if (bcMenu is not null && bcMenu.Count > 0)
	{
		<FluentBreadcrumb>
			@foreach (var item in bcMenu)
			{
				<FluentBreadcrumbItem title="@item.Title">
					@item.Title
				</FluentBreadcrumbItem>
			}
		</FluentBreadcrumb>
	}
</div>


