@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div style="padding:var(--tf-layout-content-padding)">
		@if (String.IsNullOrWhiteSpace(UriInitialized))
		{
			<TucSkeletonPageHeader />
		}
		else if (_spaceData is null)
		{
			<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
		}
		else
		{
			<TucPageHeader Icon="@TfConstants.GetIcon("Database")" IconColor="@(_space?.Color ?? TfConstants.DefaultThemeColor)" Class="page-title"
						   Area="@($"{_space?.Name} : {LOC(TfConstants.SpaceDataMenuTitle)}")" Title="@_spaceData.Name" SubTitle="@LOC("Details")" />

			<TucCard Title="@LOC("Details")">
				<ToolbarTemplate>
					<FluentButton Appearance="@Appearance.Outline" OnClick="_copySpaceData">
						@LOC("Copy")
						<FluentIcon Value="@TfConstants.GetIcon("Copy")" Slot="start" />
					</FluentButton>
					<FluentButton Appearance="@Appearance.Outline" OnClick="_editSpaceData">
						@LOC("Edit")
						<FluentIcon Value="@TfConstants.GetIcon("Edit")" Slot="start" />
					</FluentButton>
				</ToolbarTemplate>
				<ChildContent>
					<FluentGrid>
						<FluentGridItem xs="6">
							<FluentTextField TextFieldType="@TextFieldType.Text" Value=@_spaceData.Name
											 Label="@LOC("Name")" Style="width:100%" ReadOnly="true" />

						</FluentGridItem>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Primary Data provider")" />
							@if (_provider is not null)
							{
								<table class="tf-grid">
									<tbody class="tf-grid-tbody">
										<tr @key=_provider.Id class="tf-grid-tr">
											<td class="tf-grid-td">
												<div>@_provider.Code</div>
											</td>
											<td class="tf-grid-td">
												<div>@_provider.Name</div>
											</td>
											<td class="tf-grid-td">
												<div>@_provider.ProviderType.AddonName</div>
											</td>
											<td class="tf-grid-td" style="width:80px;">
												<div>
													<FluentAnchor Appearance="@Appearance.Outline" title="@LOC("open provider")"
																  Href="@(String.Format(TfConstants.AdminDataProviderDetailsPageUrl, _provider.Id))"
																  IconStart="@TfConstants.GetIcon("Eye")" Target="_blank">@LOC("view")</FluentAnchor>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							}
							else
							{
								<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Error">@LOC("The data provider no longer exists")</FluentMessageBar>
							}
						</FluentGridItem>
					</FluentGrid>
				</ChildContent>
			</TucCard>

			<TucCard>
				<FluentStack HorizontalAlignment="@HorizontalAlignment.SpaceBetween" VerticalAlignment="@VerticalAlignment.Center">
					<div>@LOC("Deleting the Space Data will stop any related views from displaying data in their columns and show an error message instead")</div>
					<div>
						<FluentButton BackgroundColor="@Color.Error.ToAttributeValue()" Color="white" OnClick="_deleteSpaceData">
							@LOC("Delete this Space Data")
							<FluentIcon Value="@TfConstants.GetIcon("Delete")!.WithColor("white")" Slot="start" />
						</FluentButton>
					</div>
				</FluentStack>
			</TucCard>
		}
	</div>
</TucErrorBoundry>