@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	@if (String.IsNullOrWhiteSpace(_error))
	{
		<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
					  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
	}
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	@if (!string.IsNullOrWhiteSpace(_error))
	{
		<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>
	}
	else
	{
		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Status")" />
					<FluentSwitch @bind-Value=@_form.IsEnabled>
						<span slot="checked-message">@LOC("enabled")</span>
						<span slot="unchecked-message">@LOC("enabled")</span>
					</FluentSwitch>
					<FluentValidationMessage For="@(() => _form.IsEnabled)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Use")" />
					<FluentSwitch @bind-Value=@_form.IsSelectable>
						<span slot="checked-message">@LOC("selectable")</span>
						<span slot="unchecked-message">@LOC("selectable")</span>
					</FluentSwitch>
					<FluentValidationMessage For="@(() => _form.IsSelectable)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField Required="true" TextFieldType="@TextFieldType.Text"
									 @bind-Value=@_form.Name AutoComplete="off"
									 Label="@LOC("Name")" Style="width:100%" />
					<FluentValidationMessage For="@(() => _form.Name)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Icon")" />
					<TfSelectIcon @bind-Value="@_form.FluentIconName" Required="true" />
					<FluentValidationMessage For="@(() => _form.FluentIconName)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="12">
					<FluentTextArea Rows="2"
									@bind-Value=@_form.Description
									Resize="TextAreaResize.Vertical"
									Label="@LOC("Description")" Style="width:100%" />
					<FluentValidationMessage For="@(() => _form.Name)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="12">
					<FluentInputLabel Label="@LOC("Target Space Dataset")" />
					<FluentSelect Style="width:100%" TOption="TfSpaceDataAsOption" SelectedOption="_spaceDataOption" SelectedOptionChanged="_spaceDataOptionChanged"
								  Placeholder="@LOC("select space dataset...")"
								  Value="@_spaceDataOption?.Id.ToString()"
								  OptionValue="@((p)=> p.Id.ToString())"
								  @bind-Items="_spaceDataOptions">
						<OptionTemplate Context="option">
							<span>@option.SpaceName <span class="text-muted">></span> @option.Name</span>
						</OptionTemplate>
					</FluentSelect>
					<FluentValidationMessage For="@(() => _form.SpaceDataList)" />
					<div class="tf-grid-wrapper" style="margin-top:15px;">
						<table class="tf-grid">
							<thead class="tf-grid-thead">
								<tr class="tf-grid-thead-bkg"></tr>
								<tr class="tf-grid-tr">
									<th class="tf-grid-th" style="width:30px;min-width:30px;"></th>
									<th class="tf-grid-th">space</th>
									<th class="tf-grid-th">data name</th>
								</tr>
							</thead>
							<tbody class="tf-grid-tbody">
								@foreach (var row in _spaceDataSelection)
								{
									<tr @key=row.Id class="tf-grid-tr">
										<td class="tf-grid-td">
											<div>
												<FluentButton Appearance=@Appearance.Outline IconStart="@TfConstants.DeleteIcon.WithColor(Color.Error)" 
													OnClick="@(_=> _removeItem(row))" />
											</div>
										</td>
										<td class="tf-grid-td">
											<div>
												@row.SpaceName
											</div>
										</td>
										<td class="tf-grid-td">
											<div>
												@row.Name
											</div>
										</td>
									</tr>
								}
								@if (_spaceDataSelection.Count == 0)
								{
									<tr class="tf-grid-tr">
										<td class="tf-grid-td" colspan="4">
											<div>
												@LOC("No targeted space dataset found")
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</FluentGridItem>
			</FluentGrid>
			@if (_isCreate)
			{
				<FluentDivider Style="margin:15px 0" />
				<FluentGrid>
					<FluentGridItem xs="12">
						<FluentInputLabel Label="@LOC("Template type")" />
						<TfSelectComponent TOption="ITfTemplateProcessorAddon" Items="@_processors"
										   Value="_selectedProcessor" ValueChanged="_componentChanged"
										   OptionText="@(x=> x.Name)" OptionIcon="@(x=> x.FluentIconName)" OptionDescription="@(x=> x.Description)"
										   OptionMatch="@((x,y)=> x.Id == y.Id)" />
					</FluentGridItem>
				</FluentGrid>
			}
		</FluentEditForm>
	}
</FluentDialogBody>
