@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (Item.Items.Count == 0)
{
	<FluentMenuItem Id="@Item.Id" OnClick="Item.OnClick" Class="@(Item.Selected ? "active" : "")"
					AdditionalAttributes="@_attributes">
		@if (!String.IsNullOrWhiteSpace(Item.Text))
		{
			<span class="tf-tabs__item__text" title="@Item.Text">
				@TfConverters.StringOverflow(Item.Text, EllipsesLimit)
			</span>
			@if (Item.Icon is not null)
			{
				<span slot="start" class="tf-tabs__item__icon">
					@if (Item.Color is not null)
					{
						<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetColor().OKLCH)" />
					}

					else
					{
						<FluentIcon Value="@Item.Icon" />
					}
				</span>
			}
		}

		else if (Item.Icon is not null)
		{
			@if (Item.Color is not null)
			{
				<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetColor().OKLCH)" />
			}

			else
			{
				<FluentIcon Value="@Item.Icon" />
			}
		}

	</FluentMenuItem>
}
else
{
	<FluentMenuItem Id="@Item.Id" Class="@(Item.Selected ? "active" : "")"
					OnClick="Item.OnClick"
					AdditionalAttributes="@_attributes">
		<ChildContent>
			@if (!String.IsNullOrWhiteSpace(Item.Text))
			{
				<span class="tf-tabs__item__text" title="@Item.Text">
					@TfConverters.StringOverflow(Item.Text, EllipsesLimit)
				</span>
				@if (Item.Icon is not null)
				{
					<span slot="start" class="tf-tabs__item__icon">
						@if (Item.Color is not null)
						{
							<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetColor().OKLCH)" />
						}

						else
						{
							<FluentIcon Value="@Item.Icon" />
						}
					</span>
				}
			}
			else if (Item.Icon is not null)
			{
				@if (Item.Color is not null)
				{
					<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetColor().OKLCH)" />
				}

				else
				{
					<FluentIcon Value="@Item.Icon" />
				}
			}

		</ChildContent>
		<MenuItems>
			@foreach (var node in Item.Items)
			{
				<TucMenuDropdownItem Item="node" />
			}
		</MenuItems>

	</FluentMenuItem>
}
@if (Item.Actions.Count > 0)
{
	<FluentMenu Anchor="@Item.Id" Trigger="MouseButton.Right" Anchored="true" UseMenuService="false">
		<FluentMenuItem Disabled="true">
			<span>@(String.IsNullOrWhiteSpace(Item.Text) ? "no title" : Item.Text)</span>
			<FluentIcon Slot="start" Value="@TfConstants.GetIcon("Navigation")!.WithColor("var(--neutral-foreground-hint)")"/>
		</FluentMenuItem>		
		@foreach (var action in Item.Actions)
		{
			<FluentMenuItem>
				<span>@(String.IsNullOrWhiteSpace(action.Text) ? "no title" : action.Text)</span>
				<FluentIcon Slot="start" Value="action.IconCollapsed"/>
			</FluentMenuItem>				
		}
	</FluentMenu>
}
