@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

@if (Item.Items.Count == 0)
{
	<FluentMenuItem Id="@Item.Id" OnClick="Item.OnClick" Class="@(Item.Selected ? "active" : "")"
					AdditionalAttributes="@_attributes">
		@if (!String.IsNullOrWhiteSpace(Item.Text))
		{
			<span class="tf-menu__item__text" title="@Item.Text">
				@TfConverters.StringOverflow(Item.Text, EllipsesLimit)
			</span>
			@if (Item.Icon is not null)
			{
				<span slot="start">
					@if (Item.Color is not null)
					{
						<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetAttribute().Value)" />
					}

					else
					{
						<FluentIcon Value="@Item.Icon" />
					}
				</span>
			}
		}

		else if (Item.Icon is not null)
		{
			@if (Item.Color is not null)
			{
				<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetAttribute().Value)" />
			}

			else
			{
				<FluentIcon Value="@Item.Icon" />
			}
		}

	</FluentMenuItem>
}
else
{
	<FluentMenuItem Id="@Item.Id" Class="@(Item.Selected ? "active" : "")"
					OnClick="Item.OnClick"
					AdditionalAttributes="@_attributes">
		<ChildContent>
			@if (!String.IsNullOrWhiteSpace(Item.Text))
			{
				<span class="tf-menu__item__text" title="@Item.Text">
					@TfConverters.StringOverflow(Item.Text, EllipsesLimit)
				</span>
				@if (Item.Icon is not null)
				{
					<span slot="start">
						@if (Item.Color is not null)
						{
							<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetAttribute().Value)" />
						}

						else
						{
							<FluentIcon Value="@Item.Icon" />
						}
					</span>
				}
			}
			else if (Item.Icon is not null)
			{
				@if (Item.Color is not null)
				{
					<FluentIcon Value="@Item.Icon.WithColor(Item.Color.GetAttribute().Value)" />
				}

				else
				{
					<FluentIcon Value="@Item.Icon" />
				}
			}

		</ChildContent>
		<MenuItems>
			@foreach (var node in Item.Items)
			{
				<TucMenuDropdownItem Item="node" />
			}
		</MenuItems>

	</FluentMenuItem>
}
