@namespace WebVella.Tefter.Web.ViewColumns
@inherits TfBaseViewColumn<TfUrlDisplayColumnComponentOptions>
@if (Context.Mode == TfComponentMode.Display)
{
	var value = GetDataStringByAlias("Value",null);
	if (!String.IsNullOrWhiteSpace(value) && TfConverters.IsValidURL(value))
	{
		<div><a href="@value">@value</a></div>
	}
	else
	{
		<div>@value</div>
	}
	
}
else if (Context.Mode == TfComponentMode.Options)
{
	<FluentMessageBar Intent="@MessageIntent.Info" Title="@LOC("The selected component has no options")" AllowDismiss="false" />
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


