@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent


<nav role="navigation" class="paginator-nav " style="@_style">
	<div class="paginator-nav__left">
		<FluentStack>
			<FluentButton @onclick="_goFirst" Disabled="@(Page == 1)" title="@LOC("Go to first page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleLeft")" Width="20px" />
			</FluentButton>
			<FluentButton @onclick="_goPrevious" Disabled="@(Page == 1)" title="@LOC("Go to previous page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronLeft")" Width="20px" />
			</FluentButton>
			<div class="pagination-pager">
				<FluentNumberField TValue="int" Value="@_page" ValueChanged="_pageChanged" AutoComplete="off" />
			</div>
			<FluentButton @onclick="_goNext" title="@LOC("Go to next page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronRight")" Width="20px" />
			</FluentButton>
			<FluentButton @onclick="_goLast" title="@LOC("Go to last page")">
				<FluentIcon Value="@TfConstants.GetIcon("ChevronDoubleRight")" Width="20px" />
			</FluentButton>
		</FluentStack>
	</div>
	<div class="paginator-nav__right">
		@if (ChangePageSize.HasDelegate && PageSize != 0)
		{
			<FluentStack VerticalAlignment="@VerticalAlignment.Center">
				<div class="paginator-nav-description">Items:</div>
				<div class="pagination-pagesize">
					<FluentNumberField TValue="int" Value="@_pageSize" ValueChanged="_pageSizeChanged" AutoComplete="off"/>
				</div>
			</FluentStack>
		}
	</div>
</nav>



