@namespace WebVella.Tefter.UI.Addons
@inherits TfLocalizedViewColumnComponent

<FluentGrid>
	<FluentGridItem xs="12">
		<FluentTextField Label="@LOC("Confirmation message")"
		                 Value="@Settings.ChangeConfirmationMessage" Style="width:100%"
		                 ValueChanged=@((x) => _onSettingsChanged(nameof(Settings.ChangeConfirmationMessage), x))
		                 Placeholder="@LOC("empty for no confirmation")"/>
		<TucValidationMessage Field="@(nameof(Settings.ChangeConfirmationMessage))" Errors="ValidationErrors"/>
	</FluentGridItem>
</FluentGrid>
<FluentGrid>
	<FluentGridItem xs="6">
		<FluentTextField Label="@LOC("Format")"
		                 Value="@Settings.Format" Style="width:100%"
		                 ValueChanged=@((x)=> _onSettingsChanged(nameof(Settings.Format),x))
		                 Placeholder="@LOC("eg. 'HH:mm:ss'")" />
		<div class="tf-input-description">@LOC("defaults to the system's short date format")</div>
		<TucValidationMessage Field="@(nameof(Settings.Format))" Errors="ValidationErrors"/>
	</FluentGridItem>		
</FluentGrid>	
