@namespace WebVella.Tefter.Talk.Components

@inherits TucBaseViewColumn<TfTalkCommentsCountComponentOptions>
@if (Context.Mode == TucComponentMode.Display)
{
	<div>
		<FluentButton Appearance="@Appearance.Outline" OnClick="_onClick">
			<FluentIcon Value="@TfConstants.GetIcon("Comment")" />
		</FluentButton>
	</div>

}
else if (Context.Mode == TucComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentCombobox TOption="TucSelectOption"
							Autocomplete="ComboboxAutocomplete.Both"
							Items="_sharedKeyOptions"
							OptionText="@((x)=> x.Label)"
							OptionValue="@((x)=> x.Value.ToString())"
							Height="@TfConstants.ComboPanelHeight"
							Value=@componentOptions.SharedKeyName
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.SharedKeyName),x))
							Label="@LOC("Shared key name")" Style="width:100%" />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


