@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (TfAppState.Value.AdminDataProvider is null || TfAppState.Value.AdminDataProvider.SharedColumns is null
						|| TfAppState.Value.AdminDataProvider.SharedColumns.Count == 0)
{
	<FluentMessageBar Title="@LOC("No shared columns matched")" AllowDismiss="false"
					  Intent="@MessageIntent.Info">@LOC("No shared columns are matching any of the shared keys for this data source")</FluentMessageBar>
}
else
{
	<div class="tf-grid-wrapper">
		<table class="tf-grid">
			<thead class="tf-grid-thead">
				<tr class="tf-grid-thead-bkg" style="@($"background-color:{TfConstants.AdminBackgkroundColor}")"></tr>
				<tr class="tf-grid-tr">
					<th class="tf-grid-th">name</th>
					<th class="tf-grid-th">type</th>
					<th class="tf-grid-th">key</th>
					<th class="tf-grid-th" style="width:80px">in search</th>
					<th class="tf-grid-th">from app</th>
				</tr>
			</thead>
			<tbody class="tf-grid-tbody">
				@foreach (var context in TfAppState.Value.AdminDataProvider.SharedColumns)
				{
					<tr @key=context.Id class="tf-grid-tr">
						<td class="tf-grid-td">
							<div>@context.DbName</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.DbType.Name</div>
						</td>
						<td class="tf-grid-td">
							<div>@context.SharedKeyDbName</div>
						</td>
						<td class="tf-grid-td">
							<div>
								@if (context.IncludeInTableSearch)
								{
									<FluentBadge Appearance="@Appearance.Accent">yes</FluentBadge>
								}
								else
								{
									<FluentBadge>no</FluentBadge>
								}
							</div>
						</td>
						<td class="tf-grid-td">
							<div>
								@if (context.AddonId.HasValue)
								{
									<FluentBadge Appearance="@Appearance.Accent">yes</FluentBadge>
								}
								else
								{
									<FluentBadge>no</FluentBadge>
								}
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

}

