@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucCard Title="@Title" Class="tf-card--filter">
	<TitleTemplate>@LOC("Sort order")</TitleTemplate>
	<ToolbarTemplate>
		<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalAlignment="@HorizontalAlignment.End">
			@if (_options.Count > 0)
			{
				<FluentLabel Typo="@Typography.Body" Style="margin-left:0.5rem;color:var(--neutral-foreground-rest);opacity:0.5">@LOC("columns:")</FluentLabel>
				<TucSelect SelectedOptionChanged="(x=> _addSortColumn(x))"
							  TOption="TfSortQuery" Required="false"
							  Items="@_options" Style="width:200px"
							  Placeholder="@LOC("select to add")"
							  OptionValue="@((p)=> p.Name)"
							  OptionText="@((p)=> _columnDict.ContainsKey(p.Name) ? _columnDict[p.Name] : p.Name)" />
			}
			else
			{
				<FluentTextField TextFieldType="@TextFieldType.Text" Value=@LOC("all columns added") Style="width:200px" Disabled="true" />
			}
			@* 			<FluentButton OnClick="_addSortColumn" IconStart="@TfConstants.GetIcon("Add")" Appearance="@Appearance.Outline"
						  Disabled="@(_options.Count == 0)">@LOC("Add new")</FluentButton> *@
		</FluentStack>
	</ToolbarTemplate>
	<ChildContent>
		@if (Items.Count == 0)
		{
			<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("No data sort order added yet")</FluentMessageBar>
		}
		else
		{
			<table class="tf-grid">
				<tbody class="tf-grid-tbody">
					@foreach (var context in Items)
					{
						<tr @key=@Guid.NewGuid() class="tf-grid-tr">
							<td class="tf-grid-td" style="width:1%;vertical-align:middle">
								<div>
									@if (_columnDict.ContainsKey(context.Name))
									{
										<FluentIcon Value="@TfConstants.GetIcon("CheckmarkCircle")" Color="@Color.Success" Title="@LOC("found in data")"></FluentIcon>
									}
									else
									{
										<FluentIcon Value="@TfConstants.GetIcon("ErrorCircle")" Color="@Color.Error" Title="@LOC("not found in data")"></FluentIcon>
									}
								</div>
							</td>
							<td class="tf-grid-td" style="width:300px;">
								@if (_columnDict.ContainsKey(context.Name))
								{
									<div>@(_columnDict[context.Name])</div>
								}
								else
								{
									<div>@context.Name</div>
								}
							</td>
							<td class="tf-grid-td">
								<div>
									<TucSelect SelectedOption="@((TfSortDirection)context.Direction)"
												  Items="@(Enum.GetValues<TfSortDirection>())"
												  OptionValue="@((p)=> ((int)p).ToString())"
												  OptionText="@((p)=> p.ToDescriptionString())"
												  TOption="TfSortDirection"
												  SelectedOptionChanged="@(x=> _directionChanged(context,x))"
												  Style="width:100px" />
								</div>
							</td>
							<td class="tf-grid-td" style="width:1%;">
								<div>
									<FluentButton Appearance="@Appearance.Outline" OnClick="@(() => _deleteSortColumn(context))" Title="@LOC("Delete sort order")">
										<FluentIcon Color="@Color.Error" Value="@TfConstants.GetIcon("Delete")" />
									</FluentButton>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</ChildContent>
</TucCard>