@namespace WebVella.Tefter.UI.Components
@inherits ComponentBase

@if (Item is null) { }
else if (Item.IsDivider)
{
	<FluentDivider/>
}
else if (Item.Disabled)
{
	<div id="@Item.Id" class="@_cssClass">
		<TucTreeViewItemContent Item="@Item"  OnExpand="_onExpand"/>
	</div>
	@if (Item.Items.Count > 0 && Item.Expanded)
	{
		<div class="tf-treemenu tf-submenu">
			@foreach (var item in Item.Items)
			{
				<TucTreeViewItem Item="item" />
			}
		</div>
	}	
}
else if (!String.IsNullOrWhiteSpace(Item.Url) && Item.Url != "#")
{
	<a id="@Item.Id" class="@_cssClass" href="@Item.Url">
		<TucTreeViewItemContent Item="@Item" OnExpand="_onExpand"/>
	</a>
	@if (Item.Items.Count > 0 && Item.Expanded)
	{
		<div class="tf-treemenu tf-submenu">
			@foreach (var item in Item.Items)
			{
				<TucTreeViewItem Item="item" />
			}
		</div>
	}
}
else
{
	<a id="@Item.Id" class="@_cssClass" href="#"
	   @onclick="@_onClick" @onclick:stopPropagation @onclick:preventDefault>
		<TucTreeViewItemContent Item="@Item"  OnExpand="_onExpand"/>
	</a>
	@if (Item.Items.Count > 0 && Item.Expanded)
	{
		<div class="tf-treemenu tf-submenu">
			@foreach (var item in Item.Items)
			{
				<TucTreeViewItem Item="item" />
			}
		</div>
	}
}
@if (Item is not null && Item.Actions.Count > 0)
{
	<FluentMenu Anchor="@Item.Id" Trigger="MouseButton.Right" Anchored="true" UseMenuService="true">
		<FluentMenuItem Disabled="true">
			<span>@(String.IsNullOrWhiteSpace(Item.Text) ? "no title" : Item.Text)</span>
			<FluentIcon Slot="start"
			            Value="@TfConstants.GetIcon("Navigation")!.WithColor("var(--neutral-foreground-hint)")"/>
		</FluentMenuItem>
		<FluentDivider @key="@Guid.NewGuid()"/>
		@foreach (var action in Item.Actions)
		{
			if (action.IsDivider)
			{
				<FluentDivider @key="@Guid.NewGuid()"/>
			}
			else
			{
				<FluentMenuItem OnClick="@action.OnClick">
					<span>@(String.IsNullOrWhiteSpace(action.Text) ? "no title" : action.Text)</span>
					<FluentIcon Slot="start" Value="action.IconCollapsed"/>
				</FluentMenuItem>
			}
		}
	</FluentMenu>
}

