@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	<div>
		@if (_isBusy)
		{
			<TfLoadingPane />
		}
		else
		{
			<div class="tf-grid-wrapper">
				<table class="tf-grid">
					<thead class="tf-grid-thead">
						<tr class="tf-grid-thead-bkg" style="@($"background-color: {TfConstants.AdminBackgkroundColor}")"></tr>
						<tr class="tf-grid-tr">
							<th class="tf-grid-th" style="width:140px;">created on</th>
							<th class="tf-grid-th" style="width:300px;">id</th>
							<th class="tf-grid-th" style="width:80px;">row</th>
							<th class="tf-grid-th">
								@if (Content.Type == TucDataProviderSyncTaskInfoType.Info)
								{
									<span>info</span>
								}
								else if (Content.Type == TucDataProviderSyncTaskInfoType.Warning)
								{
									<span>warning</span>
								}
								else
								{
									<span>error</span>
								}
							</th>
						</tr>
					</thead>
					<tbody class="tf-grid-tbody">
						@foreach (var context in _items.Take(_limit))
						{
							<tr @key=context.Id class="tf-grid-tr">
								<td class="tf-grid-td">
									<div>@context.CreatedOn.ToString("yyyy-MM-dd HH:mm")</div>
								</td>
								<td class="tf-grid-td">
									<div>@context.TfId</div>
								</td>
								<td class="tf-grid-td">
									<div>@context.TfRowIndex</div>
								</td>
								<td class="tf-grid-td">
									@if (Content.Type == TucDataProviderSyncTaskInfoType.Info)
									{
										<span>@context.Info</span>
									}
									else if (Content.Type == TucDataProviderSyncTaskInfoType.Warning)
									{
										<span>@context.Warning</span>
									}
									else
									{
										<span>@context.Error</span>
									}
								</td>
							</tr>
						}
						@if (_items.Count > _limit)
						{
							<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning">@LOC("this screen shows only up to {0} rows", _limit)</FluentMessageBar>
						}
					</tbody>
				</table>
			</div>
		}
	</div>
</FluentDialogBody>
