@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (SidebarExpanded.Value)
{
	<TfLayoutBodyAside>
		<Toolbar>
			<div class="tf-sidetoolbar">
				<div class="tf-sidetoolbar__mode">
					<FluentToolbar Class="modebar">
						<FluentButton Class="@($"btn views {_getTabActiveClass(TfSpaceNavigationActiveTab.Nodes)}")" Title="views"
									  OnClick="@(()=>_setActiveTab(TfSpaceNavigationActiveTab.Nodes))"
									  Appearance="Appearance.Outline">
							<FluentIcon Value="@TfConstants.SpaceViewIcon" />
						</FluentButton>
						@* 						<FluentButton Class="@($"btn bookmarks {_getTabActiveClass(TfSpaceNavigationActiveTab.Bookmarks)}")" Title="bookmarks"
					OnClick="@(()=>_setActiveTab(TfSpaceNavigationActiveTab.Bookmarks))"
					Appearance="Appearance.Outline">
					<FluentIcon Value="@TfConstants.BookmarkOFFIcon" />
					</FluentButton> *@
						<FluentButton Class="@($"btn saves {_getTabActiveClass(TfSpaceNavigationActiveTab.Saves)}")" Title="saved URLs"
									  OnClick="@(()=>_setActiveTab(TfSpaceNavigationActiveTab.Saves))"
									  Appearance="Appearance.Outline">
							<FluentIcon Value="@TfConstants.GetIcon("Link")" />
						</FluentButton>
					</FluentToolbar>
				</div>
				<div class="tf-sidetoolbar__search">
					<FluentTextField Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="500"
									 Value=@search ValueChanged="onSearch" />
				</div>
				<div class="tf-sidetoolbar__actions">
					<TfSpaceActions/>
				</div>
			</div>
		</Toolbar>
		<ChildContent>
			<TfTreeView Items="_menu" />
			@if (_menu.Count == 0 && _activeTab == TfSpaceNavigationActiveTab.Nodes)
			{
				<div style="padding-left:5px;padding-top:5px">@LOC("No pages found in the space")</div>
				<FluentButton Appearance="@Appearance.Outline" OnClick="_addPage" Style="margin-top:1rem;">
					<FluentIcon Slot="start" Value="@TfConstants.AddIcon" Color="@Color.Accent"/>
					@LOC("Create Page")
				</FluentButton>
			}
		</ChildContent>
	</TfLayoutBodyAside>
}



