@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucLayoutPageContent Title="@LOC("Templates")" Icon="CalendarTemplate">
    <Toolbar>
        <FluentButton OnClick="onAddClick" Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Add")">
            @LOC("New Template")
        </FluentButton>
        <TucPageSearch/>
    </Toolbar>
    <ChildContent>
        <table class="tf-grid">
            <colgroup>
                <col span="1" style="width: 20px;min-width: 20px">
                <col/>
            </colgroup>
            <thead>
            <tr class="tf-grid-thead-bkg"></tr>
            @if (_isLoading)
            {
                <tr class="tf-grid-thead-loading"></tr>
            }
            <tr>
                <th></th>
                <th>@LOC("name")</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>
                        <div class="tf-grid-td-hover"></div>
                        <div>
                            <TucAnchor Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Open")"
                                       Href="@String.Format(TfConstants.AdminTemplateDetailsPageUrl, item.Id).GenerateWithLocalAndQueryAsReturnUrl(TfAuthLayout.GetState().NavigationState.Uri)"/>
                        </div>
                    </td>
                    <td>
                        <div class="tf-grid-td-hover"></div>
                        <div>
                            @item.Name
                        </div>
                    </td>
                </tr>
            }
            @if (_items.Count == 0)
            {
                <tr>
                    <td colspan="2">
                        <div class="tf-grid-td-hover"></div>
                        <div>@LOC("no items")</div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </ChildContent>
</TucLayoutPageContent>