@namespace WebVella.Tefter.Web.Addons
@inherits TucBaseViewColumn<TfDateOnlyEditColumnComponentOptions>
@if (Context.Mode == TucComponentMode.Display)
{
	<div>
		<FluentDatePicker Id="@_valueInputId"
						  @bind-Value="@_value"
						  @bind-Value:after="_valueChanged"
						  View="@componentOptions.CalendarViewsSelection"
						  Style="width:100%;min-width:120px;" />
	</div>
}
else if (Context.Mode == TucComponentMode.Options)
{
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Change confirmation")" />
			<FluentCheckbox Value="@componentOptions.ChangeRequiresConfirmation"
							ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeRequiresConfirmation),x))
							Label="@LOC("requires confirmation")" />
		</FluentGridItem>
		<FluentGridItem xs="8">
			<FluentTextField Label="@LOC("Confirmation message")"
							 Value="@componentOptions.ChangeConfirmationMessage" Style="width:100%"
							 ValueChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.ChangeConfirmationMessage),x))
							 Placeholder="@LOC("empty shows a system one")" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="4">
			<FluentInputLabel Label="@LOC("Selection method")" />
			<FluentSelect OptionSelected="(x => x == componentOptions?.CalendarViewsSelection)"
						  Items="@(Enum.GetValues<CalendarViews>())"
						  OptionValue="@((p)=> ((int)p).ToString())"
						  OptionText="@((x)=>x.ToString())"
						  TOption="CalendarViews"
						  SelectedOption="@componentOptions.CalendarViewsSelection"
						  SelectedOptionChanged=@((x)=> OnOptionsChanged(nameof(componentOptions.CalendarViewsSelection),x)) />
		</FluentGridItem>
	</FluentGrid>
}
else
{
	<div style="color:red">@LOC("Component Mode Not implemented")</div>
}


