@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@{
    var state = TfAuthLayout.GetState();
}
<div class="tf-page-topbar">
    <div class="tf-page-topbar__left">
        <TucPageTopbarBreadcrumb />
    </div>
    <div class="tf-page-topbar__right">
        <TucPageTopbarBookmarks />
        <TucNotificationCenter />
        <TucAnchor Href="#" OnClick="() => _userMenuVisible = !_userMenuVisible"
                   Id="user-menu-toggle" Appearance="@Appearance.Outline">
            <TucAvatar User="state.User" UseUserColor="false" />
        </TucAnchor>
        <FluentMenu Width="200px" @bind-Open="_userMenuVisible" Anchor="user-menu-toggle" UseMenuService="true" Class="tf-override">
            <FluentMenuItem Disabled="true">
                @state.User.FirstName @state.User.LastName
                <span slot="start"><FluentIcon Value="@TfConstants.GetIcon("Person")!.WithColor(Color.Neutral)" Slot="start" /></span>
            </FluentMenuItem>
            <FluentDivider Style="margin-top:10px" />
            <FluentMenuItem OnClick="_visualPreferencesHandler">
                @LOC("Visual Preferences")
                <span slot="start"><FluentIcon Value="@TfConstants.GetIcon("Color")" Slot="start" /></span>
            </FluentMenuItem>
            @* @if (_isSetAsStartupUri()) *@
            @* { *@
            @*     <FluentMenuItem OnClick="_resetUrlAsStartup"> *@
            @*         @LOC("Reset Startup URL") *@
            @*         <span slot="start"> *@
            @*                     <FluentIcon Value="@TfConstants.GetIcon("PinOff")" *@
            @*                                 Slot="start"/> *@
            @*                 </span> *@
            @*     </FluentMenuItem> *@
            @* } *@
            @* else *@
            @* { *@
            @*     <FluentMenuItem OnClick="_setUrlAsStartup"> *@
            @*         @LOC("Set as Startup URL") *@
            @*         <span slot="start"> *@
            @*                     <FluentIcon Value="@TfConstants.GetIcon("Pin")" *@
            @*                                 Slot="start"/> *@
            @*                 </span> *@
            @*     </FluentMenuItem> *@
            @* } *@
            <FluentMenuItem OnClick="_logout">
                @LOC("Logout")
                <span slot="start">
                    <FluentIcon Value="@TfConstants.GetIcon("SignOut")"
                                Slot="start" />
                </span>
            </FluentMenuItem>
        </FluentMenu>
    </div>
</div>
