@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@{
    var state = TfAuthLayout.GetState();
}

@if (state.Space is not null && state.SpacePage is not null)
{
    @* PIN *@
    <FluentButton Id="@_pinBtnId" OnClick="_onPinClick"
                  IconStart="@((_activePin is not null ? TfConstants.GetIcon("Pin", variant: IconVariant.Filled) : TfConstants.GetIcon("Pin"))!.WithColor(Color.Neutral))"
                  Appearance="@Appearance.Outline"
                  Title="@(_activePin is not null ? LOC("UnPin Page from Home") : LOC("Pin Page to Home"))" />

    @* Bookmark *@
    <FluentButton Id="@_bookmarkBtnId" OnClick="_onBookmarkClick" Appearance="@Appearance.Outline"
                  Title="@(_activeBookmark is not null ? LOC("Manage Bookmark") : LOC("Save Home Bookmark"))">
        <FluentIcon Value="@((_activeBookmark is not null ? TfConstants.GetIcon("Star", variant: IconVariant.Filled) : TfConstants.GetIcon("Star"))!.WithColor(Color.Neutral))" Color="_getLinkColor()" />
    </FluentButton>

    <FluentMenu @bind-Open="_bookmarkMenuOpen" Anchor="@_bookmarkBtnId" UseMenuService="true" HorizontalPosition="HorizontalPosition.Left">
        <FluentMenuItem OnClick="_bookmarkEdit">
            @LOC("Edit Bookmark")
            <FluentIcon Value="@TfConstants.GetIcon("Edit")" Slot="start" />
        </FluentMenuItem>
        @if (_activeBookmark is not null && Navigator.IsSpaceViewSavedUrlChanged(_activeBookmark.Url))
        {
            <FluentMenuItem OnClick="_bookmarkUpdateUrl">
                @LOC("Update URL only")
                <FluentIcon Value="@TfConstants.GetIcon("Link")" Slot="start" />
            </FluentMenuItem>
        }
        <FluentDivider />
        <FluentMenuItem OnClick="_bookmarkRemove">
            @LOC("Remove Bookmark")
            <FluentIcon Value="@TfConstants.GetIcon("Delete")!.WithColor(Color.Error)" Slot="start" />
        </FluentMenuItem>
    </FluentMenu>

    <FluentDivider Orientation="Orientation.Vertical" />

    <div style="display:none">

    </div>
}

