@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

@if (IsLoading)
{
	<FluentButton Disabled="true" Loading="true"
				  Appearance="Appearance.Outline" IconStart="@TfConstants.GetIcon("ArrowUpload")">@LOC("Upload file")</FluentButton>
}
else if (_isReadonly && String.IsNullOrWhiteSpace(Value))
{
	<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="5">
		<div>@_placeholder</div>
	</FluentStack>
}
else if (_isReadonly && !String.IsNullOrWhiteSpace(Value))
{
	<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="5">
		<FluentAnchor Href="@Value" IconStart="@TfConstants.GetIcon("ArrowDownload")" Appearance="Appearance.Outline" Target="_blank" />
		<FluentTextField ReadOnly="true" Value="@_fileName" Style="width:100%" />
	</FluentStack>
}
else
{
	<FluentStack VerticalAlignment="@VerticalAlignment.Center" HorizontalGap="5">
		@if (!String.IsNullOrWhiteSpace(Value))
		{

			<FluentAnchor Href="@Value" IconStart="@TfConstants.GetIcon("ArrowDownload")" Appearance="Appearance.Outline" Target="_blank" />
			<FluentTextField ReadOnly="true" Value="@_fileName" Style="width:100%" />
			@if (!String.IsNullOrWhiteSpace(_originalValue) && _originalValue != Value)
			{
				<FluentButton OnClick="_resetFile" Title="@LOC("download file")" IconStart="@TfConstants.GetIcon("ArrowReset")" />
			}
			<FluentButton OnClick="_clearFile" IconStart="@TfConstants.CloseIcon.WithColor(Color.Error)" />
		}
		else
		{
			<FluentButton Id="@_uploadId" Disabled="@(progressPercent > 0 && progressPercent < 100)"
						  Appearance="Appearance.Outline" IconStart="@TfConstants.GetIcon("ArrowUpload")">@LOC("Upload file")</FluentButton>
			<TfProgress Value="progressPercent" Visible="@(progressPercent > 0 && progressPercent < 100)" />
			<FluentInputFile @ref="@fileUploader" Accept="@Accept"
							 DragDropZoneVisible="false"
							 Mode="InputFileMode.SaveToTemporaryFolder"
							 Multiple="false"
							 AnchorId="@_uploadId"
							 MaximumFileSize="@(100 * 1024 * 1024)"
							 OnProgressChange="@_onProgress"
							 OnCompleted="@_onCompleted" />
		}
	</FluentStack>
}