@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="@($"spacenav-nav spacenav-nav--appbar  {(TfUserState.Value.SidebarExpanded ? "sidebar-expanded" : "sidebar-collapsed")}")">
	<FluentNavMenu>
		@foreach (var item in menuItems)
		{
			<FluentNavLink Href="@item.Url" title="@item.Text" Class="@_spaceSelectedClass(item.Url)"
						   Icon="@item.IconCollapsed.WithColor(item.IconColor.ToAttributeValue())" IconColor="Color.Custom" />
		}
	</FluentNavMenu>
</div>

