@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="tf-navigation">
	<FluentNavMenu>
		@foreach (var item in menuItems)
		{
			<FluentNavLink @key="@item.Id" Href="@item.Url" title="@item.Text" Class="@(item.Selected ? "selected" : "")"
						   Icon="@item.IconCollapsed.WithColor(item.IconColor.ToAttributeValue())" IconColor="Color.Custom" />
		}
	</FluentNavMenu>
</div>

