@namespace WebVella.Tefter.UI.Addons
@inherits TfRecipeStepFormBase
@if (_form.Result is null)
{
	<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Warning">@LOC("Recipe is not applied yet. Please follow the steps")</FluentMessageBar>
}
else if (_form.Result.IsSuccessful)
{
	<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Success">@LOC("Recipe was successfully applied")</FluentMessageBar>
}
else
{
	<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Recipe application finished with errors")</FluentMessageBar>
	<p style="margin-top:2rem;">Here is a list of errors that are reported by the service:</p>
	<table class="tf-grid" style="margin-top:15px;">
		<thead class="tf-grid-thead">
			<tr class="tf-grid-thead-bkg"></tr>
			<tr class="tf-grid-tr">
				<th class="tf-grid-th">
					<div>@LOC("step")</div>
				</th>
				<th class="tf-grid-th">@LOC("error")</th>
			</tr>
		</thead>
		<tbody class="tf-grid-tbody">
			@foreach (var error in _errors)
			{
				<tr class="tf-grid-tr" @key=@(Guid.NewGuid())>
					<td class="tf-grid-td">
						<div>
							@error.StepName
							<div class="td-description">@error.StepTypeName</div>
						</div>
					</td>
					<td class="tf-grid-td">
						<div>
							<div>
								@if (String.IsNullOrWhiteSpace(error.PropName))
								{
									<span>@error.Message</span>
								}
								else
								{
									<span>@error.PropName: </span>
									<span>@error.Message</span>
								}
							</div>
							@if (!String.IsNullOrWhiteSpace(error.StackTrace))
							{
								<div class="td-description"><a href="javascript:void(0)" @onclick=@(() => _showDetails(error.StackTrace))>details</a></div>
							}
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}


