@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="@_class" style="@Style">
	@if (TitleTemplate is not null)
	{
		<div class="tf-card-title" style="@TitleStyle">
			@TitleTemplate
		</div>
	}
	else if (!String.IsNullOrWhiteSpace(Title))
	{
		<div class="tf-card-title" style="@TitleStyle">@Title</div>
	}
	<div class="tf-card-content">
		@ChildContent
	</div>
</div>


