@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Icon="@TfConstants.GetIcon("Database")" Color="@(_space?.Color ?? TfConstants.DefaultThemeColor)"
			   Area="@($"{_space?.Name} : {LOC("Space Data")}")" Title="@_spaceData?.Name" SubTitle="@LOC("Connected Data")">
	<NavigationLeft>
		<TucSpaceDataDetailsContentToolbar />
	</NavigationLeft>
	<ChildContent>
		<TucErrorBoundry>
			<div style="padding:var(--tf-layout-content-padding)">
				@if (String.IsNullOrWhiteSpace(UriInitialized))
				{
					<TucSkeletonPageHeader />
				}
				else if (_spaceData is null)
				{
					<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
				}
				else
				{
					<TucCard Title="@LOC("Shared columns")" SubTitle="@LOC("Columns that match one of the identity implemented for this data source")">
						<ChildContent>
							@if (_provider.SharedColumns.Count == 0)
							{
								<FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss="false">@LOC("This dataset is not connected to any shared columns")</FluentMessageBar>

							}
							else
							{
								<table class="tf-grid">
									<thead class="tf-grid-thead">
										<tr class="tf-grid-thead-bkg"></tr>
										<tr class="tf-grid-tr">
											<th class="tf-grid-th">name</th>
											<th class="tf-grid-th">type</th>
											<th class="tf-grid-th" style="width:80px">in search</th>
											<th class="tf-grid-th">common identity</th>
										</tr>
									</thead>
									<tbody class="tf-grid-tbody">
										@foreach (var context in _provider.SharedColumns)
										{
											<tr @key=@Guid.NewGuid() class="tf-grid-tr">
												<td class="tf-grid-td">
													<div>@context.DbName</div>
												</td>
												<td class="tf-grid-td">
													<div>@context.DbType.ToDescriptionString()</div>
												</td>
												<td class="tf-grid-td">
													<div>
														@if (context.IncludeInTableSearch)
														{
															<FluentBadge Appearance="@Appearance.Neutral">yes</FluentBadge>
														}
														else
														{
															<FluentBadge>no</FluentBadge>
														}
													</div>
												</td>
												<td class="tf-grid-td">
													<div>@context.DataIdentity</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</ChildContent>
					</TucCard>
					<TucCard Title="@LOC("Connected Data Provider (ReadOnly)")" SubTitle="@LOC("Data that is connected and can be added as readonly columns.")">
						<ChildContent>
							@if (_connectedProviders.Count == 0)
							{
								<FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss="false">@LOC("This dataset is not connected to other data providers")</FluentMessageBar>

							}
							else
							{
								<table class="tf-grid">
									<thead class="tf-grid-thead">
										<tr class="tf-grid-thead-bkg"></tr>
										<tr class="tf-grid-tr">
											<th class="tf-grid-th" style="width:80px;min-width:80px;">code</th>
											<th class="tf-grid-th">name</th>
											<th class="tf-grid-th">type</th>
											<th class="tf-grid-th">common identities</th>
										</tr>
									</thead>
									<tbody class="tf-grid-tbody">
										@foreach (var context in _connectedProviders)
										{
											<tr @key=@Guid.NewGuid() class="tf-grid-tr">
												<td class="tf-grid-td">
													<div>@context.Code</div>
												</td>
												<td class="tf-grid-td">
													<div>@context.Name</div>
												</td>
												<td class="tf-grid-td">
													<div>@context.ProviderType.AddonName</div>
												</td>
												<td class="tf-grid-td">
													<div>@_showCommonIdentities(context)</div>
												</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</ChildContent>
					</TucCard>
				}
			</div>
		</TucErrorBoundry>
	</ChildContent>
</TucPageLayout>