@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent

<TucCard Class="tf-tile-card-wrapper no-padding">
    <ChildContent>

        <div class="tf-tile-card">
            <TucTileCardIcon FluentIconName="@FluentIconName" Color="@Color" IconText="@IconText"/>
            <div class="tf-tile-card__meta">
                <TucTileCardContent Title="@Title" Subtitle="@Subtitle" Description="@Description"/>
            </div>
            <TucTileCardMenu Menu="Menu"/>
        </div>
        <TucTileCardFooter Footer="@Footer"/>
        <TucTileCardActions Actions="Actions"/>

    </ChildContent>
</TucCard>