@namespace WebVella.Tefter.Assets.Components
@inherits TfBaseComponent
@{
	var channels = new List<Folder>();
	if (TfAuxDataState.Value.Data.ContainsKey(TfAssetsConstants.ASSETS_APP_FOLDER_LIST_DATA_KEY))
		channels = (List<Folder>)TfAuxDataState.Value.Data[TfAssetsConstants.ASSETS_APP_FOLDER_LIST_DATA_KEY];
}
<FluentStack HorizontalAlignment="@HorizontalAlignment.Right" Style="margin-bottom:1rem;">
	<FluentButton Appearance="@Appearance.Outline" OnClick="_createFolderHandler" IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)">
		@LOC("Create folder")
	</FluentButton>
</FluentStack>
@if (channels.Count == 0)
{
	<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("No folders created yet")</FluentMessageBar>
}
else
{
	<table class="tf-grid">
		<thead class="tf-grid-thead">
			<tr class="tf-grid-thead-bkg" style="background-color: @TfConstants.AdminBackgkroundColor"></tr>
			<tr class="tf-grid-tr">
				<th class="tf-grid-th" style="width:40px;"></th>
				<th class="tf-grid-th">@LOC("folder name")</th>
				<th class="tf-grid-th">@LOC("shared key")</th>
				<th class="tf-grid-th">@LOC("comments count column")</th>
			</tr>
		</thead>
		<tbody class="tf-grid-tbody">
			@foreach (var context in channels)
			{
				<tr @key=@context.Id class="tf-grid-tr">
					<td class="tf-grid-td">
						<div>
							<FluentStack>
								<FluentButton Title="@LOC("edit channel")" OnClick="@(_=> _editFolderHandler(context))"
											  Appearance="@Appearance.Outline" IconStart="@TfConstants.EditIcon" />
								<FluentButton Title="@LOC("delete channel")" OnClick="@(_=> _deleteFolderHandler(context))" Appearance="@Appearance.Outline" IconStart="@TfConstants.DeleteIcon.WithColor(Color.Error)" />
							</FluentStack>
						</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.Name</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.SharedKey</div>
					</td>
					<td class="tf-grid-td">
						<div>@context.CountSharedColumnName</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

