@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="location">
	@if (_namedLocation is not null)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@_namedLocation.Title">
						@_namedLocation.Title
						@* <FluentIcon Color="@Color.Neutral" Value="@_namedLocation.Icon" Slot="start" /> *@
					</FluentBreadcrumbItem>
				</FluentBreadcrumb>
			</div>
		</div>
	}
	else if (_spaceData is not null)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@_spaceData.Name">
						@RenderUtils.StringOverflow(_spaceData.Name, _ellipsisCount)
					</FluentBreadcrumbItem>
					<FluentBreadcrumbItem title="@_spaceView.Name">
						@RenderUtils.StringOverflow(_spaceView.Name, _ellipsisCount)
					</FluentBreadcrumbItem>
				</FluentBreadcrumb>
			</div>
		</div>
	}

</div>


