@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="location">
	@if (_spaceItem is not null)
	{
		<div class="title">
			<div class="label">
				<FluentBreadcrumb>
					<FluentBreadcrumbItem title="@_space.Name">
						@RenderUtils.StringOverflow(_space.Name, _ellipsisCount)
						@if (_space.IsPrivate)
						{
							<FluentIcon Color="@Color.Error" Value="@(new Icons.Regular.Size20.LockClosed())" Slot="start" Title="private" />
						}
						else
						{
							<FluentIcon Color="@Color.Success" Value="@(new Icons.Regular.Size20.LockOpen())" Slot="start" Title="public" />
						}
					</FluentBreadcrumbItem>
					<FluentBreadcrumbItem title="@_spaceItem.Name">
						@RenderUtils.StringOverflow(_spaceItem.Name, _ellipsisCount)
					</FluentBreadcrumbItem>
					<FluentBreadcrumbItem title="@_spaceItemView.Name">
						@RenderUtils.StringOverflow(_spaceItemView.Name, _ellipsisCount)
					</FluentBreadcrumbItem>
				</FluentBreadcrumb>
			</div>
			<span class="actions">
				<FluentButton Appearance="@Appearance.Stealth" Id="space-item-settings"
							  IconStart="@(new Icons.Regular.Size20.Settings())"
							  OnClick="() => _settingsMenuVisible = !_settingsMenuVisible" />
				<FluentButton Appearance="@Appearance.Stealth"
							  IconStart="@_spaceItem.BookmarkIcon" />
			</span>
		</div>
		<FluentMenu Anchor="space-item-settings" @bind-Open="_settingsMenuVisible" Width="200px">
			<FluentMenuItem OnClick="onDetailsClick">
				Space Item Details
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Info())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem OnClick="onRenameClick">
				Rename Space Item
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.ClipboardPaste())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem OnClick="onRemoveClick">
				Delete Space Item
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider></FluentDivider>
			<FluentMenuItem OnClick="onAccessClick">
				Show Access
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.PersonAdd())" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	}

</div>


