@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent
<div class="sidebar-nav-selector">
	<FluentPopover Style="width: 300px;" VerticalThreshold="170" AnchorId="space-selector"
				   @bind-Open="_open">
		<Header>
			<div class="searchbar">
				<div class="searchbar-left">
					<FluentButton Appearance="@Appearance.Outline"
								  IconStart="@(new Icons.Regular.Size16.Folder())" Title="browse all" OnClick="_browserAll" />
				</div>
				<div class="searchbar-right">
					<FluentSearch @bind-Value="@_selectorSearch"
								  @ref=_searchField Class="search-field"
								  @oninput="@_searchValueChanged" />
				</div>
			</div>
		</Header>
		<Body>
			@if (_selectorLoading)
			{
				<WvLoading />
			}
			else if (_selectorItems.Count == 0)
			{
				<WvEmpty />
			}
			else
			{
				<FluentNavMenu>
					@foreach (var item in _selectorItems.Take(_optionsCountLimit))
					{
						<FluentNavLink OnClick="@item.OnSelect" @key=item.Id Icon="@item.Icon" IconColor="@item.IconColor">
							@item.Name
						</FluentNavLink>
					}
					@if (_selectorItems.Count > _optionsCountLimit)
					{
						<FluentNavLink OnClick="_browserAll">
							+@(_selectorItems.Count - _optionsCountLimit) more
						</FluentNavLink>
					}
				</FluentNavMenu>

			}
		</Body>
	</FluentPopover>
</div>