@namespace WebVella.Tefter.Demo.Components
@inherits WvBaseComponent

<div class="content-views">
	<FluentTabs @bind-ActiveTabId="@_activeTabId" OnTabChange="HandleOnTabChange"
				Size="@TabSize.Large">
		<FluentTab Disabled="true" Label="@($"Views:")"></FluentTab>
		@foreach (var item in _menuItems)
		{
			<FluentTab Id="@item.Id" Label="@item.Title" />
		}
	</FluentTabs>
</div>

