@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
<div>
	@* Header *@
	<FluentDialogHeader ShowDismiss="true">
		<FluentLabel Typo="Typography.PaneHeader">@_title</FluentLabel>
	</FluentDialogHeader>

	@* Body *@
	<FluentDialogBody>

		<FluentEditForm EditContext="EditContext" OnValidSubmit="_save"
						FormName="submit-form" class="tf-form" novalidate>
			<DataAnnotationsValidator />
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=_form.Title
									 Label="@LOC("Title")" Style="width:100%" AutoComplete="new-password" />
					<div class="tf-input-description">@LOC("for icon type 'icon:[FLUENT_UI_ICON_NAME]' eg. icon:Comment")</div>
					<FluentValidationMessage For="@(() => _form.Title)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" @bind-Value=_form.QueryName
									 Label="@LOC("Query Name")" Style="width:100%" AutoComplete="new-password" />
					<FluentValidationMessage For="@(() => _form.QueryName)" />
				</FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentNumberField TValue="short?" @bind-Value=_form.Position AutoComplete="new-password"
									   Label="@LOC("Insert in position")" Style="width:100%" Placeholder="@LOC("leave empty for last")" />
					<FluentValidationMessage For="@(() => _form.Position)" />
				</FluentGridItem>
				<FluentGridItem xs="6"></FluentGridItem>
			</FluentGrid>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentSelect Label="@LOC("Column type")" Style="width:100%"
								  TOption="TucSpaceViewColumnType"
								  Placeholder="@LOC("select...")"
								  Value="@(_form.ColumnType?.Id.ToString())"
								  ValueChanged="_columnTypeChangeHandler"
								  OptionText="((x)=> x.Name)"
								  OptionValue="((x)=> x.Id.ToString())"
								  Items="TfAppState.Value.AvailableColumnTypes">
						<OptionTemplate Context="option">
							<FluentStack>
								<FluentIcon Value="@option.Icon" Color="@Color.Accent" />
								@option.Name
							</FluentStack>
						</OptionTemplate>
					</FluentSelect>
					<FluentValidationMessage For="@(() => _form.ColumnType)" />
				</FluentGridItem>
				<FluentGridItem xs="6">
					@if (_renderComponentTypeSelect)
					{
						<FluentSelect Label="@LOC("Presentation component")"
									  Style="width:100%" Required=true
									  Value="@_form.ComponentType?.FullName"
									  ValueChanged="_columnComponentChangeHandler"
									  TOption="Type"
									  OptionText="((x)=> x.ToDescriptionString())"
									  OptionValue="((x)=> x.FullName)"
									  Items="_form.ColumnType?.SupportedComponentTypes.OrderBy(x=> x.FullName)" />

						<FluentValidationMessage For="@(() => _form.ComponentType)" />
					}
				</FluentGridItem>
			</FluentGrid>

			<FluentValidationMessage For="@(() => _form.DataMapping)" />
			<FluentValidationMessage For="@(() => _form.DataMapping)" />
			<FluentValidationMessage For="@(() => _form.Settings.Width)" />
			<FluentValidationMessage For="@(() => _form.Settings.Color)" />
			<FluentTabs @bind-ActiveTabId="@_activeTab">
				<FluentTab Label="@LOC("Data mapping")" Id="data">
					@if (_form.ColumnType is not null && _form.ComponentType is not null)
					{
						@if (_form.ColumnType.DataMapping is not null
											&& _form.ColumnType.DataMapping.Count > 0)
						{
							foreach (var item in _form.ColumnType.DataMapping)
							{
								<FluentGrid>
									<FluentGridItem xs="6">
										<FluentTextField TextFieldType="@TextFieldType.Text" Value=@item.Alias Immediate ImmediateDelay="500"
														 Disabled="true" Label="@LOC("Component alias")" Style="width:100%" AutoComplete="new-password" />
									</FluentGridItem>
									<FluentGridItem xs="6">
										<FluentCombobox TOption="string"
														Items="_options"
														Value=@_getDataMappingValue(item.Alias)
														Immediate ImmediateDelay="500" ValueChanged="@((x) => _dataMappingValueChanged(x,item.Alias))"
														Label="@LOC("Data column name")" Style="width:100%" />
									</FluentGridItem>
								</FluentGrid>
							}
							<FluentGrid>
								<FluentGridItem xs="6">
									<FluentInputLabel Label="@LOC("Sort by alias")" />
									<div>
										@foreach (var item in _form.ColumnType.SortAliases)
										{
											<FluentBadge Appearance="@Appearance.Neutral">@item</FluentBadge>
										}
										@if (_form.ColumnType.SortAliases.Count == 0)
										{
											<FluentLabel Color="@Color.Disabled" Typo="@Typography.Body">@LOC("column cannot be sorted")</FluentLabel>
										}
									</div>
								</FluentGridItem>
								<FluentGridItem xs="6">
									<FluentInputLabel Label="@LOC("Filter by alias")" />
									<div>
										@foreach (var item in _form.ColumnType.FilterAliases)
										{
											<FluentBadge Appearance="@Appearance.Neutral">@item</FluentBadge>
										}
										@if (_form.ColumnType.FilterAliases.Count == 0)
										{
											<FluentLabel Color="@Color.Disabled" Typo="@Typography.Body">@LOC("column cannot be filtered")</FluentLabel>
										}
									</div>
								</FluentGridItem>
							</FluentGrid>
						}
					}
					else
					{
						<FluentMessageBar Intent="@MessageIntent.Info" Title="@LOC("Please select data provider first")" AllowDismiss="false" />
					}
				</FluentTab>
				<FluentTab Label="@LOC("Component options")" Id="component-options">
					@if (_form.ColumnType is not null && _form.ComponentType is not null)
					{
						<FluentGrid>
							<FluentGridItem xs="12">
								@if (_form.ComponentType is not null)
								{
									<TfErrorBoundry>
										<DynamicComponent Type="_form.ComponentType" Parameters="@_getColumnComponentContext()" />
									</TfErrorBoundry>
								}
								else
								{
									<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Warning" Title="@LOC("Warning")">
										<div>@LOC(" Data provider settings component does not implement ITfDataProviderSettings and cannot be rendered!")</div>
									</FluentMessageBar>
								}
							</FluentGridItem>
						</FluentGrid>
					}
					else
					{
						<FluentMessageBar Intent="@MessageIntent.Info" Title="@LOC("Please select data provider first")" AllowDismiss="false" />
					}
				</FluentTab>
				<FluentTab Label="@LOC("Styling")" Id="styling">
					<FluentGrid>
						<FluentGridItem xs="6">
							<FluentNumberField TValue="short?" @bind-Value="_form.Settings.Width" AutoComplete="new-password"
											   Label="@LOC("Width, px")" Style="width:100%" Placeholder="@LOC("auto")" />
						</FluentGridItem>
						<FluentGridItem xs="6">
						</FluentGridItem>
					</FluentGrid>
					<FluentGrid>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Color")" />
							<FluentStack HorizontalGap="0" VerticalAlignment="@VerticalAlignment.Center">
								@if (_form.Settings.Color.ToAttributeValue() != "default")
								{
									<FluentIcon Value="@TfConstants.RectangleIcon"
												Color="Color.Custom" Style="height:100%;"
												CustomColor="@_form.Settings.Color.ToAttributeValue()" />
								}
								else
								{
									<FluentIcon Value="@TfConstants.GetIcon("RectangleLandscape")" Color="@Color.Accent" />
								}
								<FluentSelect @bind-SelectedOption="@_form.Settings.Color" TOption="OfficeColor"
											  Items="@(Enum.GetValues<OfficeColor>())"
											  Style="width:100%;"
											  OptionText="@(p => p.ToString())">
									<OptionTemplate Context="color">
										<FluentStack>
											@if (color.ToAttributeValue() != "default")
											{
												<FluentIcon Value="@TfConstants.RectangleIcon"
															Color="Color.Custom"
															CustomColor="@color.ToAttributeValue()" />
											}
											else
											{
												<FluentIcon Value="@TfConstants.GetIcon("RectangleLandscape")" Color="@Color.Accent" />
											}
											<FluentLabel>@color</FluentLabel>
										</FluentStack>
									</OptionTemplate>
								</FluentSelect>
							</FluentStack>
						</FluentGridItem>
						<FluentGridItem xs="6">
							<FluentInputLabel Label="@LOC("Background Color")" />
							<FluentStack HorizontalGap="0" VerticalAlignment="@VerticalAlignment.Center">
								@if (_form.Settings.BackgroundColor.ToAttributeValue() != "default")
								{
									<FluentIcon Value="@TfConstants.RectangleIcon"
												Color="Color.Custom" Style="height:100%;"
												CustomColor="@_form.Settings.BackgroundColor.ToAttributeValue()" />
								}
								else
								{
									<FluentIcon Value="@TfConstants.GetIcon("RectangleLandscape")" Color="@Color.Accent" />
								}
								<FluentSelect @bind-SelectedOption="@_form.Settings.BackgroundColor" TOption="OfficeColor"
											  Items="@(Enum.GetValues<OfficeColor>())"
											  Style="width:100%;"
											  OptionText="@(p => p.ToString())">
									<OptionTemplate Context="color">
										<FluentStack>
											@if (color.ToAttributeValue() != "default")
											{
												<FluentIcon Value="@TfConstants.RectangleIcon"
															Color="Color.Custom"
															CustomColor="@color.ToAttributeValue()" />
											}
											else
											{
												<FluentIcon Value="@TfConstants.GetIcon("RectangleLandscape")" Color="@Color.Accent" />
											}
											<FluentLabel>@color</FluentLabel>
										</FluentStack>
									</OptionTemplate>
								</FluentSelect>
							</FluentStack>
						</FluentGridItem>
					</FluentGrid>
				</FluentTab>
			</FluentTabs>
		</FluentEditForm>
	</FluentDialogBody>

	@* Footer *@
	<FluentDialogFooter>
		@if (String.IsNullOrWhiteSpace(_error))
		{
			<FluentButton Appearance="Appearance.Accent" OnClick="@_save" IconStart="_iconBtn"
						  Loading="_isSubmitting" Disabled="_isSubmitting">@_btnText</FluentButton>
		}
		<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
	</FluentDialogFooter>
</div>