@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<div class="tf-filter-manage">
	@if (Item?.QueryName == new TfFilterAnd().GetColumnName() || Item?.QueryName == new TfFilterOr().GetColumnName())
	{
		<TucCard Class="card-logical tf-filter-manage__item">
			<TitleTemplate>
				<span class="tf-filter-manage__item__title">@_columnViewTitle : </span>
				<span class="tf-filter-manage__item__suffix">@_columnViewType</span>
			</TitleTemplate>
			<ToolbarTemplate>
				@if (!ReadOnly)
				{
					<FluentStack HorizontalAlignment="@HorizontalAlignment.Right" VerticalAlignment="@VerticalAlignment.Center">
						<FluentButton Disabled="@Disabled" OnClick="@(() => AddFilter.InvokeAsync((new TfFilterAnd().GetColumnName(), Item.Path)))" IconStart="@TfConstants.GetIcon("Add")" Appearance="@Appearance.Outline">@LOC("AND")</FluentButton>
						<FluentButton Disabled="@Disabled" OnClick="@(() => AddFilter.InvokeAsync((new TfFilterOr().GetColumnName(), Item.Path)))" IconStart="@TfConstants.GetIcon("Add")" Appearance="@Appearance.Outline">@LOC("OR")</FluentButton>
						<TucSelect SelectedOption="@_selectedOption"
						           SelectedOptionChanged="((x) => _selectedOption = x)"						           
								   TOption="TfFilterQuery" Required="false"
								   Items="@AllOptions" Style="width:300px"
								   Placeholder="@LOC("select to add...")"
								   OptionValue="(x=> x.QueryName)"
								   OptionText="(x=> ColumnDict.ContainsKey(x.QueryName) ? ColumnDict[x.QueryName] : x.QueryName)" />
						<FluentButton Disabled="@Disabled" OnClick="@_addColumnFilterHandler" IconStart="@TfConstants.GetIcon("Add")" Appearance="@Appearance.Outline">@LOC("Column")</FluentButton>
						<FluentButton Disabled="@Disabled" OnClick="_deleteFilterHandler" IconStart="@TfConstants.GetIcon("Delete")!.WithColor(Color.Error)"
									  Appearance="@Appearance.Outline" Title="@LOC("delete filter")" />
					</FluentStack>
				}
			</ToolbarTemplate>
			<ChildContent>
				@if (Item.Items.Count == 0)
				{
					<div>@LOC("No filters added yet")</div>
				}
				@foreach (var item in Item.Items)
				{
					<TucFilterQueryManage Item="item" Disabled="@Disabled" ReadOnly="ReadOnly"
										  AddFilter="@((x) => AddFilter.InvokeAsync((x.Item1,x.Item2)))"
										  RemoveFilter="@((x) => RemoveFilter.InvokeAsync(x))"
										  UpdateFilter="@((x) => UpdateFilter.InvokeAsync(x))"
										  AllOptions=AllOptions
										  ColumnDict="ColumnDict"
										  TypeDict="TypeDict" />
				}
			</ChildContent>
		</TucCard>
	}
	else
	{
		<TucCard Class="card-rule">
			<TitleTemplate>
				<span class="tf-filter-manage__item__title">@_columnViewTitle : </span>
				<span class="tf-filter-manage__item__suffix">@_columnViewType</span>
				
				@if (!ColumnDict.ContainsKey(Item?.QueryName))
				{
					<div>
						<FluentIcon Value="@TfConstants.GetIcon("ErrorCircle")" Color="@Color.Error" Title="@LOC("not found")"></FluentIcon>
					</div>
				}
			</TitleTemplate>
			<ToolbarTemplate>

				@if (!TypeDict.ContainsKey(Item.QueryName)) { }
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.Boolean)
				{
					var context = new TfFilterBoolean(Item.Method);
					<TucSelect SelectedOption="@((TfFilterBooleanComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(Item.Method),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterBooleanComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterBooleanComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<TucSelect SelectedOption="@(context.ValueOptions.FirstOrDefault(x=> x.Value == Item.Value))"
								   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
								   Disabled="@(Disabled || ReadOnly)"
								   TOption="Option<string>" Required="false"
								   OptionText="@((p)=> p.Text)"
								   OptionValue="@((p)=> p.Value)"
								   Items="@context.ValueOptions" Style="width:300px" />
					}
				}
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.DateOnly
				|| TypeDict[Item.QueryName] == TfDatabaseColumnType.DateTime)
				{
					var context = new TfFilterDateTime(Item.Method);
					<TucSelect SelectedOption="@((TfFilterDateTimeComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.ComparisonMethod),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterDateTimeComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterDateTimeComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<FluentStack HorizontalGap="2">
							<FluentTextField Value="@Item.Value"
											 ValueChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
											 Disabled="@Disabled" ReadOnly="ReadOnly"
											 AutoComplete="off"
											 Placeholder="@($"{TfConstants.DateTimeFormatInput}, now()... ")" Style="width:300px" />
							<FluentButton Id="@($"tf-{context.Id}")" IconStart="@TfConstants.GetIcon("QuestionCircle")" Disabled=true />
							<FluentTooltip Anchor="@($"tf-{context.Id}")">
								@((MarkupString)LOC("for dynamic date use one of the following:{0}", "<br/> now(+- decimal hours),<br/> day(+- decimal days),<br/> month(+- decimal months),<br/> year(+- decimal year)"))
							</FluentTooltip>
						</FluentStack>
					}
				}
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.Guid)
				{
					var context = new TfFilterGuid(Item.Method);
					<TucSelect SelectedOption="@((TfFilterGuidComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.ComparisonMethod),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterGuidComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterGuidComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<FluentTextField Value="@Item.Value"
										 ValueChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
										 Disabled="@Disabled" ReadOnly="ReadOnly"
										 AutoComplete="off"
										 Placeholder="@LOC("enter valid GUID")" Style="width:300px" />
					}
				}
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.ShortInteger
				|| TypeDict[Item.QueryName] == TfDatabaseColumnType.Integer
				|| TypeDict[Item.QueryName] == TfDatabaseColumnType.LongInteger)
				{
					var context = new TfFilterNumeric(Item.Method);
					<TucSelect SelectedOption="@((TfFilterNumericComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.ComparisonMethod),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterNumericComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterNumericComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<FluentNumberField Value="@Item.Value.ToNullableLong()"
										   TValue="long?"
										   ValueChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
										   Disabled="@Disabled" ReadOnly="ReadOnly"
										   AutoComplete="off"
										   Placeholder="@LOC("enter valid integer")" Style="width:300px" />
					}
				}
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.Number)
				{
					var context = new TfFilterNumeric(Item.Method);
					<TucSelect SelectedOption="@((TfFilterNumericComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.ComparisonMethod),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterNumericComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterNumericComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<FluentNumberField Value="@Item.Value.ToNullableDecimal()"
										   TValue="decimal?"
										   ValueChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
										   Disabled="@Disabled" ReadOnly="ReadOnly"
										   AutoComplete="off"
										   Placeholder="@LOC("enter valid decimal")" Style="width:300px" />
					}
				}
				else if (TypeDict[Item.QueryName] == TfDatabaseColumnType.ShortText
				|| TypeDict[Item.QueryName] == TfDatabaseColumnType.Text)
				{
					var context = new TfFilterText(Item.Method);
					<TucSelect  SelectedOption="@((TfFilterTextComparisonMethod)Item.Method)"
							   SelectedOptionChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.ComparisonMethod),value))"
							   Disabled="@(Disabled || ReadOnly)"
							   TOption="TfFilterTextComparisonMethod" Required="true"
							   Items="@(Enum.GetValues<TfFilterTextComparisonMethod>())" Style="width:220px"
							   OptionValue="@((p)=> ((int)p).ToString())"
							   OptionText="@((p)=> LOC(p.ToDescriptionString()))" />
					@if (context.RequiresValue)
					{
						<FluentTextField AutoComplete="off"
										 Value="@Item.Value"
										 Disabled="@Disabled" ReadOnly="ReadOnly"
										 ValueChanged="@((value) => _valueChanged(TypeDict[Item.QueryName],nameof(context.Value),value))"
										 Style="width:300px" Placeholder="@LOC("no value")" />
					}
				}

				<FluentStack HorizontalAlignment="@HorizontalAlignment.Right" VerticalAlignment="@VerticalAlignment.Center">
					@if (!ReadOnly)
					{
						<FluentButton Disabled="@Disabled" OnClick="_deleteFilterHandler" IconStart="@TfConstants.GetIcon("Delete")!.WithColor(Color.Error)"
									  Appearance="@Appearance.Outline" Title="@LOC("delete filter")" />
					}
				</FluentStack>
			</ToolbarTemplate>
		</TucCard>
	}

</div>
