@inherits TfBaseComponent

@if (UC.IsBusy)
{
	<TfLoadingPane />
}
else
{
	<div style="display:flex;justify-content:space-between;align-items:center;">
		<FluentLabel Typo="Typography.PaneHeader" Style="margin-bottom:1rem">@LOC("Synchronization tasks")</FluentLabel>
		<FluentButton Appearance="@Appearance.Accent" OnClick="_synchronizeNow" Disabled="@(UC.IsSynchronizing)">@LOC("Synchronize now")</FluentButton>
	</div>


	<FluentDataGrid Items="@UC.SyncTasks"
					Pagination="_pagination"
					TGridItem="TucDataProviderSyncTask">
		<PropertyColumn Property="@(p => p.CreatedOn)" Title="created on" Format="yyyy-MM-dd HH:mm" Width="140px" />
		<TemplateColumn Title="status">
			@context.Status.ToDescriptionString()
		</TemplateColumn>
		<PropertyColumn Property="@(p => p.StartedOn)" Title="started on" Format="yyyy-MM-dd HH:mm" Width="140px" />
		<PropertyColumn Property="@(p => p.CompletedOn)" Title="completed on" Format="yyyy-MM-dd HH:mm" Width="140px" />
		<TemplateColumn Title="infos" Width="160px">
			@if (context.InfoCount > 0)
			{
				<FluentButton OnClick="@(()=> _onViewLogClick(context.Id, TucDataProviderSyncTaskInfoType.Info))">
					@LOC("{0} infos", context.InfoCount)
				</FluentButton>
			}
			else
			{
				<FluentButton Disabled="true">@LOC("no infos")</FluentButton>
			}
		</TemplateColumn>
		<TemplateColumn Title="warnings" Width="160px">
			@if (context.WarningCount > 0)
			{
				<FluentButton OnClick="@(()=> _onViewLogClick(context.Id, TucDataProviderSyncTaskInfoType.Warning))">
					@LOC("{0} warnings", context.WarningCount)
				</FluentButton>
			}
			else
			{
				<FluentButton Disabled="true">@LOC("no warnings")</FluentButton>
			}
		</TemplateColumn>
		<TemplateColumn Title="warnings" Width="160px">
			@if (context.ErrorCount > 0)
			{
				<FluentButton OnClick="@(()=> _onViewLogClick(context.Id, TucDataProviderSyncTaskInfoType.Error))">
					@LOC("{0} errors", context.ErrorCount)
				</FluentButton>
			}
			else
			{
				<FluentButton Disabled="true">@LOC("no errors")</FluentButton>
			}
		</TemplateColumn>
	</FluentDataGrid>

}

