@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<div class="spacenav-nav-wrapper">
	<div class="@($"spacenav-nav spacenav-nav__base {(SidebarExpanded.Value ? "sidebar-expanded" : "sidebar-collapsed")}")">
		<FluentNavMenu>
			<FluentNavLink Icon="@TfConstants.HomeIcon"
						   Href="/" Match="@NavLinkMatch.All" title="@TfConstants.HomeMenuTitle" />
		</FluentNavMenu>
		@if (TfAppState.Value.Pages.Count > 0)
		{
			<FluentNavMenu>
				<FluentNavLink Icon="@TfConstants.ApplicationIcon"
							   Href="@(String.Format(TfConstants.PagesSinglePageUrl,TfAppState.Value.Pages[0].Slug))" 
							   Match="@NavLinkMatch.Prefix" title="@TfConstants.PagesMenuTitle" />
			</FluentNavMenu>
		}
		<FluentDivider Class="nav-divider"></FluentDivider>
	</div>
	<div class="spacenav-nav__secondary">
		<div class="@($"spacenav-nav spacenav-nav__appbar  {(SidebarExpanded.Value ? "sidebar-expanded" : "sidebar-collapsed")}")">
			<FluentNavMenu>
				@foreach (var item in TfAppState.Value.SpacesNav)
				{
					<FluentNavLink Href="@item.Url" title="@item.Text" Class="@_spaceSelectedClass(item)" 
								   Icon="@item.IconCollapsed.WithColor(item.IconColor.ToAttributeValue())" IconColor="Color.Custom" />
				}
			</FluentNavMenu>
		</div>

		@* <TfAppBar Items="TfAppState.Value.SpacesNav" /> *@
		<div class="@($"spacenav-nav spacenav-nav__end {(SidebarExpanded.Value ? "sidebar-expanded" : "sidebar-collapsed")}")">
			<FluentNavMenu>
				<FluentNavLink Id="tf-space-search-link" Icon="@TfConstants.SearchIcon"
							   OnClick="_searchSpaceHandler" title="@LOC("Search Spaces")" />
				<FluentNavLink Id="tf-create-space-link" Icon="@TfConstants.AddIcon"
							   OnClick="_addSpaceHandler" title="@LOC("Create Space")" />
			</FluentNavMenu>
		</div>
	</div>
</div>
