@namespace WebVella.Tefter.UI.Addons
@inherits TfLocalizedViewColumnComponent

<FluentGrid>
	<FluentGridItem xs="12">
		<FluentTextField Label="@LOC("Confirmation message")"
		                 Value="@_form.ChangeConfirmationMessage" Style="width:100%"
		                 ValueChanged=@((x) => _onSettingsChanged(nameof(_form.ChangeConfirmationMessage), x))
		                 Placeholder="@LOC("empty for no confirmation")"/>
		<TucValidationMessage Field="@(nameof(_form.ChangeConfirmationMessage))" Errors="Context.ValidationErrors"/>
	</FluentGridItem>
	<FluentGrid>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Selection method")" />
			<TucSelect Items="@(Enum.GetValues<CalendarViews>())"
			           OptionValue="@((p)=> ((int)p).ToString())"
			           OptionText="@((x)=>x.ToString())"
			           TOption="CalendarViews"
			           SelectedOption="@_form.CalendarViewsSelection"
			           SelectedOptionChanged=@((x)=> _onSettingsChanged(nameof(_form.CalendarViewsSelection),x)) 
					   Style="width:100%"/>
			<TucValidationMessage Field="@(nameof(_form.CalendarViewsSelection))" Errors="Context.ValidationErrors"/>			
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentTextField Label="@LOC("Format")"
			                 Value="@_form.Format" Style="width:100%"
			                 ValueChanged=@((x)=> _onSettingsChanged(nameof(_form.Format),x))
			                 Placeholder="@LOC("eg. 'dd MMM yyyy HH:mm:ss'")" />
			<div class="tf-input-description">@LOC("defaults to the system's short date format")</div>
			<TucValidationMessage Field="@(nameof(_form.Format))" Errors="Context.ValidationErrors"/>
		</FluentGridItem>		
	</FluentGrid>	
</FluentGrid>
