@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<FluentBodyContent Class="content-body">
	<div class="content-inner">
		<FluentGrid Spacing="0">
			<FluentGridItem xs="12" md="9" lg="10" Style="padding-right:1rem">
				<TfHomeToolbar />
				@if (TfAppState.Value.HomeSearchResults.Count == 0)
				{
					<div>no items match your query</div>
				}
				@foreach (var item in TfAppState.Value.HomeSearchResults)
				{
					<TfCard Small="true" Class="tf-search-card">
						<div class="tf-search-card__type">
							<div class="tf-search-card__type__icon">
								<FluentIcon Value="@item.SpaceIcon.WithColor(item.SpaceColor.ToDescriptionString())" />
							</div>
							<div class="tf-search-card__type__badge">
								<FluentBadge>@item.Type.ToDescriptionString()</FluentBadge>
							</div>
						</div>
						<div class="tf-search-card__meta">
							<div class="tf-search-card__title">
								@item.Title
							</div>
							<div class="tf-search-card__title">
								@item.Description
							</div>
						</div>
						<div class="tf-search-card__actions">
						</div>
					</TfCard>
				}
			</FluentGridItem>
			<FluentGridItem xs="12" md="3" lg="2">
				<TfCard Title="@LOC("My Tags")" Small="true">
					@if (TfAppState.Value.HomeTags.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentStack>
							@foreach (var item in TfAppState.Value.HomeTags)
							{
								<FluentAnchor Appearance="@Appearance.Outline" Href="/">#@item.Label</FluentAnchor>
							}
						</FluentStack>
					}
				</TfCard>
				<TfCard Title="@LOC("My Saved URLs")" Small="true">
					@if (TfAppState.Value.HomeSaves.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentNavMenu>
							@foreach (var item in TfAppState.Value.HomeSaves)
							{
								<FluentNavLink Icon="@TfConstants.SaveIcon"
											   Href="@NavigatorExt.AddQueryValueToUri(item.Url, TfConstants.ActiveSaveQueryName,item.Id.ToString())" ActiveClass="noclass">
									@item.Name
								</FluentNavLink>
							}
						</FluentNavMenu>
					}
				</TfCard>
				<TfCard Title="@LOC("My Bookmarks")" Small="true">
					@if (TfAppState.Value.HomeBookmarks.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentNavMenu>
							@foreach (var item in TfAppState.Value.HomeBookmarks)
							{
								<FluentNavLink Icon="@TfConstants.BookmarkOFFIcon"
											   Href="@(String.Format(TfConstants.SpaceViewPageUrl,item.SpaceId,item.SpaceViewId))" ActiveClass="noclass">
									@item.Name
								</FluentNavLink>
							}
						</FluentNavMenu>
					}
				</TfCard>
				<TfCard Title="@LOC("My Views Visits")" Small="true">
					@if (TfAppState.Value.HomeViews.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentNavMenu>
							@foreach (var item in TfAppState.Value.HomeViews)
							{
								<FluentNavLink Icon="@TfConstants.SpaceViewIcon"
											   Href="@(String.Format(TfConstants.SpaceViewPageUrl,item.SpaceId,item.Id))" ActiveClass="noclass">
									@item.Name
								</FluentNavLink>
							}
						</FluentNavMenu>
					}
				</TfCard>
			</FluentGridItem>
		</FluentGrid>
	</div>
</FluentBodyContent>
