@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
<PageTitle>@LOC("Dashboard")</PageTitle>
<TfLayoutBodyMain>
	<Header>
		<TfPageHeader>@LOC("Dashboard")</TfPageHeader>
	</Header>
	<ChildContent>
		<FluentGrid Spacing="0">
			<FluentGridItem xs="12" md="9" lg="10" Style="padding-right:1rem">
				<TfHomeToolbar OnSearch="_onSearch" OnFilterToggle="_onToggleFilter" />
				@if (TfAppState.Value.HomeSearchResults.Count == 0)
				{
					<div>no items match your query</div>
				}
				else
				{
					<div class="tf-grid-wrapper">
						<table class="tf-grid">
							<thead class="tf-grid-thead">
								<tr class="tf-grid-tr">
									<th class="tf-grid-th" colspan="2" style="@($"background-color:{TfUserState.Value.ThemeBackgkroundColor}")">@LOC("name")</th>
									<th class="tf-grid-th" style="@($"width:80px;background-color:{TfUserState.Value.ThemeBackgkroundColor}")">@LOC("type")</th>
									<th class="tf-grid-th" style="@($"width:200px;background-color:{TfUserState.Value.ThemeBackgkroundColor}")">@LOC("view/space")</th>
								</tr>
							</thead>
							<tbody class="tf-grid-tbody">
								@foreach (var item in TfAppState.Value.HomeSearchResults)
								{
									<tr class="tf-grid-tr" style="cursor:pointer" onclick="@(()=>_onClick(item))">

										<td class="tf-grid-td" style="width:1%;">
											<div>
												<FluentIcon Style="width:24px;" Value="@item.SpaceIcon.WithColor(item.SpaceColor.ToDescriptionString())" />
											</div>
										</td>
										<td class="tf-grid-td">
											<div>
												<div>
													<FluentLabel Typo="@Typography.Body">@item.Title</FluentLabel>
												</div>
												<div class="td-description">@TfConverters.StringOverflow(item.Description, 150)</div>
											</div>
										</td>
										<td class="tf-grid-td">
											<div>
												<div><FluentBadge Appearance="@Appearance.Neutral">@item.Type.ToDescriptionString()</FluentBadge></div>
											</div>
										</td>
										<td class="tf-grid-td">
											<div>
												<div title="@item.SpaceViewName">@TfConverters.StringOverflow(item.SpaceViewName, 30)</div>
												<div class="td-description" title="@item.SpaceName">@TfConverters.StringOverflow(item.SpaceName, 30)</div>
											</div>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>

				}
			</FluentGridItem>
			<FluentGridItem xs="12" md="3" lg="2">
				<TfCard Title="@LOC("My Tags")" Style="overflow:hidden;margin-bottom:1rem">
					@if (TfAppState.Value.HomeTags.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentStack Wrap="true" HorizontalGap="3" VerticalGap="3">
							@foreach (var item in TfAppState.Value.HomeTags)
							{
								<FluentButton Appearance="@Appearance.Stealth" OnClick="@(()=>_tagClick(item))">#@item.Label</FluentButton>
							}
						</FluentStack>
					}
				</TfCard>
				<TfCard Title="@LOC("My Saved URLs")" Style="margin-bottom:1rem">
					@if (TfAppState.Value.HomeSaves.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentNavMenu>
							@foreach (var item in TfAppState.Value.HomeSaves)
							{
								<FluentNavLink Icon="@TfConstants.SaveIcon"
											   Href="@NavigatorExt.AddQueryValueToUri(item.Url, TfConstants.ActiveSaveQueryName,item.Id.ToString())" ActiveClass="noclass">
									@item.Name
								</FluentNavLink>
							}
						</FluentNavMenu>
					}
				</TfCard>
				@* 				<TfCard Title="@LOC("My Bookmarks")">
				@if (TfAppState.Value.HomeBookmarks.Count == 0)
				{
				<div>no items yet</div>
				}
				else
				{
				<FluentNavMenu>
				@foreach (var item in TfAppState.Value.HomeBookmarks)
				{
				<FluentNavLink Icon="@TfConstants.BookmarkOFFIcon"
				Href="@(String.Format(TfConstants.SpaceViewPageUrl,item.SpaceId,item.SpaceViewId))" ActiveClass="noclass">
				@item.Name
				</FluentNavLink>
				}
				</FluentNavMenu>
				}
				</TfCard> *@
				<TfCard Title="@LOC("My Views Visits")" Style="margin-bottom:1rem">
					@if (TfAppState.Value.HomeViews.Count == 0)
					{
						<div>no items yet</div>
					}
					else
					{
						<FluentNavMenu>
							@foreach (var item in TfAppState.Value.HomeViews)
							{
								<FluentNavLink Icon="@TfConstants.SpaceViewIcon"
											   Href="@(String.Format(TfConstants.SpaceViewPageUrl,item.SpaceId,item.Id))" ActiveClass="noclass">
									@item.Name
								</FluentNavLink>
							}
						</FluentNavMenu>
					}
				</TfCard>
			</FluentGridItem>
		</FluentGrid>

	</ChildContent>
</TfLayoutBodyMain>