@using WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent

<FluentEditForm EditContext="EditContext" FormName="dp-settings" class="tf-form" novalidate>
	<FluentGrid>
		<FluentGridItem xs="9">
			<FluentTextField Required="DisplayMode == Web.Models.ComponentDisplayMode.Update"
							 ReadOnly="DisplayMode == Web.Models.ComponentDisplayMode.Display"
							 TextFieldType="@TextFieldType.Text"
							 @bind-Value=_form.Filepath AutoComplete="new-password"
							 Label="@LOC("CSV File with full access path")" Style="width:100%" />
			<FluentValidationMessage For="@(() => _form.Filepath)" />
		</FluentGridItem>
		<FluentGridItem xs="3">
			<FluentTextField Disabled="true"
							 TextFieldType="@TextFieldType.Text"
							 Value="UTF-8"
							 Label="@LOC("File encoding")" Style="width:100%" />
		</FluentGridItem>
	</FluentGrid>
	<FluentGrid>
		<FluentGridItem xs="6">
			@if (DisplayMode == Web.Models.ComponentDisplayMode.Update)
			{
				<FluentRadioGroup Required="true"
								  @bind-Value=_form.Delimter
								  TValue="CsvDataProviderSettingsDelimiter"
								  Label="@LOC("Delimiter")" Style="width:100%">
					@foreach (var item in Enum.GetValues<CsvDataProviderSettingsDelimiter>())
					{
						<FluentRadio Value="@item">@LOC(item.ToString())</FluentRadio>
					}
				</FluentRadioGroup>
				<FluentValidationMessage For="@(() => _form.Delimter)" />
			}
			else
			{
				<FluentInputLabel Label="@LOC("Delimiter")" />
				<div>
					<FluentBadge Appearance="Appearance.Accent">@LOC(_form.Delimter.ToString())</FluentBadge>
				</div>
			}
		</FluentGridItem>
		<FluentGridItem xs="6">
			<FluentInputLabel Label="@LOC("Locale")" />
			<FluentStack>
				<FluentTextField ReadOnly="DisplayMode == Web.Models.ComponentDisplayMode.Display"
								 TextFieldType="@TextFieldType.Text"
								 @bind-Value=_form.CultureName AutoComplete="new-password"
								 Style="width:100%"
								 Placeholder="@LOC("empty uses culture invariant")" />
				@if (DisplayMode == Web.Models.ComponentDisplayMode.Update)
				{
					<FluentButton IconStart="(new Icons.Regular.Size20.CloudArrowDown())" Title="@LOC("get from server")"
								  OnClick="_getCultureFromServer" Appearance="@Appearance.Outline" />
				}
			</FluentStack>
			<FluentValidationMessage For="@(() => _form.CultureName)" />
		</FluentGridItem>
	</FluentGrid>

	<FluentGrid>
		<FluentGridItem xs="12">
			<FluentTextArea Required="DisplayMode == Web.Models.ComponentDisplayMode.Update"
							ReadOnly="DisplayMode == Web.Models.ComponentDisplayMode.Display"
							Rows="7"
							Value=@_advancedSettings
							ValueChanged="(x=> _changeAdvancedSettings(x))"
							Resize="TextAreaResize.Vertical"
							Label="@LOC("Advanced Settings")" Style="width:100%" />
			<FluentValidationMessage For="@(() => _form.AdvancedSetting)" />
		</FluentGridItem>
	</FluentGrid>
</FluentEditForm>


