@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="language-switch">
	<FluentButton Id="language-switch-btn"
		Appearance="@Appearance.Stealth" OnClick="@(() => _visible = !_visible)" Title="@LOC("Switch Language")">
		<span style="text-transform:uppercase">@TfUserState.Value.Culture?.CultureInfo.TwoLetterISOLanguageName</span>
	</FluentButton>
</div>
<FluentMenu Width="200" @bind-Open="_visible" Anchor="language-switch-btn" UseMenuService="false">
	@foreach (var item in TfConstants.CultureOptions)
	{
		<FluentMenuItem OnClick="@(()=> _select(item))">
			@item.Name
			<span slot="start">
				<img style="height:16px;vertical-align:text-bottom;" src="@item.IconUrl" />
			</span>
		</FluentMenuItem>
	}

</FluentMenu>