@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@if (!string.IsNullOrWhiteSpace(_error))
{
	<FluentMessageBar Intent="@MessageIntent.Error" AllowDismiss="false">@_error</FluentMessageBar>
}
else
{
	<TfCard>
		<TitleTemplate>
			<FluentStack HorizontalAlignment="@HorizontalAlignment.Right">
				@if (TfAppState.Value.Route.HasNode(RouteDataNode.SpaceDataId, 3))
				{
					<FluentButton Appearance="@Appearance.Outline" OnClick="_deleteSpaceData">
						@LOC("Delete")
						<FluentIcon Value="@TfConstants.DeleteIcon" Color="@Color.Error" Slot="start" />
					</FluentButton>
					<FluentButton Appearance="@Appearance.Outline" OnClick="_editSpaceData">
						@LOC("Edit")
						<FluentIcon Value="@TfConstants.EditIcon" Color="@Color.Accent" Slot="start" />
					</FluentButton>
				}
			</FluentStack>
		</TitleTemplate>
		<ChildContent>
			<FluentGrid>
				<FluentGridItem xs="6">
					<FluentTextField TextFieldType="@TextFieldType.Text" Value=@TfAppState.Value.SpaceData.Name
									 Label="@LOC("Name")" Style="width:100%" ReadOnly="true" />

				</FluentGridItem>
				<FluentGridItem xs="6">
					<FluentInputLabel Label="@LOC("Primary Data provider")" />
					@if (SelectedProvider is not null)
					{
						<div class="tf-grid-wrapper">
							<table class="tf-grid">
								<tbody class="tf-grid-tbody">
									<tr @key=SelectedProvider.Id class="tf-grid-tr">
										<td class="tf-grid-td">
											<div>@SelectedProvider.Code</div>
										</td>
										<td class="tf-grid-td">
											<div>@SelectedProvider.Name</div>
										</td>
										<td class="tf-grid-td">
											<div>@SelectedProvider.ProviderType.Name</div>
										</td>
										@if (TfAppState.Value.CurrentUser.IsAdmin)
										{
											<td class="tf-grid-td" style="width:80px;">
												<div>
													<FluentAnchor Appearance="@Appearance.Outline" title="@LOC("open provider")"
																  Href="@(String.Format(TfConstants.AdminDataProviderDetailsPageUrl, SelectedProvider.Id))"
																  IconStart="@TfConstants.ViewIcon" Target="_blank">@LOC("view")</FluentAnchor>
												</div>
											</td>
										}
									</tr>
								</tbody>
							</table>
						</div>
					}
					else
					{
						<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Error">@LOC("The data provider no longer exists")</FluentMessageBar>
					}
				</FluentGridItem>
			</FluentGrid>
		</ChildContent>
	</TfCard>
	<FluentLabel Typo="Typography.PaneHeader" Style="margin:1rem 0">@LOC("Primary and Shared Columns")</FluentLabel>
	<TfSpaceDataColumnCard Options="_columnOptions" Items="_form.AllColumns" AddColumn="_onAddColumn" RemoveColumn="_onRemoveColumn" />


	<FluentLabel Typo="Typography.PaneHeader" Style="margin:1rem 0">@LOC("Query Filters")</FluentLabel>
	<TfFilterCard DataProvider="SelectedProvider" Items="_form.Filters" ItemsChanged="_onFiltersChanged" />
	<FluentLabel Typo="Typography.PaneHeader" Style="margin:1rem 0">@LOC("Default Sort")</FluentLabel>
	<TfSortCard DataProvider="SelectedProvider" Items="_form.SortOrders" ItemsChanged="_onSortChanged" />
}

