@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (SidebarExpanded.Value)
{
	<TfLayoutBodyAside>
		<Toolbar>
			<div class="tf-sidetoolbar">
				<div class="tf-sidetoolbar__search">
					<FluentTextField Class="search" Placeholder="@LOC("search...")" Immediate="true" ImmediateDelay="700" Value=@search
									 ValueChanged="onSearch" AutoComplete="off" />
				</div>
				<div class="tf-sidetoolbar__actions">
					<FluentButton Title="@LOC("Create new user")"
								  IconStart="@TfConstants.AddIcon"
								  OnClick="onAddClick" Appearance="@Appearance.Outline">@LOC("New")</FluentButton>
				</div>
			</div>
		</Toolbar>
		<ChildContent>
			<FluentNavMenu Class="tf-sidenav">
				@foreach (var item in _getUsers())
				{
					<FluentNavLink Href="@(string.Format(TfConstants.AdminUserDetailsPageUrl,item.Id))" Match="@NavLinkMatch.Prefix"
								   @key="@item.Id" Icon="@TfConstants.AdminUsersIcon">
						@TfConverters.StringOverflow(item.Names, _stringLimit)
					</FluentNavLink>
				}
			</FluentNavMenu>
		</ChildContent>
	</TfLayoutBodyAside>
}
