@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="view-setting-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector" UseMenuService="false">
			<FluentMenuItem OnClick="_manageView">
				@LOC("Manage view")
				<FluentIcon Value="@TfConstants.GetIcon("Edit")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
@* 			<FluentMenuItem>
				Manage Access
				<FluentIcon Value="@TfConstants.GetIcon("KeyMultiple")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem> *@
			<FluentDivider />
			<FluentMenuItem OnClick="_manageData">
				@LOC("Manage dataset")
				<FluentIcon Value="@TfConstants.GetIcon("Database")" Slot="start" Color="@Color.Accent" />
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
