<!DOCTYPE html>
<html lang="en">

<head>
	<HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<base href="/"/>
	<ImportMap/>
	<link rel="icon" type="image/png" href="@Assets[$"/favicon.ico"]"/>
	<script src="@Assets[$"_content/WebVella.Tefter/lib/quill.js?cb={cb}"]"></script>
	<link rel="stylesheet" href="@Assets[$"WebVella.Tefter.Site.styles.css?cb={cb}"]"/>
	<link rel="stylesheet" href="@Assets[$"_content/WebVella.Tefter/styles.css?cb={cb}"]"/>
</head>

<body>
<div id="top"></div>
<Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
<script src="@Assets[$"_framework/blazor.web.js?cb={cb}"]"></script>
<script src="@Assets[$"_content/WebVella.Tefter/lib/Sortable.min.js?cb={cb}"]" type="text/javascript"></script>
<script src="@Assets[$"_content/WebVella.Tefter/app.js?cb={cb}"]" type="text/javascript"></script>
</body>
</html>


@code {
	[Inject] protected ITfConfigurationService ConfigurationService { get; set; }
	private string cb = string.Empty;

	protected override void OnInitialized()
	{
		base.OnInitialized();
#if DEBUG
		cb = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss:ffff");
#else
		cb = ConfigurationService.CacheKey;
#endif
	}

}