@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (!Item.IsGroup)
{
	<FluentMenuItem Id="@($"tf-{Item.Id}")" Label="@Item.Name" OnClick="_onClick"
					Checked="SelectionDictionary[Item.Id].Contains(ActivePresetId ?? Guid.Empty)">

		@if (!String.IsNullOrWhiteSpace(Item.Icon))
		{
			<FluentIcon Slot="start" Value="@TfConstants.GetIcon(Item.Icon)" />
		}
		@if (Item.Color != TfColor.Black)
		{
			<span class="tf-addon" style="@($"background-color:{Item.Color.ToColorString()}")"></span>
		}
	</FluentMenuItem>
}
else
{
	<FluentMenuItem Id="@($"tf-{Item.Id}")" Label="@Item.Name" Checked="SelectionDictionary[Item.Id].Contains(ActivePresetId ?? Guid.Empty)">
		<MenuItems>
			@foreach (var node in Item.Nodes)
			{
				<TfSpaceViewHeaderNavigationItem @key=node.Id Item="node"
												 OnClick="OnClick"
												 SelectionDictionary="SelectionDictionary" ActivePresetId="ActivePresetId" />
			}
		</MenuItems>
	</FluentMenuItem>
}
