@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@if (_open)
{
	<div class="view-export-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-export-selector" UseMenuService="false">
			@if (TfAppState.Value.SpaceView.Settings.CanDeleteRows)
			{
				<FluentMenuItem Disabled="@(TfAppState.Value.SelectedDataRows.Count == 0)" OnClick="_deleteSelectedRecords">
					Delete Selected
					<FluentIcon Value="@TfConstants.DeleteIcon" Slot="start" Color="@Color.Error" />
					@if (TfAppState.Value.SelectedDataRows.Count > 0)
					{
						<span slot="end">
							<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@TfAppState.Value.SelectedDataRows.Count</FluentBadge>
						</span>
					}
				</FluentMenuItem>
			}
			@foreach (var comp in TfAppState.Value.SpaceViewAddonComponents.Where(x => x.Region == TfScreenRegion.SpaceViewSelectorActions))
			{
				if (comp.ComponentType is not null)
				{
					<TfErrorBoundry ShowErrorDetails=false>
						<DynamicComponent Type="comp.ComponentType" />
					</TfErrorBoundry>
				}
			}
		</FluentMenu>
	</div>
}
