@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent


@if (_open)
{
	<div class="view-setting-selector-menu">
		<FluentMenu Width="200" @bind-Open="_open" Anchor="view-setting-selector">
			<FluentMenuItem>
				Bookmark
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Star())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem Disabled="true">
				Save view
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Save())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Save view as
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.SaveCopy())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem>
				Rename View
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Edit())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Delete View
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentMenuItem>
				Manage Access
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.KeyMultiple())" Slot="start" />
				</span>
			</FluentMenuItem>
			<FluentDivider />
			<FluentMenuItem Disabled="true">
				Copy link
				<span slot="start">
					<FluentIcon Value="@(new Icons.Regular.Size20.Link())" Slot="start" />
				</span>
			</FluentMenuItem>
		</FluentMenu>
	</div>
}
