@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent


@if (SessionState.Value.SpaceView is not null)
{
	<FluentDataGrid Items="@_data" Loading="_isGridLoading"
					ShowHover="true" GenerateHeader="GenerateHeaderOption.Sticky"
					TGridItem="DataRow">
		<SelectColumn TGridItem="DataRow" Class="wv-cell-select"
					  SelectMode="@DataGridSelectMode.Multiple"
					  SelectedItems="@_selectedItems" SelectedItemsChanged="_selectionChange" />

		<PropertyColumn Property="@(p => p.Id)" Title="Id" />
		<PropertyColumn Property="@(p => p.StringId)" Title="StringId" />
		@foreach (var column in SessionState.Value.SpaceView.Meta.Columns.Where(x => x.IsVisible))
		{
			<TemplateColumn Title="@column.Title" Width="@column.Width">
				@* 				<HeaderCellItemTemplate>
		<FluentButton Class="col-options-button" Appearance="@Appearance.Stealth">
		<FluentCounterBadge Count="2" Appearance="Appearance.Neutral" Style="padding:0 !important;">
		<FluentIcon Value="@(new Icons.Regular.Size20.Filter())" />
		</FluentCounterBadge>
		</FluentButton>
		<FluentButton Class="col-sort-button" Appearance="@Appearance.Stealth" Style="flex-grow:1">
		<span slot="end">
		<FluentCounterBadge Count="2" Appearance="Appearance.Neutral" Style="padding:0 !important;">
		<FluentIcon Value="@(new Icons.Regular.Size20.ArrowDown())" />
		</FluentCounterBadge>
		</span>
		@column.Title
		</FluentButton>
		</HeaderCellItemTemplate> *@
				<ChildContent>
					@if (column.CellType is null) { }
					else
					{
						<DynamicComponent Type="@column.CellType" Parameters="@column.GetComponentParameters(context)" />
					}
				</ChildContent>
			</TemplateColumn>
		}
	</FluentDataGrid>
	<TfLoadMore Visible="@(!_isGridLoading && !_allLoaded)" Loading="_isMoreLoading"
				OnClick="_loadMoreAsync" Style="margin-top:0.5rem;" />
}

