@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace WebVella.Tefter.Web.Components
@inherits TfFormBaseComponent
@* Header *@
<FluentDialogHeader ShowDismiss="true">
	<FluentLabel Typo="Typography.PaneHeader">@LOC("Sort order")</FluentLabel>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
	<FluentButton Appearance="Appearance.Accent" OnClick="@_submit" IconStart="TfConstants.SaveIcon">@LOC("Save")</FluentButton>
	<FluentButton Appearance="Appearance.Neutral" OnClick="@_cancel">@LOC("Cancel")</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
	@if (_spaceData is not null)
	{
		<FluentTabs @bind-ActiveTabId="@_activeTab" Class="tf-tabs">
			<FluentTab Label="@LOC("Current")" Id="current">
				<TfSortCard DataProvider="_dataProvider" @bind-Items="_items" />
			</FluentTab>
			<FluentTab Label="@LOC("Default")" Id="default">
				<TfCard Small="true" Style="margin-top:1rem">
					@if (_spaceData.SortOrders.Count > 0)
					{
						<div class="tf-grid-wrapper">
							<table class="tf-grid">
								<tbody class="tf-grid-tbody">
									@foreach (var context in _spaceData.SortOrders)
									{
										<tr @key=@Guid.NewGuid() class="tf-grid-tr">
											<td class="tf-grid-td" style="width:1%;vertical-align:middle">
												<div>
													<FluentIcon Value="@TfConstants.SpaceDataIcon" Color="@Color.Accent"></FluentIcon>
												</div>
											</td>
											<td class="tf-grid-td" style="width:300px;">
												<div>@context.DbName</div>
											</td>
											<td class="tf-grid-td">
												<div>@context.Direction.ToDescriptionString()</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					}
					else
					{
						<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("No default sort is applied in data source")</FluentMessageBar>
					}
				</TfCard>
			</FluentTab>
		</FluentTabs>
	}
	else
	{
		<FluentMessageBar AllowDismiss="false" Intent="@MessageIntent.Info">@LOC("This view's related data source is missing")</FluentMessageBar>
	}
</FluentDialogBody>
