@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="sidebar-nav-selector">
	<FluentPopover Style="width: 300px;" VerticalThreshold="170" AnchorId="space-selector"
				   @bind-Open="_open">
		<Header>
			<div class="searchbar">
				<div class="searchbar-left">
					<FluentButton Appearance="@Appearance.Outline"
								  IconStart="@TfConstants.GetIcon("Folder")" Title="browse all" OnClick="_browserAll" />
				</div>
				<div class="searchbar-right">
					<FluentSearch Value="@_selectorSearch"
								  ValueChanged="_searchValueChanged"
								  @ref=_searchField Class="search-field"/>
				</div>
			</div>
		</Header>
		<Body>
			@if (_selectorLoading)
			{
				<TfLoadingPane />
			}
			else if (_selectorItems.Count == 0)
			{
				<TfEmpty />
			}
			else
			{
				<FluentNavMenu>
					@foreach (var item in _selectorItems.Take(_optionsCountLimit))
					{
						<FluentNavLink OnClick="@item.OnSelect" @key=item.Id Icon="@item.Icon">
							@item.Name
						</FluentNavLink>
					}
					@if (_selectorItems.Count > _optionsCountLimit)
					{
						<FluentNavLink OnClick="_browserAll">
							+@(_selectorItems.Count - _optionsCountLimit) more
						</FluentNavLink>
					}
				</FluentNavMenu>

			}
		</Body>
	</FluentPopover>
</div>
