@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="@($"tf-appbar {(SidebarExpanded.Value ? "sidebar-expanded" : "sidebar-collapsed")}")" style="@(Style)">
	<FluentAppBar PopoverShowSearch="@true" Style="height:100%">
		@foreach (var item in Items)
		{
			<FluentAppBarItem Href="@item.Url"
							  Class="@(item.Selected ? "selected" : "")"
							  Style="@($"fill: {item.IconColor.ToAttributeValue()}")"
							  IconRest="@item.IconCollapsed"
							  IconActive="@item.IconCollapsed"
							  Text="@item.Text"
							  Tooltip="@item.Text" />
		}
	</FluentAppBar>
</div>


