@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<div class="tf-sidetoolbar" style="padding:var(--tf-layout-content-padding);">
		<div class="tf-sidetoolbar__title">
			@LOC("Space")
		</div>
		<div class="tf-sidetoolbar__actions">
			<FluentButton Appearance="@Appearance.Outline" OnClick="_deleteSpace" Class="red-btn" IconStart="@TfConstants.DeleteIcon.WithColor("var:(--tf-red-500)")"/>
			<FluentButton Appearance="@Appearance.Outline" OnClick="_editSpace">
				@LOC("Edit")
			</FluentButton>
		</div>
	</div>
</TucErrorBoundry>