@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent
@{
	var bcMenu = generateLocations();
}
<div class="location">
	@if (TfAppState.Value.Route is not null && TfAppState.Value.Route.HasNode(RouteDataNode.Admin, 0))
	{
		<div class="title">
			<FluentBadge Fill="somevalue" BackgroundColor="var(--tf-layout-color-accent)" Color="rgba(255,255,255,0.75)">@LOC("Admin Panel")</FluentBadge>
		</div>
	}
	else if (TfAppState.Value.Route?.SpaceId is not null)
	{
		<div class="title">
			<FluentBadge Appearance="@Appearance.Neutral">@LOC("Space")</FluentBadge>
		</div>
	}
	@if (bcMenu is not null && bcMenu.Count > 0)
	{
		<FluentBreadcrumb>
			@foreach (var item in bcMenu)
			{
				<FluentBreadcrumbItem title="@item.Text">
					@TfConverters.StringOverflow(item.Text, _ellipsisCount)
				</FluentBreadcrumbItem>
			}
		</FluentBreadcrumb>
	}
</div>


