@namespace WebVella.Tefter.EmailSender.Addons
@inherits TfBaseComponent
<TfLayoutBodyMain>
	<Header>
		<TfPageHeader>@LOC("Sent Emails")</TfPageHeader>
	</Header>
	<Toolbar>
		<div>TODO: add the search</div>
		@* <FluentSearch Placeholder="@LOC("search...")" ValueChanged="_searchValueChanged" Value="@TfAppState.Value.Route.Search" AutoComplete="off" /> *@
	</Toolbar>
	<ToolbarAside>
		<FluentStack HorizontalAlignment="@HorizontalAlignment.Right" Style="margin-bottom:1rem;">
			<FluentButton Appearance="@Appearance.Outline" OnClick="_createTestHandler" IconStart="@TfConstants.AddIcon.WithColor(Color.Accent)">
				@LOC("Sent test email")
			</FluentButton>
		</FluentStack>
	</ToolbarAside>
	<ChildContent>
		<EmailSenderLogAdmin />
	</ChildContent>
	<Footer>
		<div class="tf-grid__pager">
			<div>TODO: add the pager</div>
@* 			<TucPager Page="@(TfAppState.Value.Route?.Page ?? 1)" GoLast="@_goLastPage" GoNext="@_goNextPage"
					 GoFirst="@_goFirstPage" GoPrevious="@_goPreviousPage" GoOnPage="@_goOnPage"
					 PageSize="@(TfAppState.Value.Route?.PageSize ?? TfConstants.PageSize)" /> *@
		</div>
	</Footer>
</TfLayoutBodyMain>