@namespace WebVella.Tefter.Web.Components
@inherits ComponentBase

@if (Item is null) { }
else
{
	<a id="@Item.Id" class="@_cssClass" href="@(String.IsNullOrWhiteSpace(Item.Url) ? "#" : Item.Url)"
	   @onclick="@_onClick" @onclick:stopPropagation @onclick:preventDefault>
		<span class=tf-menu-item__content>
			@if (Item.Icon is not null)
			{
				<span class="tf-menu-item__icon"><FluentIcon Value="@Item.Icon" /></span>
			}
			@if (!String.IsNullOrWhiteSpace(Item.Text) && !String.IsNullOrWhiteSpace(Item.Description))
			{
				<span class="tf-menu-item__titleblock">
					<span class="tf-menu-item__title" title="@Item.Text">@Item.Text</span>
					<span class="tf-menu-item__description" title="@Item.Description">@Item.Description</span>
				</span>
			}
			else if (!String.IsNullOrWhiteSpace(Item.Text))
			{
				<span class="tf-menu-item__title" title="@Item.Text">@Item.Text</span>
			}
			@if (Item.Nodes.Count > 0)
			{
				<span class="tf-menu-item__expander" @onclick=Item.OnExpand @onclick:stopPropagation @onclick:preventDefault>
					<FluentIcon Value="@(Item.Expanded ? TfConstants.GetIcon("ChevronDown") : TfConstants.GetIcon("ChevronRight"))" />
				</span>
			}
		</span>
	</a>

	@if (Item.Nodes.Count > 0 && Item.Expanded)
	{
		<div class="tf-menu tf-submenu">
			@foreach (var item in Item.Nodes)
			{
				<TfTreeViewItem Item="item" />
			}
		</div>
	}
}

