@namespace WebVella.Tefter.Talk.Components
@inherits TfBaseComponent
<FluentMenuItem Disabled="@(TfAppState.Value.SelectedDataRows.Count == 0)" OnClick="_onClick">
	Comment Selected
	<FluentIcon Value="@TfConstants.GetIcon("Comment")" Slot="start" Color="@Color.Accent" />
	@if (TfAppState.Value.SelectedDataRows.Count > 0)
	{
		<span slot="end">
			<FluentBadge Appearance="@Appearance.Neutral" Style="margin-left:3px;">@TfAppState.Value.SelectedDataRows.Count</FluentBadge>
		</span>
	}
</FluentMenuItem>