@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Icon="@TfConstants.GetIcon("Table")" Color="@(_space?.Color ?? TfConstants.DefaultThemeColor)"
			   Area="@($"{_space?.Name} : {LOC("Space View")}")" Title="@_spaceView?.Name" SubTitle="@LOC("Pages")">
	<ChildContent>
		<TucErrorBoundry>
			<div style="padding:var(--tf-padding-base)">
				@if (String.IsNullOrWhiteSpace(UriInitialized))
				{
					<TucSkeletonPageHeader />
				}
				else if (_spaceView is null)
				{
					<FluentMessageBar AllowDismiss=false Intent="@MessageIntent.Error">@LOC("Item not found")</FluentMessageBar>
				}
				else
				{
					<TucCard Title="@LOC("Related Pages")">
						@if (_items.Count == 0)
						{
							<FluentMessageBar Intent="@MessageIntent.Info" AllowDismiss="false">@LOC("This view is not connected to a page")</FluentMessageBar>

						}
						else
						{
							<table class="tf-grid">
								<thead class="tf-grid-thead">
									<tr class="tf-grid-thead-bkg"></tr>
									<tr class="tf-grid-tr">
										<th class="tf-grid-th" style="width:30px;"></th>
										<th class="tf-grid-th">@LOC("page")</th>
									</tr>
								</thead>
								<tbody class="tf-grid-tbody">
									@foreach (var context in _items)
									{
										<tr @key=@Guid.NewGuid() class="tf-grid-tr">
											<td class="tf-grid-td" style="width:30px;">
												<div>
													<TucAnchor Appearance="@Appearance.Outline" title="@LOC("view details")"
																  Href="@String.Format(TfConstants.SpacePagePageUrl, context.SpaceId, context.Id)">
														<FluentIcon Value="@TfConstants.GetIcon("Eye")" />
													</TucAnchor>
												</div>
											</td>
											<td class="tf-grid-td">
												<div>
													@context.Name
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						}
					</TucCard>
				}
			</div>
		</TucErrorBoundry>
	</ChildContent>
</TucPageLayout>