@inherits FluxorLayout
@layout StateLayout
<FluentDesignTheme Mode="@ThemeMode.Value" OfficeColor="@ThemeColor.Value" StorageName="@TfConstants.UIThemeLocalKey" />
<TfLayout SidebarExpanded="@SidebarExpanded.Value" Color="@_layoutColor">
	<Header>
		<TfLayoutHeader>
			<ChildContent>
				<TfSidebarToggle />
				<TfLocation />
				<TfHeaderNavigation />
			</ChildContent>
			<Aside>
				<TfUserNavigation />
			</Aside>
		</TfLayoutHeader>
	</Header>
	<Navigation>
		<TfNavigation />
	</Navigation>
	<Body>
		@Body
	</Body>
</TfLayout>


