@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucErrorBoundry>
	<FluentMessageBar Title="Error" AllowDismiss="false"
					  Intent="@MessageIntent.Info">
		<div>No Data Providers are created yet.</div>
	</FluentMessageBar>
	<FluentButton Appearance="@Appearance.Outline" OnClick="onAddClick" Style="margin-top:2rem;">
		<FluentIcon Slot="start" Value="@TfConstants.AddIcon" Color="@Color.Accent" />
		@LOC("Create Data provider")
	</FluentButton>
</TucErrorBoundry>