@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucLayoutPageContent Title="@LOC("Data providers")">
    <Toolbar>
        <FluentButton OnClick="addItem" Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Add")">
            @LOC("New Provider")
        </FluentButton>
        <TucPageSearch/>
    </Toolbar>
    <ChildContent>
        <div style="padding:var(--tf-padding-base)">

            <table class="tf-grid">
                <colgroup>
                    <col span="1" style="width: 20px;min-width: 20px">
                    <col span="1" style="width: 20px;min-width: 20px">
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr class="tf-grid-thead-bkg"></tr>
                @if (_isLoading)
                {
                    <tr class="tf-grid-thead-loading"></tr>
                }
                <tr>
                    <th></th>
                    <th>@LOC("code")</th>
                    <th>@LOC("name")</th>
                    <th>@LOC("type")</th>
                    <th>@LOC("columns")</th>
                    <th>@LOC("data identities")</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in _items)
                {
                    <tr>
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                <TucAnchor Appearance="@Appearance.Outline" IconStart="@TfConstants.GetIcon("Open")"
                                           Href="@String.Format(TfConstants.AdminDataProviderDetailsPageUrl, item.Id).GenerateWithLocalAsReturnUrl(TfAuthLayout.GetState().NavigationState.Uri)"/>
                            </div>
                        </td>
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                @item.Code
                            </div>
                        </td>                        
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                @item.Name
                            </div>
                        </td>
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                @item.ProviderType.AddonName
                            </div>
                        </td>
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                @item.Columns.Count
                            </div>
                        </td>
                        <td>
                            <div class="tf-grid-td-hover"></div>
                            <div>
                                @item.Identities.Count
                            </div>
                        </td>                        
                    </tr>
                }
                @if (_items.Count == 0)
                {
                    <tr>
                        <td colspan="6">
                            <div class="tf-grid-td-hover"></div>
                            <div>@LOC("no items")</div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </ChildContent>
</TucLayoutPageContent>