@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="content-toolbar">
	<div class="content-toolbar-left">
		<FluentSearch />
		<FluentButton Id="view-filter-selector" OnClick="OnFilterClick" Title="data filters" Appearance="@Appearance.Outline">
			<FluentIcon Value="@TfConstants.GetIcon("Filter")" Slot="start" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
			<FluentBadge Appearance="Appearance.Neutral">12</FluentBadge>
		</FluentButton>
		<FluentButton Id="view-sort-selector" OnClick="OnSortClick" Title="data sort" Appearance="@Appearance.Outline">
			<FluentIcon Value="@TfConstants.GetIcon("ArrowSort")" Slot="start" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
			<FluentBadge Appearance="Appearance.Neutral">12</FluentBadge>
		</FluentButton>
		<FluentButton Id="grid-properties-selector" OnClick="OnGridPropertiesClick" Title="grid properties" Appearance="@Appearance.Outline">
			<FluentIcon Value="@TfConstants.GetIcon("TableSettings")" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
		</FluentButton>
	</div>
	<div class="content-toolbar-right">
		@foreach (var comp in _regionComponents)
		{
			<DynamicComponent Type="comp.ComponentType" @key=@comp.Id/>
		}
		<FluentButton Id="view-action-selector" OnClick="OnActionClick" Appearance="@Appearance.Outline">
			@LOC("Actions")
			@if (TfState.Value.SelectedDataRows.Count > 0)
			{
				<span slot="start">
					<FluentBadge Appearance="Appearance.Accent">@TfState.Value.SelectedDataRows.Count</FluentBadge>
				</span>
			}
			else
			{
				<FluentIcon Value="@TfConstants.GetIcon("Connector")" Slot="start" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
			}
		</FluentButton>
		<FluentButton Id="view-export-selector" OnClick="OnExportClick" Appearance="@Appearance.Outline">
			<FluentIcon Value="@TfConstants.GetIcon("ShareAndroid")" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
		</FluentButton>
		<FluentButton Id="view-setting-selector" OnClick="OnSettingsClick" Appearance="@Appearance.Outline">
			<FluentIcon Value="@TfConstants.GetIcon("Settings")" Color="@Color.Custom" CustomColor="@TfState.Value.SpaceIconColorString" />
		</FluentButton>
	</div>
</div>
<TfSpaceViewFilterSelector @ref="_filterSelector" />
<TfSpaceViewSortSelector @ref="_sortSelector" />
<TfSpaceViewPropertiesSelector @ref="_propertiesSelector" />
<TfSpaceViewSettingsSelector @ref="_settingSelector" />
<TfSpaceViewActionSelector @ref="_actionSelector" />
<TfSpaceViewShareSelector @ref="_shareSelector" />


