@namespace WebVella.Tefter.UI.Components
@inherits TfBaseComponent
<TucPageLayout Icon="@TfConstants.GetIcon("BookDatabase")" Area="@LOC("Data")"
			   Title="@LOC("Shared Columns")" Color="TfConstants.AdminColor">
	<div style="padding:var(--tf-padding-base)">
		<FluentMessageBar Title="Note" AllowDismiss="false"
						  Intent="@MessageIntent.Info">
			<div>@LOC("No Shared Columns are created yet.")</div>
		</FluentMessageBar>
		<FluentButton Appearance="@Appearance.Outline" OnClick="onAddClick" Style="margin-top:2rem;">
			<FluentIcon Slot="start" Value="@TfConstants.GetIcon("Add")" Color="@Color.Accent" />
			@LOC("Create Shared Column")
		</FluentButton>
	</div>
</TucPageLayout>