@namespace WebVella.Tefter.Web.Components
@inherits TfBaseComponent

<div class="@($"sidebar-nav {(UserState.Value.User.SidebarExpanded ? "expanded" : "collapsed")}")">
	<div class="sidebar-toolbar">
		<div class="sidebar-toolbar-search">
			<FluentTextField Class="search" Placeholder="search..." />
		</div>
	</div>
	<div class="sidebar-inner">
		@if (_menuLoading)
		{
			<TfLoadingPane />
		}
		else
		{
			<FluentTreeView>
				@foreach (var item in _visibleMenuItems)
				{
					<FluentTreeItem Class="level-0" Text="@item.Title" @key=@item.Id Id="@item.Id"
									@bind-Expanded=@item.Expanded Selected=@false SelectedChanged="item.OnSelect">
						<FluentIcon Value="@item.Icon" Color="@Color.Neutral" Slot="start" />
						@foreach (var node in item.Nodes)
						{
							<FluentTreeItem Class="level-1" Text="@node.Title" @key=@node.Id Id="@node.Id"
											@bind-Expanded=@node.Expanded 
											Selected=@node.Active SelectedChanged="node.OnSelect"
											InitiallySelected="@node.Active">
								<FluentIcon Value="@node.Icon" Color="@Color.Neutral" Slot="start" />
							</FluentTreeItem>
						}
					</FluentTreeItem>
				}
			</FluentTreeView>
		}
	</div>
</div>

