@namespace WebVella.Tefter.Web.Components

@inherits TfBaseComponent

<div class="@($"spacenav-nav {(SessionState.Value.SidebarExpanded ? "sidebar-expanded" : "sidebar-collapsed")}")">
	<FluentNavMenu>
		<FluentNavLink Id="tf-dashboard-link" Icon="@TfConstants.DashboardIcon"
					   Href="/" Match="@NavLinkMatch.All" />
		<FluentTooltip Anchor="tf-dashboard-link" Position="@TooltipPosition.Right">@TfConstants.DashboardMenuTitle</FluentTooltip>
		<FluentNavLink Id="tf-fast-access-link" Icon="@TfConstants.FastAccessIcon"
					   Href="/fast-access" Match="@NavLinkMatch.Prefix" />
		<FluentTooltip Anchor="tf-fast-access-link" Position="@TooltipPosition.Right">@TfConstants.FastAccesMenuTitle</FluentTooltip>
	</FluentNavMenu>
	<FluentDivider Class="nav-divider"></FluentDivider>
</div>


<TfAppBar Items="SessionState.Value.SpaceNav" Style="max-height:calc(100vh - 250px)" />

